<?php if (!defined('_GNUBOARD_')) exit; ?>

<div class="pg-anchor-in tab-e2">
    <ul class="nav nav-tabs">
	    <li {? anc_id == 'anc_cf_basic'}class="active"{/}><a href="#anc_cf_basic">기본환경</a></li>
	    <li {? anc_id == 'anc_cf_board'}class="active"{/}><a href="#anc_cf_board">게시판기본</a></li>
	    <li {? anc_id == 'anc_cf_join'}class="active"{/}><a href="#anc_cf_join">회원가입</a></li>
	    <li {? anc_id == 'anc_cf_cert'}class="active"{/}><a href="#anc_cf_cert">본인확인</a></li>
	    <li {? anc_id == 'anc_cf_mail'}class="active"{/}><a href="#anc_cf_mail">메일환경설정</a></li>
	    <!--{? 0}-->
	    <li {? anc_id == 'anc_cf_article_mail'}class="active"{/}><a href="#anc_cf_article_mail">글작성메일</a></li>
	    <li {? anc_id == 'anc_cf_join_mail'}class="active"{/}><a href="#anc_cf_join_mail">가입메일</a></li>
	    <li {? anc_id == 'anc_cf_vote_mail'}class="active"{/}><a href="#anc_cf_vote_mail">투표메일</a></li>
	    <!--{/}-->
	    <li {? anc_id == 'anc_cf_sns'}class="active"{/}><a href="#anc_cf_sns">SNS</a></li>
	    <li {? anc_id == 'anc_cf_lay'}class="active"{/}><a href="#anc_cf_lay">레이아웃 추가설정</a></li>
	    <li {? anc_id == 'anc_cf_sms'}class="active"{/}><a href="#anc_cf_sms">SMS</a></li>
	    <li {? anc_id == 'anc_cf_extra'}class="active"{/}><a href="#anc_cf_extra">여분필드</a></li>
	</ul>
	<div class="tab-bottom-line"></div>
</div>