<?php if (!defined('_GNUBOARD_')) exit; ?>

<style>
.admin-config-form .min-width-150 {min-width:150px}
.admin-config-form .inline-group > span {display:inline-block}
@media (min-width: 1100px) {
	.pg-anchor-in.tab-e2 .nav-tabs li a {font-size:14px;font-weight:bold;padding:8px 17px}
	.pg-anchor-in.tab-e2 .nav-tabs li.active a {z-index:1;border:1px solid #000;border-top:1px solid #DE2600;color:#DE2600}
	.pg-anchor-in.tab-e2 .tab-bottom-line {position:relative;display:block;height:1px;background:#000;margin-bottom:20px}
}
@media (max-width: 1099px) {
	.pg-anchor-in {position:relative;overflow:hidden;margin-bottom:20px;border:1px solid #757575}
	.pg-anchor-in.tab-e2 .nav-tabs li {width:33.33333%;margin:0}
	.pg-anchor-in.tab-e2 .nav-tabs li a {font-size:12px;padding:6px 0;text-align:center;border-bottom:1px solid #d5d5d5;margin-right:0;font-weight:bold;background:#fff}
	.pg-anchor-in.tab-e2 .nav-tabs li.active a {border:0;border-bottom:1px solid #d5d5d5 !important;color:#DE2600;background:#fff1f0}
	.pg-anchor-in.tab-e2 .nav-tabs li:nth-child(1) a {border-right:1px solid #d5d5d5}
	.pg-anchor-in.tab-e2 .nav-tabs li:nth-child(2) a {border-right:1px solid #d5d5d5}
	.pg-anchor-in.tab-e2 .nav-tabs li:nth-child(4) a {border-right:1px solid #d5d5d5}
	.pg-anchor-in.tab-e2 .nav-tabs li:nth-child(5) a {border-right:1px solid #d5d5d5}
	.pg-anchor-in.tab-e2 .nav-tabs li:nth-child(7) a {border-right:1px solid #d5d5d5;border-bottom:0 !important}
	.pg-anchor-in.tab-e2 .nav-tabs li:nth-child(8) a {border-right:1px solid #d5d5d5;border-bottom:0 !important}
	.pg-anchor-in.tab-e2 .nav-tabs li:nth-child(9) a {border-bottom:0 !important}
	.pg-anchor-in.tab-e2 .tab-bottom-line {display:none}
}
.cf_cert_hide {display:none;position:absolute;top:-20000px;left:-10000px}
</style>

<div class="admin-config-form">
	<form name="fconfigform" id="fconfigform" method="post" action="{_action_url}" onsubmit="return fconfigform_submit(this)" class="eyoom-form">
	<input type="hidden" name="token" id="token" value="">

	<div class="headline">
		<h4><strong>환경설정</strong></h4>
	</div>
	<div class="margin-bottom-30"></div>

	<div id="anc_cf_basic">
		<div class="pg-anchor">
			{# anc_cf_basic}
		</div>
		<div class="adm-form-wrap margin-bottom-30">
			<header><strong><i class="fa fa-caret-right"></i> 홈페이지 기본환경 설정</strong></header>
			<fieldset>
				<div class="row">
					<div class="col col-12">
						<section>
							<label for="cf_title" class="label">홈페이지 제목</label>
					        <label class="input">
					            <input type="text" name="cf_title" id="cf_title" value="{config.cf_title}" required>
					        </label>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-3">
						<section>
							<label for="cf_admin" class="label">최고관리자</label>
					        <label class="select">
					            {=get_member_id_select('cf_admin', 10, config.cf_admin, 'required')}<i></i>
					        </label>
						</section>
					</div>
					<div class="col col-6">
						<section>
							<label for="cf_admin_email" class="label">관리자 메일 주소</label>
					        <label class="input">
					            <input type="text" name="cf_admin_email" id="cf_admin_email" class="email" value="{config.cf_admin_email}" required>
					        </label>
					        <div class="note margin-bottom-10"><strong>Note:</strong> 관리자가 보내고 받는 용도로 사용하는 메일 주소를 입력합니다. (회원가입, 인증메일, 테스트, 회원메일발송 등에서 사용)</div>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="cf_admin_email_name" class="label">관리자 메일 발송이름</label>
					        <label class="input">
					            <input type="text" name="cf_admin_email_name" id="cf_admin_email_name" value="{config.cf_admin_email_name}" required>
					        </label>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-3">
						<section>
							<label for="cf_use_point" class="label">포인트 사용</label>
					        <label class="checkbox">
					            <input type="checkbox" name="cf_use_point" value="1" id="cf_use_point" {? config.cf_use_point}checked{/}><i></i> 사용
					        </label>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="cf_login_point" class="label">로그인시 포인트</label>
					        <label class="input">
					        	<i class="icon-append">점</i>
					            <input type="text" name="cf_login_point" value="{config.cf_login_point}" id="cf_login_point" class="text-right" required>
					        </label>
					        <div class="note margin-bottom-10"><strong>Note:</strong> 회원이 로그인시 하루에 한번만 적립</div>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="cf_memo_send_point" class="label">쪽지보낼시 차감 포인트</label>
					        <label class="input">
					        	<i class="icon-append">점</i>
					            <input type="text" name="cf_memo_send_point" value="{config.cf_memo_send_point}" id="cf_memo_send_point" class="text-right" required>
					        </label>
					        <div class="note margin-bottom-10"><strong>Note:</strong> 양수로 입력하십시오. 0점은 쪽지 보낼시 포인트를 차감하지 않습니다.</div>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="cf_point_term" class="label">포인트 유효기간</label>
							<label class="input">
								<i class="icon-append">일</i>
								<input type="text" name="cf_point_term" id="cf_point_term" value="{config.cf_point_term}" class="text-right">
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 기간을 0으로 설정시 포인트 유효기간이 적용되지 않습니다.</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-3">
						<section>
							<label for="cf_cut_name" class="label">이름(닉네임) 표시</label>
							<label class="input">
								<i class="icon-append">자리</i>
								<input type="text" name="cf_cut_name" id="cf_cut_name" value="{config.cf_cut_name}" class="text-right">
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 입력한 자리수만큼만 표시하게 됩니다.</div>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="cf_nick_modify" class="label">닉네임 수정</label>
							<div class="inline-group">
								<span>수정하면</span>
						        <span>
						            <label class="input"><input type="text" name="cf_nick_modify" id="cf_nick_modify" value="{config.cf_nick_modify}" required class="text-right" style="width:80px;"></label>
						        </span>
						        <span>일 동안 바꿀 수 없음</span>
							</div>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="cf_open_modify" class="label">정보공개 수정</label>
							<div class="inline-group">
								<span>수정하면</span>
						        <span>
						            <label class="input"><input type="text" name="cf_open_modify" id="cf_open_modify" value="{config.cf_open_modify}" required class="text-right" style="width:80px;"></label>
						        </span>
						        <span>일 동안 바꿀 수 없음</span>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-3">
						<section>
							<label for="cf_new_del" class="label">최근게시물 삭제</label>
							<label class="input">
								<i class="icon-append">일</i>
								<input type="text" name="cf_new_del" id="cf_new_del" value="{config.cf_new_del}" class="text-right">
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 설정일이 지난 최근게시물 자동 삭제</div>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="cf_memo_del" class="label">쪽지 삭제</label>
							<label class="input">
								<i class="icon-append">일</i>
								<input type="text" name="cf_memo_del" id="cf_memo_del" value="{config.cf_memo_del}" class="text-right">
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 설정일이 지난 쪽지 자동 삭제</div>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="cf_visit_del" class="label">접속자로그 삭제</label>
							<label class="input">
								<i class="icon-append">일</i>
								<input type="text" name="cf_visit_del" id="cf_visit_del" value="{config.cf_visit_del}" class="text-right">
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 설정일이 지난 접속자 로그 자동 삭제</div>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="cf_popular_del" class="label">인기검색어 삭제</label>
							<label class="input">
								<i class="icon-append">일</i>
								<input type="text" name="cf_popular_del" id="cf_popular_del" value="{config.cf_popular_del}" class="text-right">
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 설정일이 지난 인기검색어 로그 자동 삭제</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-3">
						<section>
							<label for="cf_login_minutes" class="label">현재 접속자</label>
							<label class="input">
								<i class="icon-append">분</i>
								<input type="text" name="cf_login_minutes" id="cf_login_minutes" value="{config.cf_login_minutes}" class="text-right">
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 설정값 이내의 접속자를 현재 접속자로 인정</div>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="cf_new_rows" class="label">최근게시물 라인수</label>
							<label class="input">
								<i class="icon-append">라인</i>
								<input type="text" name="cf_new_rows" id="cf_new_rows" value="{config.cf_new_rows}" class="text-right">
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 최근 게시물 목록 한페이지당 라인수</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-3">
						<section>
							<label for="cf_new_skin" class="label">최근게시물 스킨</label>
							<label class="select">
								{=get_skin_select('new', 'cf_new_skin', 'cf_new_skin', config.cf_new_skin, 'required')}<i></i>
							</label>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="cf_mobile_new_skin" class="label">모바일 최근게시물 스킨</label>
							<label class="select">
								{=get_mobile_skin_select('new', 'cf_mobile_new_skin', 'cf_mobile_new_skin', config.cf_mobile_new_skin, 'required')}<i></i>
							</label>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="cf_search_skin" class="label">검색 스킨</label>
							<label class="select">
								{=get_skin_select('search', 'cf_search_skin', 'cf_search_skin', config.cf_search_skin, 'required')}<i></i>
							</label>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="cf_mobile_search_skin" class="label">모바일 검색 스킨</label>
							<label class="select">
								{=get_mobile_skin_select('search', 'cf_mobile_search_skin', 'cf_mobile_search_skin', config.cf_mobile_search_skin, 'required')}<i></i>
							</label>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-3">
						<section>
							<label for="cf_connect_skin" class="label">접속자 스킨</label>
							<label class="select">
								{=get_skin_select('connect', 'cf_connect_skin', 'cf_connect_skin', config.cf_connect_skin, 'required')}<i></i>
							</label>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="cf_mobile_connect_skin" class="label">모바일 접속자 스킨</label>
							<label class="select">
								{=get_mobile_skin_select('connect', 'cf_mobile_connect_skin', 'cf_mobile_connect_skin', config.cf_mobile_connect_skin, 'required')}<i></i>
							</label>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="cf_faq_skin" class="label">FAQ 스킨</label>
							<label class="select">
								{=get_skin_select('faq', 'cf_faq_skin', 'cf_faq_skin', config.cf_faq_skin, 'required')}<i></i>
							</label>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="cf_mobile_faq_skin" class="label">모바일 FAQ 스킨</label>
							<label class="select">
								{=get_mobile_skin_select('faq', 'cf_mobile_faq_skin', 'cf_mobile_faq_skin', config.cf_mobile_faq_skin, 'required')}<i></i>
							</label>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-6">
						<div class="row">
							<div class="col col-6">
								<section>
									<label for="cf_editor" class="label">에디터 선택</label>
							        <label class="select">
										<select name="cf_editor" id="cf_editor">
											<option value="">사용안함</option>
											<!--{@ cf_editor}-->
											<option value="{.value_}" {? config.cf_editor == .value_}selected{/}>{.value_}</option>
											<!--{/}-->
										</select><i></i>
									</label>
								</section>
							</div>
						</div>
						<div class="note margin-bottom-10"><strong>Note:</strong> {C.G5_EDITOR_URL} 밑의 DHTML 에디터 폴더를 선택합니다.</div>
					</div>
					<div class="col col-6">
						<div class="row">
							<div class="col col-6">
								<section>
									<label for="cf_captcha_mp3" class="label">음성캡챠 선택</label>
							        <label class="select">
										<select name="cf_captcha_mp3" id="cf_captcha_mp3" required>
											<option value="">선택</option>
											<!--{@ cf_captcha}-->
											<option value="{.value_}" {? config.cf_captcha_mp3 == .value_}selected{/}>{.value_}</option>
											<!--{/}-->
										</select><i></i>
									</label>
								</section>
							</div>
						</div>
						<div class="note margin-bottom-10"><strong>Note:</strong> {C.G5_CAPTCHA_URL}/mp3 밑의 음성 폴더를 선택합니다.</div>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-6">
						<section>
							<label for="cf_possible_ip" class="label">접근가능 IP</label>
							<label class="textarea">
								<textarea name="cf_possible_ip" id="cf_possible_ip" rows="8">{config.cf_possible_ip}</textarea>
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 입력된 IP의 컴퓨터만 접근할 수 있습니다.<br>123.123.+ 도 입력 가능. (엔터로 구분)</div>
						</section>
					</div>
					<div class="col col-6">
						<section>
							<label for="cf_intercept_ip" class="label">접근차단 IP</label>
							<label class="textarea">
								<textarea name="cf_intercept_ip" id="cf_intercept_ip" rows="8">{config.cf_intercept_ip}</textarea>
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 입력된 IP의 컴퓨터는 접근할 수 없음.<br>123.123.+ 도 입력 가능. (엔터로 구분)</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-12">
						<section>
							<label for="cf_analytics" class="label">방문자분석 스크립트</label>
							<label class="textarea">
								<textarea name="cf_analytics" id="cf_analytics" rows="8">{config.cf_analytics}</textarea>
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 방문자분석 스크립트 코드를 입력합니다. 예) 구글 애널리틱스</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-12">
						<section>
							<label for="cf_add_meta" class="label">추가 메타태그</label>
							<label class="textarea">
								<textarea name="cf_add_meta" id="cf_add_meta" rows="8">{config.cf_add_meta}</textarea>
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 추가로 사용하실 meta 태그를 입력합니다.</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-6">
						<section>
							<label for="cf_syndi_token" class="label">네이버 신디케이션 연동키</label>
							<label class="input">
								<input type="text" name="cf_syndi_token" id="cf_syndi_token" value="{config.cf_syndi_token}">
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 네이버 신디케이션 연동키(token)을 입력하면 네이버 신디케이션을 사용할 수 있습니다.<br>연동키는 <a href="http://webmastertool.naver.com/" target="_blank"><u>네이버 웹마스터도구</u></a> -> 네이버 신디케이션에서 발급할 수 있습니다.</div>
						</section>
					</div>
					<div class="col col-6">
						<section>
							<label for="cf_syndi_except" class="label">네이버 신디케이션 제외게시판</label>
							<label class="input">
								<input type="text" name="cf_syndi_except" id="cf_syndi_except" value="{config.cf_syndi_except}">
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 네이버 신디케이션 수집에서 제외할 게시판 아이디를 | 로 구분하여 입력하십시오. 예) notice|adult<br>참고로 그룹접근사용 게시판, 글읽기 권한 2 이상 게시판, 비밀글은 신디케이션 수집에서 제외됩니다.</div>
						</section>
					</div>
				</div>
			</fieldset>
			
			<fieldset>
				<div class="row">
					<div class="col col-6">
						<section>
							<label for="cf_slack_token" class="label">슬랙 Legacy token</label>
							<label class="input">
								<input type="text" name="cf_slack_token" id="cf_slack_token" value="{config.cf_slack_token}">
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 슬랙 (<a href="http://slack.com" target="_blank">slack.com</a>)을 이용하여 글쓰기/댓글쓰기 내용을 실시간 푸쉬 알람으로 받아 보실 수 있습니다.<br>연동키는 <a href="https://api.slack.com/custom-integrations/legacy-tokens" target="_blank"><u>슬랙 Legacy tokens</u></a> 에서 발급받으실 수 있습니다. (Workspace에 Sign In 하시면 토큰 생성이 가능합니다.)<br><span class="color-red">ERR_BLOCKED_BY_XSS_AUDITOR 에러로 차단이 되는 경우, 새로고침하고 저장해 주세요.</span></div>
						</section>
					</div>
					<div class="col col-6">
						<section>
							<label for="cf_slack_channel" class="label">슬랙 채널명</label>
							<label class="input">
								<i class="icon-prepend">#</i>
								<input type="text" name="cf_slack_channel" id="cf_slack_channel" value="{config.cf_slack_channel}">
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 워크스페이스에 생성한 채널명을 입력해 주세요.<br>최신글 및 댓글등을 해당 채널로 받아보실 수 있습니다.</div>
						</section>
					</div>
				</div>
			</fieldset>
		</div>
	</div>

	{frm_submit}

	<div id="anc_cf_board">
		<div class="pg-anchor">
			{# anc_cf_board}
		</div>
		<div class="adm-form-wrap margin-bottom-30">
			<header><strong><i class="fa fa-caret-right"></i> 게시판 기본 설정</strong></header>
			<fieldset>
				<div class="row">
					<div class="col col-3">
						<section>
							<label for="cf_page_rows" class="label">한페이지당 라인수</label>
							<label class="input">
								<i class="icon-append">라인</i>
								<input type="text" name="cf_page_rows" id="cf_page_rows" value="{config.cf_page_rows}" class="text-right">
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 목록(리스트) 한페이지당 라인수</div>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="cf_mobile_page_rows" class="label">모바일 한페이지당 라인수</label>
							<label class="input">
								<i class="icon-append">라인</i>
								<input type="text" name="cf_mobile_page_rows" id="cf_mobile_page_rows" value="{config.cf_mobile_page_rows}" class="text-right">
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 모바일 목록 한페이지당 라인수</div>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="cf_write_pages" class="label">페이지 표시 수</label>
							<label class="input">
								<i class="icon-append">p.</i>
								<input type="text" name="cf_write_pages" id="cf_write_pages" value="{config.cf_write_pages}" class="text-right">
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 목록(리스트) 페이지 블럭당 페이지수</div>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="cf_mobile_pages" class="label">모바일 페이지 표시 수</label>
							<label class="input">
								<i class="icon-append">p.</i>
								<input type="text" name="cf_mobile_pages" id="cf_mobile_pages" value="{config.cf_mobile_pages}" class="text-right">
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 모바일 목록 페이지 블럭당 페이지수</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-3">
						<section>
							<label for="cf_delay_sec" class="label">글쓰기 간격</label>
					        <label class="input">
					        	<i class="icon-append">초</i>
					            <input type="text" name="cf_delay_sec" id="cf_delay_sec" value="{config.cf_delay_sec}" required>
					        </label>
					        <div class="note margin-bottom-10"><strong>Note:</strong> 초단위로 지정한 초가 지난 후 글쓰기가 가능합니다.</div>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="cf_delay_sec" class="label">새창 링크</label>
					        <label class="select">
				                <select name="cf_link_target" id="cf_link_target">
				                    <option value="_blank"{=get_selected(config.cf_link_target, '_blank')}>_blank</option>
				                    <option value="_self"{=get_selected($config.cf_link_target, '_self')}>_self</option>
				                    <option value="_top"{=get_selected($config.cf_link_target, '_top')}>_top</option>
				                    <option value="_new"{=get_selected($config.cf_link_target, '_new')}>_new</option>
				                </select><i></i>
					        </label>
					        <div class="note margin-bottom-10"><strong>Note:</strong> 글내용중 자동 링크되는 타켓을 지정합니다.</div>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="cf_search_part" class="label">검색 단위</label>
					        <label class="input">
					        	<i class="icon-append">건</i>
					            <input type="text" name="cf_search_part" id="cf_search_part" value="{config.cf_search_part}">
					        </label>
					        <div class="note margin-bottom-10"><strong>Note:</strong> 지정한 건수 단위로 검색</div>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="cf_use_copy_log" class="label">복사, 이동시 로그</label>
					        <label class="checkbox">
					            <input type="checkbox" name="cf_use_copy_log" value="1" id="cf_use_copy_log" {? config.cf_use_copy_log}checked{/}><i></i> 남김
					        </label>
					        <div class="note margin-bottom-10"><strong>Note:</strong> 게시물 아래에 누구로 부터 복사, 이동됨 표시</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-3">
						<section>
							<label for="cf_read_point" class="label">글읽기 포인트</label>
							<label class="input">
								<i class="icon-append">점</i>
								<input type="text" name="cf_read_point" id="cf_read_point" value="{config.cf_read_point}" class="text-right">
							</label>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="cf_write_point" class="label">글쓰기 포인트</label>
							<label class="input">
								<i class="icon-append">점</i>
								<input type="text" name="cf_write_point" id="cf_write_point" value="{config.cf_write_point}" class="text-right">
							</label>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="cf_comment_point" class="label">댓글쓰기 포인트</label>
							<label class="input">
								<i class="icon-append">점</i>
								<input type="text" name="cf_comment_point" id="cf_comment_point" value="{config.cf_comment_point}" class="text-right">
							</label>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="cf_download_point" class="label">다운로드 포인트</label>
							<label class="input">
								<i class="icon-append">점</i>
								<input type="text" name="cf_download_point" id="cf_download_point" value="{config.cf_download_point}" class="text-right">
							</label>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-4">
						<section>
							<label for="cf_image_extension" class="label">이미지 업로드 확장자</label>
							<label class="input">
								<input type="text" name="cf_image_extension" id="cf_image_extension" value="{config.cf_image_extension}">
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 게시판 글작성시 이미지 파일 업로드 가능 확장자. | 로 구분</div>
						</section>
					</div>
					<div class="col col-4">
						<section>
							<label for="cf_flash_extension" class="label">플래쉬 업로드 확장자</label>
							<label class="input">
								<input type="text" name="cf_flash_extension" id="cf_flash_extension" value="{config.cf_flash_extension}">
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 게시판 글작성시 플래쉬 파일 업로드 가능 확장자. | 로 구분</div>
						</section>
					</div>
					<div class="col col-4">
						<section>
							<label for="cf_movie_extension" class="label">동영상 업로드 확장자</label>
							<label class="input">
								<input type="text" name="cf_movie_extension" id="cf_movie_extension" value="{config.cf_movie_extension}">
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 게시판 글작성시 동영상 파일 업로드 가능 확장자. | 로 구분</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-12">
						<section>
							<label for="cf_filter" class="label">단어 필터링</label>
							<label class="textarea">
								<textarea name="cf_filter" id="cf_filter" rows="8">{config.cf_filter}</textarea>
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 입력된 단어가 포함된 내용은 게시할 수 없습니다. 단어와 단어 사이는 ,로 구분합니다.</div>
						</section>
					</div>
				</div>
			</fieldset>

		</div>
	</div>

	{frm_submit}

	<div id="anc_cf_join">
		<div class="pg-anchor">
			{# anc_cf_join}
		</div>
		<div class="adm-form-wrap margin-bottom-30">
			<header><strong><i class="fa fa-caret-right"></i> 회원가입 설정</strong></header>
			<fieldset>
				<div class="cont-text-bg">
					<p class="bg-info font-size-12 margin-bottom-0"><i class="fa fa-info-circle"></i> 회원가입 시 사용할 스킨과 입력 받을 정보 등을 설정할 수 있습니다.</p>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-3">
						<section>
							<label for="cf_member_skin" class="label">회원 스킨</label>
							<label class="select">
								{=get_skin_select('member', 'cf_member_skin', 'cf_member_skin', config.cf_member_skin, 'required')}<i></i>
							</label>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="cf_mobile_member_skin" class="label">모바일 회원 스킨</label>
							<label class="select">
								{=get_mobile_skin_select('member', 'cf_mobile_member_skin', 'cf_mobile_member_skin', config.cf_mobile_member_skin, 'required')}<i></i>
							</label>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-3">
						<section>
							<label class="label">홈페이지 입력</label>
							<div class="inline-group">
								<label for="cf_use_homepage" class="checkbox"><input type="checkbox" name="cf_use_homepage" value="1" id="cf_use_homepage" {? config.cf_use_homepage}checked{/}><i></i> 보이기</label>
								<label for="cf_req_homepage" class="checkbox"><input type="checkbox" name="cf_req_homepage" value="1" id="cf_req_homepage" {? config.cf_req_homepage}checked{/}><i></i> 필수입력</label>
							</div>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label class="label">주소 입력</label>
							<div class="inline-group">
								<label for="cf_use_addr" class="checkbox"><input type="checkbox" name="cf_use_addr" value="1" id="cf_use_addr" {? config.cf_use_addr}checked{/}><i></i> 보이기</label>
								<label for="cf_req_addr" class="checkbox"><input type="checkbox" name="cf_req_addr" value="1" id="cf_req_addr" {? config.cf_req_addr}checked{/}><i></i> 필수입력</label>
							</div>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label class="label">전화번호 입력</label>
							<div class="inline-group">
								<label for="cf_use_tel" class="checkbox"><input type="checkbox" name="cf_use_tel" value="1" id="cf_use_tel" {? config.cf_use_tel}checked{/}><i></i> 보이기</label>
								<label for="cf_req_tel" class="checkbox"><input type="checkbox" name="cf_req_tel" value="1" id="cf_req_tel" {? config.cf_req_tel}checked{/}><i></i> 필수입력</label>
							</div>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label class="label">휴대폰번호 입력</label>
							<div class="inline-group">
								<label for="cf_use_hp" class="checkbox"><input type="checkbox" name="cf_use_hp" value="1" id="cf_use_hp" {? config.cf_use_hp}checked{/}><i></i> 보이기</label>
								<label for="cf_req_hp" class="checkbox"><input type="checkbox" name="cf_req_hp" value="1" id="cf_req_hp" {? config.cf_req_hp}checked{/}><i></i> 필수입력</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-3">
						<section>
							<label class="label">서명 입력</label>
							<div class="inline-group">
								<label for="cf_use_signature" class="checkbox"><input type="checkbox" name="cf_use_signature" value="1" id="cf_use_signature" {? config.cf_use_signature}checked{/}><i></i> 보이기</label>
								<label for="cf_req_signature" class="checkbox"><input type="checkbox" name="cf_req_signature" value="1" id="cf_req_signature" {? config.cf_req_signature}checked{/}><i></i> 필수입력</label>
							</div>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label class="label">자기소개 입력</label>
							<div class="inline-group">
								<label for="cf_use_profile" class="checkbox"><input type="checkbox" name="cf_use_profile" value="1" id="cf_use_profile" {? config.cf_use_profile}checked{/}><i></i> 보이기</label>
								<label for="cf_req_profile" class="checkbox"><input type="checkbox" name="cf_req_profile" value="1" id="cf_req_profile" {? config.cf_req_profile}checked{/}><i></i> 필수입력</label>
							</div>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="cf_use_recommend" class="label">추천인제도 사용</label>
							<label class="checkbox">
								<input type="checkbox" name="cf_use_recommend" value="1" id="cf_use_recommend" {? config.cf_use_recommend}checked{/}> <i></i> 사용
							</label>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="cf_recommend_point" class="label">추천인 포인트</label>
							<label class="input">
								<i class="icon-append">점</i>
								<input type="text" name="cf_recommend_point" id="cf_recommend_point" value="{config.cf_recommend_point}" class="text-right">
							</label>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-3">
						<section>
							<label for="cf_register_level" class="label">회원가입시 권한</label>
							<label class="select">
								{=get_member_level_select('cf_register_level', 1, 9, config.cf_register_level)}<i></i>
							</label>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="cf_register_point" class="label">회원가입시 포인트</label>
							<label class="input">
								<i class="icon-append">점</i>
								<input type="text" name="cf_register_point" id="cf_register_point" value="{config.cf_register_point}" class="text-right">
							</label>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="cf_leave_day" class="label">회원탈퇴후 삭제일</label>
							<label class="input">
								<i class="icon-append">일</i>
								<input type="text" name="cf_leave_day" id="cf_leave_day" value="{config.cf_leave_day}" class="text-right">
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 설정일 이후 자동 삭제</div>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="cf_register_level" class="label">회원아이콘 사용</label>
							<label class="select">
								<select name="cf_use_member_icon" id="cf_use_member_icon">
				                    <option value="0"{=get_selected(config.cf_use_member_icon, '0')}>미사용</option>
				                    <option value="1"{=get_selected(config.cf_use_member_icon, '1')}>아이콘만 표시</option>
				                    <option value="2"{=get_selected(config.cf_use_member_icon, '2')}>아이콘+이름 표시</option>
								</select><i></i>
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 게시물에 게시자 닉네임 대신 아이콘 사용</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-3">
						<section>
							<label for="cf_icon_level" class="label">아이콘 업로드 권한</label>
							<label class="select">
								{=get_member_level_select('cf_icon_level', 1, 9, config.cf_icon_level)}<i></i>
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 설정레벨 이상</div>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="cf_member_icon_size" class="label">회원아이콘 용량</label>
							<label class="input">
								<i class="icon-append">byte</i>
								<input type="text" name="cf_member_icon_size" id="cf_member_icon_size" value="{config.cf_member_icon_size}" class="text-right">
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 설정용량 이하</div>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="cf_member_icon_width" class="label">회원아이콘 가로사이즈</label>
							<label class="input">
								<i class="icon-append">px</i>
								<input type="text" name="cf_member_icon_width" id="cf_member_icon_width" value="{config.cf_member_icon_width}" class="text-right">
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 설정 가로사이즈 이하</div>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="cf_member_icon_height" class="label">회원아이콘 세로사이즈</label>
							<label class="input">
								<i class="icon-append">px</i>
								<input type="text" name="cf_member_icon_height" id="cf_member_icon_height" value="{config.cf_member_icon_height}" class="text-right">
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 설정 세로사이즈 이하</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-6">
						<section>
							<label for="cf_prohibit_id" class="label">아이디,닉네임 금지단어</label>
							<label class="textarea">
								<textarea name="cf_prohibit_id" id="cf_prohibit_id" rows="8">{config.cf_prohibit_id}</textarea>
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 회원아이디, 닉네임으로 사용할 수 없는 단어를 정합니다. 쉼표 (,) 로 구분</div>
						</section>
					</div>
					<div class="col col-6">
						<section>
							<label for="cf_prohibit_email" class="label">입력 금지 메일</label>
							<label class="textarea">
								<textarea name="cf_prohibit_email" id="cf_prohibit_email" rows="8">{config.cf_prohibit_email}</textarea>
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 입력 받지 않을 도메인을 지정합니다. 엔터로 구분 ex) hotmail.com</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-12">
						<section>
							<label for="cf_stipulation" class="label">회원가입약관</label>
							<label class="textarea">
								<textarea name="cf_stipulation" id="cf_stipulation" rows="8">{config.cf_stipulation}</textarea>
							</label>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-12">
						<section>
							<label for="cf_privacy" class="label">개인정보처리방침</label>
							<label class="textarea">
								<textarea name="cf_privacy" id="cf_privacy" rows="8">{config.cf_privacy}</textarea>
							</label>
						</section>
					</div>
				</div>
			</fieldset>
		</div>
	</div>

	{frm_submit}

	<div id="anc_cf_cert">
		<div class="pg-anchor">
			{# anc_cf_cert}
		</div>
		<div class="adm-form-wrap margin-bottom-30">
			<header><strong><i class="fa fa-caret-right"></i> 본인확인 설정</strong></header>
			<fieldset>
				<div class="cont-text-bg">
					<p class="bg-info font-size-12 margin-bottom-0">
			            <i class="fa fa-info-circle"></i> 회원가입 시 본인확인 수단을 설정합니다.<br>
			            <i class="fa fa-info-circle"></i> 실명과 휴대폰 번호 그리고 본인확인 당시에 성인인지의 여부를 저장합니다.<br>
			            <i class="fa fa-info-circle"></i> 게시판의 경우 본인확인 또는 성인여부를 따져 게시물 조회 및 쓰기 권한을 줄 수 있습니다.
					</p>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-3">
						<section>
							<label for="cf_cert_use" class="label">본인확인 설정</label>
							<label class="select">
								<select name="cf_cert_use" id="cf_cert_use">
									{=option_selected("0", config.cf_cert_use, "사용안함")}
									{=option_selected("1", config.cf_cert_use, "테스트")}
									{=option_selected("2", config.cf_cert_use, "실서비스")}
								</select><i></i>
							</label>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset class="cf_cert_service">
				<div class="row cf_cert_service">
					<div class="col col-3">
						<section>
							<label for="cf_cert_ipin" class="label">아이핀 본인확인</label>
							<label class="select">
								<select name="cf_cert_ipin" id="cf_cert_ipin">
									{=option_selected("", config.cf_cert_ipin, "사용안함")}
									{=option_selected("kcb", config.cf_cert_ipin, "코리아크레딧뷰로(KCB) 아이핀")}
								</select><i></i>
							</label>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="cf_cert_hp" class="label">휴대폰 본인확인</label>
							<label class="select">
								<select name="cf_cert_hp" id="cf_cert_hp">
									{=option_selected("", config.cf_cert_hp, "사용안함")}
									{=option_selected("kcb", config.cf_cert_hp, "코리아크레딧뷰로(KCB) 휴대폰 본인확인")}
									{=option_selected("kcp", config.cf_cert_hp, "NHN KCP 휴대폰 본인확인")}
									{=option_selected("lg", config.cf_cert_hp, "LG유플러스 휴대폰 본인확인")}
								</select><i></i>
							</label>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset class="cf_cert_service">
				<div class="row cf_cert_service">
					<div class="col col-12">
						<label for="cf_cert_kcb_cd" class="label">코리아크레딧뷰로 KCB 회원사ID</label>
						<div class="row">
							<div class="col col-3">
								<section>
									<label class="input">
										<input type="text" name="cf_cert_kcb_cd" value="{config.cf_cert_kcb_cd}" id="cf_cert_kcb_cd">
									</label>
								</section>
							</div>
							<div class="col col-9">
								<a href="http://sir.kr/main/service/b_ipin.php" target="_blank" class="btn-e btn-e-md btn-e-dark">KCB 아이핀 서비스 신청페이지</a>
								<a href="http://sir.kr/main/service/b_cert.php" target="_blank" class="btn-e btn-e-md btn-e-dark">KCB 휴대폰 본인확인 서비스 신청페이지</a>
							</div>
						</div>
						<div class="note margin-bottom-10"><strong>Note:</strong> KCB 회원사ID를 입력해 주십시오.<br>서비스에 가입되어 있지 않다면, KCB와 계약체결 후 회원사ID를 발급 받으실 수 있습니다. 이용하시려는 서비스에 대한 계약을 아이핀, 휴대폰 본인확인 각각 체결해주셔야 합니다. 아이핀 본인확인 테스트의 경우에는 KCB 회원사ID가 필요 없으나, 휴대폰 본인확인 테스트의 경우 KCB 에서 따로 발급 받으셔야 합니다.</div>
					</div>
				</div>
			</fieldset>

			<fieldset class="cf_cert_service">
				<div class="row cf_cert_service">
					<div class="col col-12">
						<label for="cf_cert_kcp_cd" class="label">NHN KCP 사이트코드</label>
						<div class="row">
							<div class="col col-3">
								<section>
									<label class="input">
										<i class="icon-prepend">SM</i>
										<input type="text" name="cf_cert_kcp_cd" value="{config.cf_cert_kcp_cd}" id="cf_cert_kcp_cd">
									</label>
								</section>
							</div>
							<div class="col col-9">
								<a href="http://sir.kr/main/service/p_cert.php" target="_blank" class="btn-e btn-e-md btn-e-dark">NHN KCP 휴대폰 본인확인 서비스 신청페이지</a>
							</div>
						</div>
						<div class="note margin-bottom-10"><strong>Note:</strong> SM으로 시작하는 5자리 사이트 코드중 뒤의 3자리만 입력해 주십시오.<br>서비스에 가입되어 있지 않다면, 본인확인 서비스 신청페이지에서 서비스 신청 후 사이트코드를 발급 받으실 수 있습니다.</div>
					</div>
				</div>
			</fieldset>

			<fieldset class="cf_cert_service">
				<div class="row cf_cert_service">
					<div class="col col-12">
						<label for="cf_lg_mid" class="label">LG유플러스 상점아이디</label>
						<div class="row">
							<div class="col col-3">
								<section>
									<label class="input">
										<i class="icon-prepend">si_</i>
										<input type="text" name="cf_lg_mid" value="{config.cf_lg_mid}" id="cf_lg_mid">
									</label>
								</section>
							</div>
							<div class="col col-9">
								<a href="http://sir.kr/main/service/lg_cert.php" target="_blank" class="btn-e btn-e-md btn-e-dark">LG유플러스 본인확인 서비스 신청페이지</a>
							</div>
						</div>
						<div class="note margin-bottom-10"><strong>Note:</strong> LG유플러스 상점아이디 중 si_를 제외한 나머지 아이디만 입력해 주십시오.<br>서비스에 가입되어 있지 않다면, 본인확인 서비스 신청페이지에서 서비스 신청 후 상점아이디를 발급 받으실 수 있습니다. <strong>LG유플러스 휴대폰본인확인은 ActiveX 설치가 필요하므로 Internet Explorer 에서만 사용할 수 있습니다.</strong></div>
					</div>
				</div>
				<div class="row cf_cert_service">
					<div class="col col-12">
						<label for="cf_lg_mid" class="label">LG유플러스 MERT KEY</label>
						<div class="row">
							<div class="col col-3">
								<label class="input">
									<input type="text" name="cf_lg_mert_key" id="cf_lg_mert_key" value="{config.cf_lg_mert_key}">
								</label>
							</div>
						</div>
						<div class="note margin-bottom-10"><strong>Note:</strong> LG유플러스 상점MertKey는 상점관리자 -> 계약정보 -> 상점정보관리에서 확인하실 수 있습니다.</div>
					</div>
				</div>
			</fieldset>

			<fieldset class="cf_cert_service">
				<div class="row cf_cert_service">
					<div class="col col-6">
						<div class="row">
							<div class="col col-6">
								<section>
									<label for="cf_cert_limit" class="label">본인확인 이용제한</label>
									<label class="input">
										<i class="icon-append">회</i>
										<input type="text" name="cf_cert_limit" value="{config.cf_cert_limit}" id="cf_cert_limit" class="text-right">
									</label>
								</section>
							</div>
						</div>
						<div class="note margin-bottom-10"><strong>Note:</strong> 하루동안 아이핀과 휴대폰 본인확인 인증 이용회수를 제한할 수 있습니다.<br>회수제한은 실서비스에서 아이핀과 휴대폰 본인확인 인증에 개별 적용됩니다.<br>0 으로 설정하시면 회수제한이 적용되지 않습니다.</div>
					</div>
					<div class="col col-6">
						<section>
							<label for="cf_cert_req" class="label">본인확인 필수</label>
							<label class="checkbox">
								<input type="checkbox" name="cf_cert_req" value="1" id="cf_cert_req"{=get_checked(config.cf_cert_req, 1)}><i></i> 예
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 회원가입 때 본인확인을 필수로 할지 설정합니다. 필수로 설정하시면 본인확인을 하지 않은 경우 회원가입이 안됩니다.</div>
						</section>
					</div>
				</div>
			</fieldset>

		</div>
	</div>

	{frm_submit}

	<div id="anc_cf_mail">
		<div class="pg-anchor">
			{# anc_cf_mail}
		</div>
		<div class="adm-form-wrap margin-bottom-30">
			<header><strong><i class="fa fa-caret-right"></i> 기본 메일 환경 설정</strong></header>
			<fieldset>
				<div class="row">
					<div class="col col-4">
						<section>
							<label for="cf_email_use" class="label">메일발송 사용</label>
							<label class="checkbox">
								<input type="checkbox" name="cf_email_use" id="cf_email_use" value="1" {? config.cf_email_use}checked{/}><i></i> 사용
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 체크하지 않으면 메일발송을 아예 사용하지 않습니다. 메일 테스트도 불가합니다.</div>
						</section>
					</div>
					<div class="col col-4">
						<section>
							<label for="cf_use_email_certify" class="label">메일인증 사용</label>
							<label class="checkbox">
								<input type="checkbox" name="cf_use_email_certify" id="cf_use_email_certify" value="1" {? config.cf_use_email_certify}checked{/}><i></i> 사용
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 메일에 배달된 인증 주소를 클릭하여야 회원으로 인정합니다.</div>
						</section>
					</div>
					<div class="col col-4">
						<section>
							<label for="cf_formmail_is_member" class="label">폼메일 사용 여부</label>
							<label class="checkbox">
								<input type="checkbox" name="cf_formmail_is_member" id="cf_formmail_is_member" value="1" {? config.cf_formmail_is_member}checked{/}><i></i> 회원만 사용
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 체크하지 않으면 비회원도 사용 할 수 있습니다.</div>
						</section>
					</div>
				</div>
			</fieldset>

			<header class="border-top"><strong><i class="fa fa-caret-right"></i> 게시판 글 작성 시 메일 설정</strong></header>
			<fieldset>
				<div class="row">
					<div class="col col-4">
						<section>
							<label for="cf_email_wr_super_admin" class="label">최고관리자</label>
							<label class="checkbox">
								<input type="checkbox" name="cf_email_wr_super_admin" id="cf_email_wr_super_admin" value="1" {? config.cf_email_wr_super_admin}checked{/}><i></i> 사용
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 최고관리자에게 메일을 발송합니다.</div>
						</section>
					</div>
					<div class="col col-4">
						<section>
							<label for="cf_email_wr_group_admin" class="label">그룹관리자</label>
							<label class="checkbox">
								<input type="checkbox" name="cf_email_wr_group_admin" id="cf_email_wr_group_admin" value="1" {? config.cf_email_wr_group_admin}checked{/}><i></i> 사용
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 그룹관리자에게 메일을 발송합니다.</div>
						</section>
					</div>
					<div class="col col-4">
						<section>
							<label for="cf_email_wr_board_admin" class="label">게시판관리자</label>
							<label class="checkbox">
								<input type="checkbox" name="cf_email_wr_board_admin" id="cf_email_wr_board_admin" value="1" {? config.cf_email_wr_board_admin}checked{/}><i></i> 회원만 사용
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 게시판관리자에게 메일을 발송합니다.</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-4">
						<section>
							<label for="cf_email_wr_write" class="label">원글작성자</label>
							<label class="checkbox">
								<input type="checkbox" name="cf_email_wr_write" id="cf_email_wr_write" value="1" {? config.cf_email_wr_write}checked{/}><i></i> 사용
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 게시자님께 메일을 발송합니다.</div>
						</section>
					</div>
					<div class="col col-8">
						<section>
							<label for="cf_email_wr_comment_all" class="label">댓글작성자</label>
							<label class="checkbox">
								<input type="checkbox" name="cf_email_wr_comment_all" id="cf_email_wr_comment_all" value="1" {? config.cf_email_wr_comment_all}checked{/}><i></i> 사용
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 원글에 댓글이 올라오는 경우 댓글 쓴 모든 분들께 메일을 발송합니다.</div>
						</section>
					</div>
				</div>
			</fieldset>

			<header class="border-top"><strong><i class="fa fa-caret-right"></i> 회원가입 및 기타 메일 설정</strong></header>
			<fieldset>
				<div class="row">
					<div class="col col-4">
						<section>
							<label for="cf_email_mb_super_admin" class="label">최고관리자 메일발송</label>
							<label class="checkbox">
								<input type="checkbox" name="cf_email_mb_super_admin" id="cf_email_mb_super_admin" value="1" {? config.cf_email_mb_super_admin}checked{/}><i></i> 사용
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 최고관리자에게 메일을 발송합니다.</div>
						</section>
					</div>
					<div class="col col-4">
						<section>
							<label for="cf_email_mb_member" class="label">회원님께 메일발송</label>
							<label class="checkbox">
								<input type="checkbox" name="cf_email_mb_member" id="cf_email_mb_member" value="1" {? config.cf_email_mb_member}checked{/}><i></i> 사용
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 회원가입한 회원님께 메일을 발송합니다.</div>
						</section>
					</div>
				</div>
			</fieldset>

			<header class="border-top"><strong><i class="fa fa-caret-right"></i> 투표 기타의견 작성 시 메일 설정</strong></header>
			<fieldset>
				<div class="row">
					<div class="col col-12">
						<section>
							<label for="cf_email_po_super_admin" class="label">최고관리자 메일발송</label>
							<label class="checkbox">
								<input type="checkbox" name="cf_email_po_super_admin" id="cf_email_po_super_admin" value="1" {? config.cf_email_po_super_admin}checked{/}><i></i> 사용
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 최고관리자에게 메일을 발송합니다.</div>
						</section>
					</div>
				</div>
			</fieldset>
		</div>
	</div>

	{frm_submit}

	<div id="anc_cf_sns">
		<div class="pg-anchor">
			{# anc_cf_sns}
		</div>
		<div class="adm-form-wrap margin-bottom-30">
			<header><strong><i class="fa fa-caret-right"></i> 소셜네트워크서비스(SNS : Social Network Service)</strong></header>
			<fieldset>
				<div class="row">
					<div class="col col-4">
						<section>
							<label for="cf_facebook_appid" class="label">페이스북 앱 ID</label>
							<label class="input">
								<input type="text" name="cf_facebook_appid" id="cf_facebook_appid" value="{config.cf_facebook_appid}">
							</label>
						</section>
					</div>

					<div class="col col-4">
						<section class="label-height">
							<a href="https://developers.facebook.com/apps" target="_blank" class="btn-e btn-e-sm btn-e-dark text-center min-width-150">앱 등록하기</a>
						</section>
					</div>
					<div class="col col-4">
						<section>
							<label for="cf_facebook_secret" class="label">페이스북 앱 Secret</label>
							<label class="input">
								<input type="text" name="cf_facebook_secret" id="cf_facebook_secret" value="{config.cf_facebook_secret}">
							</label>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-4">
						<section>
							<label for="cf_twitter_key" class="label">트위터 컨슈머 Key</label>
							<label class="input">
								<input type="text" name="cf_twitter_key" id="cf_twitter_key" value="{config.cf_twitter_key}">
							</label>
						</section>
					</div>

					<div class="col col-4">
						<section class="label-height">
							<a href="https://dev.twitter.com/apps" target="_blank" class="btn-e btn-e-sm btn-e-dark text-center min-width-150">앱 등록하기</a>
						</section>
					</div>
					<div class="col col-4">
						<section>
							<label for="cf_twitter_secret" class="label">트위터 컨슈머 Secret</label>
							<label class="input">
								<input type="text" name="cf_twitter_secret" id="cf_twitter_secret" value="{config.cf_twitter_secret}">
							</label>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-4">
						<section>
							<label for="cf_googl_shorturl_apikey" class="label">구글 짧은주소 API Key</label>
							<label class="input">
								<input type="text" name="cf_googl_shorturl_apikey" id="cf_googl_shorturl_apikey" value="{config.cf_googl_shorturl_apikey}">
							</label>
						</section>
					</div>

					<div class="col col-4">
						<section class="label-height">
							<a href="http://code.google.com/apis/console/" target="_blank" class="btn-e btn-e-sm btn-e-dark text-center min-width-150">API Key 등록하기</a>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-4">
						<section>
							<label for="cf_kakao_js_apikey" class="label">카카오 Javascript API Key</label>
							<label class="input">
								<input type="text" name="cf_kakao_js_apikey" id="cf_kakao_js_apikey" value="{config.cf_kakao_js_apikey}">
							</label>
						</section>
					</div>

					<div class="col col-4">
						<section class="label-height">
							<a href="http://developers.kakao.com/" target="_blank" class="btn-e btn-e-sm btn-e-dark text-center min-width-150">앱 등록하기</a>
						</section>
					</div>
				</div>
			</fieldset>
		</div>
	</div>

	<div id="anc_cf_lay">
		<div class="pg-anchor">
			{# anc_cf_lay}
		</div>
		<div class="adm-form-wrap margin-bottom-30">
			<header><strong><i class="fa fa-caret-right"></i> 레이아웃 추가설정</strong></header>
			<fieldset>
				<div class="cont-text-bg">
					<p class="bg-info font-size-12 margin-bottom-0">
			            <i class="fa fa-info-circle"></i> 기본 설정된 파일 경로 및 script, css 를 추가하거나 변경할 수 있습니다.
					</p>
				</div>
			</fieldset>
			<fieldset>
				<div class="row">
					<div class="col col-12">
						<section>
							<label for="cf_add_script" class="label">추가 script, css</label>
							<label class="textarea">
								<textarea name="cf_add_script" id="cf_add_script" rows="8">{=get_text(config.cf_add_script)}</textarea>
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> HTML의 &lt;/HEAD&gt; 태그위로 추가될 JavaScript와 css 코드를 설정합니다.<br>관리자 페이지에서는 이 코드를 사용하지 않습니다.</div>
						</section>
					</div>
				</div>
			</fieldset>
		</div>
	</div>

	{frm_submit}

	<div id="anc_cf_sms">
		<div class="pg-anchor">
			{# anc_cf_sms}
		</div>
		<div class="adm-form-wrap margin-bottom-30">
			<header><strong><i class="fa fa-caret-right"></i> SMS 설정</strong></header>
			<fieldset>
				<div class="row">
					<div class="col col-3">
						<section>
							<label for="cf_sms_use" class="label">SMS 사용</label>
							<label class="select">
				                <select id="cf_sms_use" name="cf_sms_use">
				                    <option value="" {=get_selected(config.cf_sms_use, '')}>사용안함</option>
				                    <option value="icode" {=get_selected(config.cf_sms_use, 'icode')}>아이코드</option>
				                </select><i></i>
							</label>
						</section>
					</div>
					<div class="col col-9">
						<div class="row">
							<div class="col col-4">
								<section>
									<label for="cf_editor" class="label">SMS 전송유형</label>
							        <label class="select">
						                <select id="cf_sms_type" name="cf_sms_type">
						                    <option value="" {=get_selected(config.cf_sms_type, '')}>SMS</option>
						                    <option value="LMS" {=get_selected(config.cf_sms_type, 'LMS')}>LMS</option>
						                </select><i></i>
									</label>
								</section>
							</div>
						</div>
						<div class="note margin-bottom-10"><strong>Note:</strong> 전송유형을 SMS로 선택하시면 최대 80바이트까지 전송하실 수 있으며 LMS로 선택하시면 90바이트 이하는 SMS로, <br>그 이상은 1500바이트까지 LMS로 전송됩니다.<br>요금은 건당 SMS는 16원, LMS는 48원입니다.</div>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-3">
						<section>
							<label for="cf_icode_id" class="label">아이코드 회원아이디</label>
							<label class="input">
				                <input type="text" name="cf_icode_id" value="{config.cf_icode_id}" id="cf_icode_id">
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 아이코드에서 사용하시는 회원아이디를 입력합니다.</div>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="cf_icode_pw" class="label">아이코드 비밀번호</label>
							<label class="input">
				                <input type="password" name="cf_icode_pw" value="{config.cf_icode_pw}" id="cf_icode_pw">
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 아이코드에서 사용하시는 비밀번호를 입력합니다.</div>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="cf_icode_pw" class="label">요금제</label>
							<input type="hidden" name="cf_icode_server_ip" value="{config.cf_icode_server_ip}">
							<label class="input margin-top-5">
								<!--{? userinfo.payment == 'A'}-->
								충전제<input type="hidden" name="cf_icode_server_port" value="7295" id="cf_icode_server_port">
				                <!--{: userinfo.payment == 'C'}-->
				                정액제<input type="hidden" name="cf_icode_server_port" value="7296" id="cf_icode_server_port">
				                <!--{:}-->
				                가입해주세요.<input type="hidden" name="cf_icode_server_port" value="7295" id="cf_icode_server_port">
				                <!--{/}-->
							</label>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="cf_icode_pw" class="label">아이코드 SMS 신청 [회원가입]</label>
							<a href="http://icodekorea.com/res/join_company_fix_a.php?sellid=sir2" target="_blank" class="btn-e btn-e-sm btn-e-dark text-center margin-top-5">아이코드 회원가입</a>
						</section>
					</div>
				</div>
			</fieldset>

			<!--{? userinfo.payment == 'A'}-->
			<fieldset>
				<div class="row">
					<div class="col col-3">
						<section>
							<label for="cf_icode_id" class="label">충전 잔액</label>
							<label class="input">
				                {=number_format(userinfo.coin)} 원
							</label>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="cf_icode_pw" class="label">아이코드 충전하기</label>
							<label class="input" style="margin-top:5px">
								<a href="http://www.icodekorea.com/smsbiz/credit_card_amt.php?icode_id={config.cf_icode_id}&amp;icode_passwd={config.cf_icode_pw}" target="_blank" class="btn-e btn-e-sm btn-e-dark text-center" style="min-width:150px" onclick="window.open(this.href,'icode_payment', 'scrollbars=1,resizable=1');return false;">충전하기</a>
							</label>
						</section>
					</div>
				</div>
			</fieldset>
			<!--{/}-->
		</div>
	</div>

	<div id="anc_cf_extra">
		<div class="pg-anchor">
			{# anc_cf_extra}
		</div>
		<div class="adm-form-wrap margin-bottom-30">
			<header><strong><i class="fa fa-caret-right"></i> 여분필드 기본 설정</strong></header>
			<!--{@ cf_extra}-->
			<fieldset>
				<div class="row">
					<div class="col col-6">
						<section>
							<label for="cf_{.key_}_subj" class="label">여분필드 {.key_} 제목</label>
					        <label class="input">
					        	<input type="text" name="cf_{.key_}_subj" id="cf_{.key_}_subj" value="{=get_text(.cf_subject)}">
					        </label>
						</section>
					</div>
					<div class="col col-6">
						<section>
							<label for="cf_{.key_}" class="label">여분필드 {.key_} 값</label>
					        <label class="input">
					        	<input type="text" name="cf_{.key_}" id="cf_{.key_}" value="{=get_text(.cf_value)}">
					        </label>
						</section>
					</div>
				</div>
			</fieldset>
			<!--{/}-->
		</div>
	</div>

	{frm_submit}

	</form>
</div>

<script>
$('.pg-anchor a').on('click', function(e) {
	e.stopPropagation();
	var scrollTopSpace;
	if (window.innerWidth >= 1100) {
		scrollTopSpace = 70;
	} else {
		scrollTopSpace = 70;
	}
	var tabLink = $(this).attr('href');
	var offset = $(tabLink).offset().top;
	$('html, body').animate({scrollTop : offset - scrollTopSpace}, 500);
	return false;
});
	
$(function() {
	<!--{? !config.cf_cert_use}-->
	$(".cf_cert_service").addClass("cf_cert_hide");
	<!--{/}-->

    $("#cf_cert_use").change(function(){
        switch($(this).val()) {
            case "0":
                $(".cf_cert_service").addClass("cf_cert_hide");
                break;
            default:
                $(".cf_cert_service").removeClass("cf_cert_hide");
                break;
        }
    });
});

function fconfigform_submit(f) {
    return true;
}
</script>