<?php if (!defined("_GNUBOARD_")) exit; ?>

<div class="index_img">
	<div class="margin-bottom-5 ">
		<div>
			<img src="./img/brosiidea/who.jpg" class="img-responsive" >
		</div>
	</div>

	<div class="margin-bottom-5 ">
		<div>
			<img src="./img/brosiidea/who1.jpg" class="img-responsive" >
		</div>
	</div>

	<div class="margin-bottom-5 ">
		<div>
			<img src="./img/brosiidea/who2.jpg" class="img-responsive" >
		</div>
	</div>

	<div class="margin-bottom-5 ">
		<div>
			<img src="./img/brosiidea/who3.jpg" class="img-responsive" >
		</div>
	</div>

	<div class="margin-bottom-5 ">
		<div>
			<img src="./img/brosiidea/who4.jpg" class="img-responsive" >
		</div>
	</div>

	<div class="margin-bottom-5 ">
		<div>
			<img src="./img/brosiidea/who5.jpg" class="img-responsive" >
		</div>
	</div>

	<div class="margin-bottom-5 ">
		<div>
			<img src="./img/brosiidea/who6.jpg" class="img-responsive" >
		</div>
	</div>
</div>
