<?php if (!defined("_GNUBOARD_")) exit; ?>

<div class="index_img">
	<div class="margin-bottom-5 ">
		<div>
			<img src="./img/brandmt/brandmarketing_01.png" class="img-responsive" >
		</div>
	</div>

	<div class="margin-bottom-5 ">
		<div>
			<img src="./img/brandmt/brandmarketing_02.png" class="img-responsive" >
		</div>
	</div>

	<div class="margin-bottom-5 ">
		<div>
			<img src="./img/brandmt/brandmarketing_03.png" class="img-responsive" >
		</div>
	</div>

	<div class="margin-bottom-5 ">
		<div>
			<img src="./img/brandmt/brandmarketing_04.png" class="img-responsive" >
		</div>
	</div>

	<div class="margin-bottom-5 ">
		<div>
			<img src="./img/brandmt/brandmarketing_05.png" class="img-responsive" >
		</div>
	</div>

	<div class="margin-bottom-5 ">
		<div>
			<img src="./img/brandmt/brandmarketing_06.png" class="img-responsive" >
		</div>
	</div>

	<div class="margin-bottom-5 ">
		<div>
			<img src="./img/brandmt/brandmarketing_07.jpg" class="img-responsive" >
		</div>
	</div>
</div>
