<?php if (!defined("_GNUBOARD_")) exit; ?>

<div class="contact-us">
	<div class="map-box">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1581.5470957095627!2d126.8641938798604!3d37.55284456117903!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357c9c0327bd26cf%3A0x833b59c2f9048b4d!2z7ISc7Jq47Yq567OE7IucIOqwleyEnOq1rCDrk7HstIwx64-ZIDY0Ny0yNg!5e0!3m2!1sko!2skr!4v1516797847656" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
</div>