<?php if (!defined("_GNUBOARD_")) exit; ?>

<div class="index_img">
	<div class="margin-bottom-5 ">
		<div>
			<img src="./img/onlinemt/onlinemarketing_01.png" class="img-responsive" >
		</div>
	</div>

	<div class="margin-bottom-5 ">
		<div>
			<img src="./img/onlinemt/onlinemarketing_02.png" class="img-responsive" >
		</div>
	</div>

	<div class="margin-bottom-5 ">
		<div>
			<img src="./img/onlinemt/onlinemarketing_03.png" class="img-responsive" >
		</div>
	</div>

	<div class="margin-bottom-5 ">
		<div>
			<img src="./img/onlinemt/onlinemarketing_04.png" class="img-responsive" >
		</div>
	</div>

	<div class="margin-bottom-5 ">
		<div>
			<img src="./img/onlinemt/onlinemarketing_05.png" class="img-responsive" >
		</div>
	</div>

	<div class="margin-bottom-5 ">
		<div>
			<img src="./img/onlinemt/onlinemarketing_06.png" class="img-responsive" >
		</div>
	</div>

	<div class="margin-bottom-5 ">
		<div>
			<img src="./img/onlinemt/onlinemarketing_07.png" class="img-responsive" >
		</div>
	</div>

	<div class="margin-bottom-5 ">
		<div>
			<img src="./img/onlinemt/onlinemarketing_08.png" class="img-responsive" >
		</div>
	</div>

	<div class="margin-bottom-5 ">
		<div>
			<img src="./img/onlinemt/onlinemarketing_09.png" class="img-responsive" >
		</div>
	</div>

	<div class="margin-bottom-5 ">
		<div>
			<img src="./img/onlinemt/onlinemarketing_10.png" class="img-responsive" >
		</div>
	</div>
</div>
