<?php if (!defined("_GNUBOARD_")) exit; ?>

<div class="index_img">
	<div class="margin-bottom-5 ">
		<div>
			<img src="./img/portfolio/portfolio_01.png" class="img-responsive" >
		</div>
	</div>

	<div class="margin-bottom-5 ">
		<div>
			<img src="./img/portfolio/portfolio_02.png" class="img-responsive" >
		</div>
	</div>

	<div class="margin-bottom-5 ">
		<div>
			<img src="./img/portfolio/portfolio_03.png" class="img-responsive" >
		</div>
	</div>

	<div class="margin-bottom-5 ">
		<div>
			<img src="./img/portfolio/portfolio_04.png" class="img-responsive" >
		</div>
	</div>
</div>
