<?php if (!defined('_GNUBOARD_')) exit; ?>

<style>
.admin-board-form .width-80px {width:80px !important}
.admin-board-form .width-200px {width:200px !important}
.admin-board-form .inline-group > span {display:inline-block}
@media (max-width: 500px) {
	.admin-board-form .btn-e-lg {margin-bottom:5px}
}
@media (min-width: 651px) {
	.pg-anchor-in.tab-e2 .nav-tabs li a {font-size:14px;font-weight:bold;padding:8px 17px}
	.pg-anchor-in.tab-e2 .nav-tabs li.active a {z-index:1;border:1px solid #000;border-top:1px solid #DE2600;color:#DE2600}
	.pg-anchor-in.tab-e2 .tab-bottom-line {position:relative;display:block;height:1px;background:#000;margin-bottom:20px}
}
@media (max-width: 650px) {
	.pg-anchor-in {position:relative;overflow:hidden;margin-bottom:20px;border:1px solid #757575}
	.pg-anchor-in.tab-e2 .nav-tabs li {width:33.33333%;margin:0}
	.pg-anchor-in.tab-e2 .nav-tabs li a {font-size:12px;padding:6px 0;text-align:center;border-bottom:1px solid #d5d5d5;margin-right:0;font-weight:bold;background:#fff}
	.pg-anchor-in.tab-e2 .nav-tabs li.active a {border:0;border-bottom:1px solid #d5d5d5 !important;color:#DE2600;background:#fff1f0}
	.pg-anchor-in.tab-e2 .nav-tabs li:nth-child(1) a {border-right:1px solid #d5d5d5}
	.pg-anchor-in.tab-e2 .nav-tabs li:nth-child(2) a {border-right:1px solid #d5d5d5}
	.pg-anchor-in.tab-e2 .nav-tabs li:nth-child(4) a {border-right:1px solid #d5d5d5;border-bottom:0 !important}
	.pg-anchor-in.tab-e2 .nav-tabs li:nth-child(5) a {border-right:1px solid #d5d5d5;border-bottom:0 !important}
	.pg-anchor-in.tab-e2 .nav-tabs li:nth-child(6) a {border-bottom:0 !important}
	.pg-anchor-in.tab-e2 .tab-bottom-line {display:none}
}
</style>

<div class="admin-board-form">
	<form name="fboardform" method="post" action="{_action_url}" onsubmit="return fboardform_submit(this)" enctype="multipart/form-data" class="eyoom-form">
	<input type="hidden" name="w" value="{_w}">
	<input type="hidden" name="sfl" value="{_sfl}">
	<input type="hidden" name="stx" value="{_stx}">
	<input type="hidden" name="sst" value="{_sst}">
	<input type="hidden" name="sod" value="{_sod}">
	<input type="hidden" name="page" value="{_page}">
	<input type="hidden" name="token" value="">

	<div class="headline">
		<h4><strong>게시판 {_html_title}</strong></h4>
	</div>
	<div class="margin-bottom-30"></div>

	<div id="anc_bo_basic">
		<div class="pg-anchor">
			{# anc_bo_basic}
		</div>
		<div class="adm-form-wrap margin-bottom-30">
			<header><strong><i class="fa fa-caret-right"></i> 게시판 기본 설정</strong></header>
			<fieldset>
				<div class="row">
					<div class="col col-3">
						<section>
							<label for="bo_table" class="label">TABLE</label>
					        <label class="input">
					            <input type="text" name="bo_table" id="bo_table" value="{board.bo_table}" maxlength="20" {_required} {_readonly}>
					        </label>
					        <!--{? _w==''}-->
					        <div class="note margin-bottom-10"><strong>Note:</strong> 영문자, 숫자, _ 만 가능 (공백없이 20자 이내)</div>
					        <!--{/}-->
						</section>
					</div>
					<!--{? _w=='u'}-->
					<div class="col col-9">
						<section class="label-height">
					        <a href="{C.G5_BBS_URL}/board.php?bo_table={board.bo_table}" target="_blank" class="btn-e btn-e-yellow">게시판 바로가기</a> <a href="{C.EYOOM_ADMIN_URL}/?dir=board&amp;pid=board_list" class="btn-e btn-e-dark">목록으로</a>
						</section>
					</div>
					<!--{/}-->
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-3">
						<section>
							<label for="gr_id" class="label">그룹</label>
					        <label class="select">
					            {=get_group_select('gr_id', board.gr_id, 'required')}<i></i>
					        </label>
						</section>
					</div>
					<!--{? _w==''}-->
					<div class="col col-3">
						<section class="label-height">
							<a href="javascript:document.location.href='{C.EYOOM_ADMIN_URL}/?dir=board&amp;pid=board_list&amp;sfl=a.gr_id&stx='+document.fboardform.gr_id.value;" class="btn-e btn-e-md btn-e-dark">동일그룹 게시판목록</a>
						</section>
					</div>
					<!--{/}-->
					<div class="col col-3">
						<section>
							<label for="bo_device" class="label">접속기기</label>
					        <label class="select">
					            <select id="bo_device" name="bo_device">
				                    <option value="both"{=get_selected(board.bo_device, 'both')}>PC와 모바일에서 모두 사용</option>
				                    <option value="pc"{=get_selected(board.bo_device, 'pc')}>PC 전용</option>
				                    <option value="mobile"{=get_selected(board.bo_device, 'mobile')}>모바일 전용</option>
					            </select><i></i>
					        </label>
					        <div class="note margin-bottom-10"><strong>Note:</strong> PC 와 모바일 사용을 구분합니다.</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-6">
						<section>
							<label for="bo_subject" class="label">게시판 제목</label>
							<label class="input">
								<input type="text" name="bo_subject" id="bo_subject" value="{board.bo_subject}">
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> PC에서 사용될 게시판 명칭을 입력해 주세요.</div>
						</section>
					</div>
					<div class="col col-6">
						<section>
								<label for="bo_mobile_subject" class="label">모바일 게시판 제목</label>
					        <label class="input">
					            <input type="text" name="bo_mobile_subject" id="bo_mobile_subject" value="{board.bo_mobile_subject}">
					        </label>
					        <div class="note margin-bottom-10"><strong>Note:</strong> 모바일에서 보여지는 게시판 제목이 다른 경우에 입력합니다. 입력이 없으면 기본 게시판 제목이 출력됩니다.</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-6">
						<section>
							<label for="bo_category_list" class="label">분류</label>
							<label class="input">
								<input type="text" name="bo_category_list" id="bo_category_list" value="{=get_text(board.bo_category_list)}">
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 분류와 분류 사이는 | 로 구분하세요. (예: 질문|답변) 첫자로 #은 입력하지 마세요. (예: #질문|#답변 [X])</div>
						</section>
					</div>
					<div class="col col-6">
						<section>
							<label for="bo_use_category" class="label">분류사용 여부</label>
					        <label class="checkbox">
					            <input type="checkbox" name="bo_use_category" id="bo_use_category" value="1" {? board.bo_use_category}checked{/}><i></i> 사용
					        </label>
					        <div class="note margin-bottom-10"><strong>Note:</strong> 분류를 사용하고자 할 경우, 체크해 주세요.</div>
						</section>
					</div>
				</div>
			</fieldset>

			<!--{? _w=='u'}-->
			<fieldset>
				<div class="row">
					<div class="col col-12">
						<section>
							<label for="proc_count" class="label">카운트 조정</label>
					        <label class="checkbox">
					            <input type="checkbox" name="proc_count" id="proc_count" value="1"><i></i> 카운트 조정 적용하기 (<strong>현재 원글수 : </strong>{=number_format(board.bo_count_write)}, <strong>현재 댓글수 : </strong>{=number_format(board.bo_count_comment)})
					        </label>

					        <div class="note margin-bottom-10"><strong>Note:</strong> 게시판 목록에서 글의 번호가 맞지 않을 경우에 체크하십시오.</div>
						</section>
					</div>
				</div>
			</fieldset>
			<!--{/}-->
		</div>
	</div>

	{ frm_submit }

	<div id="anc_bo_auth">
		<div class="pg-anchor">
			{# anc_bo_auth}
		</div>

		<div class="adm-form-wrap margin-bottom-30">
			<header><strong><i class="fa fa-caret-right"></i> 게시판 권한 설정</strong></header>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<div class="row">
							<div class="col col-6">
								<section>
									<label for="bo_admin" class="label">게시판 관리자</label>
							        <label class="input">
							            <input type="text" name="bo_admin" id="bo_admin" value="{board.bo_admin}" maxlength="40">
							        </label>
							        <div class="note margin-bottom-10"><strong>Note:</strong> 게시판을 관리할 회원의 아이디를 입력해 주세요.</div>
								</section>
							</div>
						</div>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<div class="inline-group pull-right">
								<label for="chk_grp_admin" class="checkbox"><input type="checkbox" name="chk_grp_admin" id="chk_grp_admin"><i></i>그룹적용</label>
								<label for="chk_all_admin" class="checkbox"><input type="checkbox" name="chk_all_admin" id="chk_all_admin"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="cont-text-bg">
					<p class="bg-info font-size-12 margin-bottom-0"><i class="fa fa-info-circle"></i> 권한 1은 비회원, 2 이상 회원입니다. 권한은 10 이 가장 높습니다.</p>
				</div>
			</fieldset>

			<!--{@ bo_auth}-->
			<fieldset>
				<div class="row">
					<div class="col col-9">
						<div class="row">
							<div class="col col-3">
								<section>
									<label for="{.field}" class="label">{.text} 권한</label>
							        <label class="select">
							            {=get_member_level_select(.field, 1, 10, .level)}<i></i>
							        </label>
								</section>
							</div>
						</div>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<div class="inline-group pull-right">
								<label for="chk_grp_{.item}_level" class="checkbox"><input type="checkbox" name="chk_grp_{.item}_level" id="chk_grp_{.item}_level"><i></i>그룹적용</label>
								<label for="chk_all_{.item}_level" class="checkbox"><input type="checkbox" name="chk_all_{.item}_level" id="chk_all_{.item}_level"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>
			<!--{/}-->
		</div>
	</div>

	{ frm_submit }

	<div id="anc_bo_function">
		<div class="pg-anchor">
			{# anc_bo_function}
		</div>

		<div class="adm-form-wrap margin-bottom-30">
			<header><strong><i class="fa fa-caret-right"></i> 게시판 기능 설정</strong></header>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<div class="row">
							<div class="col col-12">
								<section>
									<label for="bo_count_modify" class="label">원글 수정 불가</label>
									<div class="inline-group">
										<span>댓글</span>
								        <span>
								            <label class="input"><input type="text" name="bo_count_modify" id="bo_count_modify" value="{board.bo_count_modify}" required class="text-right width-80px"></label>
								        </span>
								        <span>개 이상 달리면 수정불가</span>
									</div>
							        <div class="note margin-bottom-10"><strong>Note:</strong> 댓글의 수가 설정 수 이상이면 원글을 수정할 수 없습니다. 0으로 설정하시면 댓글 수에 관계없이 수정할 수있습니다.</div>
								</section>
							</div>
						</div>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<div class="inline-group pull-right">
								<label for="chk_grp_count_modify" class="checkbox"><input type="checkbox" name="chk_grp_count_modify" id="chk_grp_count_modify"><i></i>그룹적용</label>
								<label for="chk_all_count_modify" class="checkbox"><input type="checkbox" name="chk_all_count_modify" id="chk_all_count_modify"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<div class="row">
							<div class="col col-12">
								<section>
									<label for="bo_count_delete" class="label">원글 삭제 불가</label>
									<div class="inline-group">
										<span>댓글</span>
								        <span>
								            <label class="input"><input type="text" name="bo_count_delete" id="bo_count_delete" value="{board.bo_count_delete}" required class="text-right width-80px"></label>
								        </span>
								        <span>개 이상 달리면 삭제불가</span>
									</div>
								</section>
							</div>
						</div>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<div class="inline-group pull-right">
								<label for="chk_grp_count_delete" class="checkbox"><input type="checkbox" name="chk_grp_count_delete" id="chk_grp_count_delete"><i></i>그룹적용</label>
								<label for="chk_all_count_delete" class="checkbox"><input type="checkbox" name="chk_all_count_delete" id="chk_all_count_delete"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<section>
							<label for="bo_use_sideview" class="label">글쓴이 사이드뷰</label>
							<label class="checkbox">
								<input type="checkbox" name="bo_use_sideview" id="bo_use_sideview" value="1" {? board.bo_use_sideview}checked{/}><i></i> 사용 (글쓴이 클릭시 나오는 레이어 메뉴)
							</label>
						</section>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<div class="inline-group pull-right">
								<label for="chk_grp_use_sideview" class="checkbox"><input type="checkbox" name="chk_grp_use_sideview" id="chk_grp_use_sideview"><i></i>그룹적용</label>
								<label for="chk_all_use_sideview" class="checkbox"><input type="checkbox" name="chk_all_use_sideview" id="chk_all_use_sideview"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<section class="width-200px">
							<label for="bo_use_secret" class="label">비밀글 사용</label>
							<label class="select">
								<select id="bo_use_secret" name="bo_use_secret">
				                    {=option_selected(0, board.bo_use_secret, "사용하지 않음")}
				                    {=option_selected(1, board.bo_use_secret, "체크박스")}
				                    {=option_selected(2, board.bo_use_secret, "무조건")}
				                </select><i></i>
							</label>
						</section>
						<div class="note margin-bottom-10"><strong>Note:</strong> "체크박스"는 글작성시 비밀글 체크가 가능합니다. "무조건"은 작성되는 모든글을 비밀글로 작성합니다. (관리자는 체크박스로 출력합니다.)</div>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<div class="inline-group pull-right">
								<label for="chk_grp_use_secret" class="checkbox"><input type="checkbox" name="chk_grp_use_secret" id="chk_grp_use_secret"><i></i>그룹적용</label>
								<label for="chk_all_use_secret" class="checkbox"><input type="checkbox" name="chk_all_use_secret" id="chk_all_use_secret"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<section>
							<label for="bo_use_dhtml_editor" class="label">DHTML 에디터 사용</label>
							<label class="checkbox">
								<input type="checkbox" name="bo_use_dhtml_editor" id="bo_use_dhtml_editor" value="1" {? board.bo_use_dhtml_editor}checked{/}><i></i> 사용
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 글작성시 내용을 DHTML 에디터 기능으로 사용할 것인지 설정합니다. 스킨에 따라 적용되지 않을 수 있습니다.</div>
						</section>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<div class="inline-group pull-right">
								<label for="chk_grp_use_dhtml_editor" class="checkbox"><input type="checkbox" name="chk_grp_use_dhtml_editor" id="chk_grp_use_dhtml_editor"><i></i>그룹적용</label>
								<label for="chk_all_use_dhtml_editor" class="checkbox"><input type="checkbox" name="chk_all_use_dhtml_editor" id="chk_all_use_dhtml_editor"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<section>
							<label for="bo_use_rss_view" class="label">RSS 보이기 사용</label>
							<label class="checkbox">
								<input type="checkbox" name="bo_use_rss_view" id="bo_use_rss_view" value="1" {? board.bo_use_rss_view}checked{/}><i></i> 사용
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 비회원 글읽기가 가능하고 RSS 보이기 사용에 체크가 되어야만 RSS 지원을 합니다.</div>
						</section>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<div class="inline-group pull-right">
								<label for="chk_grp_use_rss_view" class="checkbox"><input type="checkbox" name="chk_grp_use_rss_view" id="chk_grp_use_rss_view"><i></i>그룹적용</label>
								<label for="chk_all_use_rss_view" class="checkbox"><input type="checkbox" name="chk_all_use_rss_view" id="chk_all_use_rss_view"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<section>
							<label for="bo_use_good" class="label">추천 사용</label>
							<label class="checkbox">
								<input type="checkbox" name="bo_use_good" id="bo_use_good" value="1" {? board.bo_use_good}checked{/}><i></i> 사용
							</label>
						</section>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<div class="inline-group pull-right">
								<label for="chk_grp_use_good" class="checkbox"><input type="checkbox" name="chk_grp_use_good" id="chk_grp_use_good"><i></i>그룹적용</label>
								<label for="chk_all_use_good" class="checkbox"><input type="checkbox" name="chk_all_use_good" id="chk_all_use_good"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<section>
							<label for="bo_use_nogood" class="label">비추천 사용</label>
							<label class="checkbox">
								<input type="checkbox" name="bo_use_nogood" id="bo_use_nogood" value="1" {? board.bo_use_nogood}checked{/}><i></i> 사용
							</label>
						</section>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<div class="inline-group pull-right">
								<label for="chk_grp_use_nogood" class="checkbox"><input type="checkbox" name="chk_grp_use_nogood" id="chk_grp_use_nogood"><i></i>그룹적용</label>
								<label for="chk_all_use_nogood" class="checkbox"><input type="checkbox" name="chk_all_use_nogood" id="chk_all_use_nogood"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<section>
							<label for="bo_use_name" class="label">이름(실명) 사용</label>
							<label class="checkbox">
								<input type="checkbox" name="bo_use_name" id="bo_use_name" value="1" {? board.bo_use_name}checked{/}><i></i> 사용
							</label>
						</section>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<div class="inline-group pull-right">
								<label for="chk_grp_use_name" class="checkbox"><input type="checkbox" name="chk_grp_use_name" id="chk_grp_use_name"><i></i>그룹적용</label>
								<label for="chk_all_use_name" class="checkbox"><input type="checkbox" name="chk_all_use_name" id="chk_all_use_name"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<section>
							<label for="bo_use_signature" class="label">서명보이기 사용</label>
							<label class="checkbox">
								<input type="checkbox" name="bo_use_signature" id="bo_use_signature" value="1" {? board.bo_use_signature}checked{/}><i></i> 사용
							</label>
						</section>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<div class="inline-group pull-right">
								<label for="chk_grp_use_signature" class="checkbox"><input type="checkbox" name="chk_grp_use_signature" id="chk_grp_use_signature"><i></i>그룹적용</label>
								<label for="chk_all_use_signature" class="checkbox"><input type="checkbox" name="chk_all_use_signature" id="chk_all_use_signature"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<section>
							<label for="bo_use_ip_view" class="label">IP 보이기 사용</label>
							<label class="checkbox">
								<input type="checkbox" name="bo_use_ip_view" id="bo_use_ip_view" value="1" {? board.bo_use_ip_view}checked{/}><i></i> 사용
							</label>
						</section>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<div class="inline-group pull-right">
								<label for="chk_grp_use_ip_view" class="checkbox"><input type="checkbox" name="chk_grp_use_ip_view" id="chk_grp_use_ip_view"><i></i>그룹적용</label>
								<label for="chk_all_use_ip_view" class="checkbox"><input type="checkbox" name="chk_all_use_ip_view" id="chk_all_use_ip_view"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<section>
							<label for="bo_use_list_content" class="label">목록에서 내용 사용</label>
							<label class="checkbox">
								<input type="checkbox" name="bo_use_list_content" id="bo_use_list_content" value="1" {? board.bo_use_list_content}checked{/}><i></i> 사용 (사용시 속도가 느려질 수 있습니다.)
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 목록에서 게시판 제목외에 내용도 읽어와야 할 경우에 설정하는 옵션입니다. 기본은 사용하지 않습니다.</div>
						</section>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<div class="inline-group pull-right">
								<label for="chk_grp_use_list_content" class="checkbox"><input type="checkbox" name="chk_grp_use_list_content" id="chk_grp_use_list_content"><i></i>그룹적용</label>
								<label for="chk_all_use_list_content" class="checkbox"><input type="checkbox" name="chk_all_use_list_content" id="chk_all_use_list_content"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<section>
							<label for="bo_use_list_file" class="label">목록에서 파일 사용</label>
							<label class="checkbox">
								<input type="checkbox" name="bo_use_list_file" id="bo_use_list_file" value="1" {? board.bo_use_list_file}checked{/}><i></i> 사용 (사용시 속도가 느려질 수 있습니다.)
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 목록에서 게시판 첨부파일을 읽어와야 할 경우에 설정하는 옵션입니다. 기본은 사용하지 않습니다.</div>
						</section>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<div class="inline-group pull-right">
								<label for="chk_grp_use_list_file" class="checkbox"><input type="checkbox" name="chk_grp_use_list_file" id="chk_grp_use_list_file"><i></i>그룹적용</label>
								<label for="chk_all_use_list_file" class="checkbox"><input type="checkbox" name="chk_all_use_list_file" id="chk_all_use_list_file"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<section>
							<label for="bo_use_list_view" class="label">전체목록보이기 사용</label>
							<label class="checkbox">
								<input type="checkbox" name="bo_use_list_view" id="bo_use_list_view" value="1" {? board.bo_use_list_view}checked{/}><i></i> 사용
							</label>
						</section>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<div class="inline-group pull-right">
								<label for="chk_grp_use_list_view" class="checkbox"><input type="checkbox" name="chk_grp_use_list_view" id="chk_grp_use_list_view"><i></i>그룹적용</label>
								<label for="chk_all_use_list_view" class="checkbox"><input type="checkbox" name="chk_all_use_list_view" id="chk_all_use_list_view"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<section>
							<label for="bo_use_email" class="label">메일발송 사용</label>
							<label class="checkbox">
								<input type="checkbox" name="bo_use_email" id="bo_use_email" value="1" {? board.bo_use_email}checked{/}><i></i> 사용
							</label>
						</section>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<div class="inline-group pull-right">
								<label for="chk_grp_use_email" class="checkbox"><input type="checkbox" name="chk_grp_use_email" id="chk_grp_use_email"><i></i>그룹적용</label>
								<label for="chk_all_use_email" class="checkbox"><input type="checkbox" name="chk_all_use_email" id="chk_all_use_email"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<section class="width-200px">
							<label for="bo_use_cert" class="label">본인확인 사용</label>
							<label class="select">
								<select id="bo_use_cert" name="bo_use_cert">
				                    {=option_selected("", board.bo_use_cert, "사용안함")}
				                    <!--{? config.cf_cert_use}-->
				                    {=option_selected("cert", board.bo_use_cert, "본인확인된 회원전체")}
				                    {=option_selected("adult", board.bo_use_cert, "본인확인된 성인회원만")}
				                    {=option_selected("hp-cert", board.bo_use_cert, "휴대폰 본인확인된 회원전체")}
				                    {=option_selected("hp-adult", board.bo_use_cert, "휴대폰 본인확인된 성인회원만")}
				                    <!--{/}-->
				                </select><i></i>
							</label>
						</section>
						<div class="note margin-bottom-10"><strong>Note:</strong> 본인확인 여부에 따라 게시물을 조회 할 수 있도록 합니다.)</div>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<div class="inline-group pull-right">
								<label for="chk_grp_use_cert" class="checkbox"><input type="checkbox" name="chk_grp_use_cert" id="chk_grp_use_cert"><i></i>그룹적용</label>
								<label for="chk_all_use_cert" class="checkbox"><input type="checkbox" name="chk_all_use_cert" id="chk_all_use_cert"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<section class="width-200px">
							<label for="bo_upload_count" class="label">파일 업로드 개수</label>
					        <label class="input">
					        	<i class="icon-append">개</i>
					        	<input type="text" name="bo_upload_count" id="bo_upload_count" value="{board.bo_upload_count}" required class="text-right">
					        </label>
						</section>
						<div class="note margin-bottom-10"><strong>Note:</strong> 게시물 한건당 업로드 할 수 있는 파일의 최대 개수 (0 은 파일첨부 사용하지 않음)</div>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<div class="inline-group pull-right">
								<label for="chk_grp_upload_count" class="checkbox"><input type="checkbox" name="chk_grp_upload_count" id="chk_grp_upload_count"><i></i>그룹적용</label>
								<label for="chk_all_upload_count" class="checkbox"><input type="checkbox" name="chk_all_upload_count" id="chk_all_upload_count"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<div class="row">
							<div class="col col-12">
								<section>
									<label for="bo_upload_size" class="label">파일 업로드 용량</label>
									<div class="inline-group">
										<span>업로드 파일 한개당 </span>
								        <span>
								            <label class="input"><input type="text" name="bo_upload_size" id="bo_upload_size" value="{board.bo_upload_size}" required class="text-right width-80px"></label>
								        </span>
								        <span> bytes 이하</span>
									</div>
									<div class="note margin-bottom-10"><strong>Note:</strong> 최대 {=ini_get("upload_max_filesize")} 이하 업로드 가능, 1 MB = 1,048,576 bytes</div>
								</section>
							</div>
						</div>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<div class="inline-group pull-right">
								<label for="chk_grp_upload_size" class="checkbox"><input type="checkbox" name="chk_grp_upload_size" id="chk_grp_upload_size"><i></i>그룹적용</label>
								<label for="chk_all_upload_size" class="checkbox"><input type="checkbox" name="chk_all_upload_size" id="chk_all_upload_size"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<section>
							<label for="bo_use_file_content" class="label">파일 설명 사용</label>
							<label class="checkbox">
								<input type="checkbox" name="bo_use_file_content" id="bo_use_file_content" value="1" {? board.bo_use_file_content}checked{/}><i></i> 사용
							</label>
						</section>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<div class="inline-group pull-right">
								<label for="chk_grp_use_file_content" class="checkbox"><input type="checkbox" name="chk_grp_use_file_content" id="chk_grp_use_file_content"><i></i>그룹적용</label>
								<label for="chk_all_use_file_content" class="checkbox"><input type="checkbox" name="chk_all_use_file_content" id="chk_all_use_file_content"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<section class="width-200px">
							<label for="bo_write_min" class="label">최소 글수 제한</label>
					        <label class="input">
					        	<i class="icon-append">글자</i>
					        	<input type="text" name="bo_write_min" id="bo_write_min" value="{board.bo_write_min}" class="text-right">
					        </label>
						</section>
						<div class="note margin-bottom-10"><strong>Note:</strong> 글 입력시 최소 글자수를 설정. 0을 입력하거나 최고관리자, DHTML 에디터 사용시에는 검사하지 않음</div>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<div class="inline-group pull-right">
								<label for="chk_grp_write_min" class="checkbox"><input type="checkbox" name="chk_grp_write_min" id="chk_grp_write_min"><i></i>그룹적용</label>
								<label for="chk_all_write_min" class="checkbox"><input type="checkbox" name="chk_all_write_min" id="chk_all_write_min"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<section class="width-200px">
							<label for="bo_write_max" class="label">최대 글수 제한</label>
					        <label class="input">
					        	<i class="icon-append">글자</i>
					        	<input type="text" name="bo_write_max" id="bo_write_max" value="{board.bo_write_max}" class="text-right">
					        </label>
						</section>
						<div class="note margin-bottom-10"><strong>Note:</strong> 글 입력시 최대 글자수를 설정. 0을 입력하거나 최고관리자, DHTML 에디터 사용시에는 검사하지 않음</div>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<div class="inline-group pull-right">
								<label for="chk_grp_write_max" class="checkbox"><input type="checkbox" name="chk_grp_write_max" id="chk_grp_write_max"><i></i>그룹적용</label>
								<label for="chk_all_write_max" class="checkbox"><input type="checkbox" name="chk_all_write_max" id="chk_all_write_max"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<section class="width-200px">
							<label for="bo_comment_min" class="label">최소 댓글수 제한</label>
					        <label class="input">
					        	<i class="icon-append">글자</i>
					        	<input type="text" name="bo_comment_min" id="bo_comment_min" value="{board.bo_comment_min}" class="text-right">
					        </label>
						</section>
						<div class="note margin-bottom-10"><strong>Note:</strong> 댓글 입력시 최소 글자수를 설정. 0을 입력하면 검사하지 않음</div>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<div class="inline-group pull-right">
								<label for="chk_grp_comment_min" class="checkbox"><input type="checkbox" name="chk_grp_comment_min" id="chk_grp_comment_min"><i></i>그룹적용</label>
								<label for="chk_all_comment_min" class="checkbox"><input type="checkbox" name="chk_all_comment_min" id="chk_all_comment_min"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<section class="width-200px">
							<label for="bo_comment_max" class="label">최대 댓글수 제한</label>
					        <label class="input">
					        	<i class="icon-append">글자</i>
					        	<input type="text" name="bo_comment_max" id="bo_comment_max" value="{board.bo_comment_max}" class="text-right">
					        </label>
						</section>
						<div class="note margin-bottom-10"><strong>Note:</strong> 댓글 입력시 최대 글자수를 설정. 0을 입력하면 검사하지 않음</div>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<div class="inline-group pull-right">
								<label for="chk_grp_comment_max" class="checkbox"><input type="checkbox" name="chk_grp_comment_max" id="chk_grp_comment_max"><i></i>그룹적용</label>
								<label for="chk_all_comment_max" class="checkbox"><input type="checkbox" name="chk_all_comment_max" id="chk_all_comment_max"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<section>
							<label for="bo_use_sns" class="label">SNS 사용</label>
							<label class="checkbox">
								<input type="checkbox" name="bo_use_sns" id="bo_use_sns" value="1" {? board.bo_use_sns}checked{/}><i></i> 사용
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 사용에 체크하시면 소셜네트워크서비스(SNS)에 글을 퍼가거나 댓글을 동시에 등록할수 있습니다.<br>기본환경설정의 SNS 설정을 하셔야 사용이 가능합니다.</div>
						</section>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<div class="inline-group pull-right">
								<label for="chk_grp_use_sns" class="checkbox"><input type="checkbox" name="chk_grp_use_sns" id="chk_grp_use_sns"><i></i>그룹적용</label>
								<label for="chk_all_use_sns" class="checkbox"><input type="checkbox" name="chk_all_use_sns" id="chk_all_use_sns"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<section>
							<label for="bo_use_search" class="label">전체 검색 사용</label>
							<label class="checkbox">
								<input type="checkbox" name="bo_use_search" id="bo_use_search" value="1" {? board.bo_use_search}checked{/}><i></i> 사용
							</label>
						</section>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<div class="inline-group pull-right">
								<label for="chk_grp_use_search" class="checkbox"><input type="checkbox" name="chk_grp_use_search" id="chk_grp_use_search"><i></i>그룹적용</label>
								<label for="chk_all_use_search" class="checkbox"><input type="checkbox" name="chk_all_use_search" id="chk_all_use_search"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<section class="width-200px">
							<label for="bo_order" class="label">출력 순서</label>
					        <label class="input">
					        	<input type="text" name="bo_order" id="bo_order" value="{board.bo_order}" class="text-right">
					        </label>
						</section>
						<div class="note margin-bottom-10"><strong>Note:</strong> 숫자가 낮은 게시판 부터 메뉴나 검색시 우선 출력합니다.</div>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<div class="inline-group pull-right">
								<label for="chk_grp_order" class="checkbox"><input type="checkbox" name="chk_grp_order" id="chk_grp_order"><i></i>그룹적용</label>
								<label for="chk_all_order" class="checkbox"><input type="checkbox" name="chk_all_order" id="chk_all_order"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

		</div>
	</div>

	{ frm_submit }

	<div id="anc_bo_design">
		<div class="pg-anchor">
			{# anc_bo_design}
		</div>

		<div class="adm-form-wrap margin-bottom-30">
			<header><strong><i class="fa fa-caret-right"></i> 게시판 디자인/양식</strong></header>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<section class="width-200px">
							<label for="bo_skin" class="label">스킨 디렉토리</label>
					        <label class="select">
					            {=get_skin_select('board', 'bo_skin', 'bo_skin', board.bo_skin, 'required')}<i></i>
					        </label>
						</section>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<div class="inline-group pull-right">
								<label for="chk_grp_skin" class="checkbox"><input type="checkbox" name="chk_grp_skin" id="chk_grp_skin"><i></i>그룹적용</label>
								<label for="chk_all_skin" class="checkbox"><input type="checkbox" name="chk_all_skin" id="chk_all_skin"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<section class="width-200px">
							<label for="bo_mobile_skin" class="label">모바일 스킨 디렉토리</label>
					        <label class="select">
					            {=get_mobile_skin_select('board', 'bo_mobile_skin', 'bo_mobile_skin', board.bo_mobile_skin, 'required')}<i></i>
					        </label>
						</section>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<div class="inline-group pull-right">
								<label for="chk_grp_mobile_skin" class="checkbox"><input type="checkbox" name="chk_grp_mobile_skin" id="chk_grp_mobile_skin"><i></i>그룹적용</label>
								<label for="chk_all_mobile_skin" class="checkbox"><input type="checkbox" name="chk_all_mobile_skin" id="chk_all_mobile_skin"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<section>
							<label for="bo_include_head" class="label">상단 파일 경로</label>
					        <label class="input">
					            <input type="text" name="bo_include_head" value="{board.bo_include_head}" id="bo_include_head">
					        </label>
						</section>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<div class="inline-group pull-right">
								<label for="chk_grp_include_head" class="checkbox"><input type="checkbox" name="chk_grp_include_head" id="chk_grp_include_head"><i></i>그룹적용</label>
								<label for="chk_all_include_head" class="checkbox"><input type="checkbox" name="chk_all_include_head" id="chk_all_include_head"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<section>
							<label for="bo_include_tail" class="label">하단 파일 경로</label>
					        <label class="input">
					            <input type="text" name="bo_include_tail" value="{board.bo_include_tail}" id="bo_include_tail">
					        </label>
						</section>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<div class="inline-group pull-right">
								<label for="chk_grp_include_tail" class="checkbox"><input type="checkbox" name="chk_grp_include_tail" id="chk_grp_include_tail"><i></i>그룹적용</label>
								<label for="chk_all_include_tail" class="checkbox"><input type="checkbox" name="chk_all_include_tail" id="chk_all_include_tail"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<section>
							<label for="bo_content_head" class="label">상단 내용</label>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<div class="inline-group pull-right">
								<label for="chk_grp_content_head" class="checkbox"><input type="checkbox" name="chk_grp_content_head" id="chk_grp_content_head"><i></i>그룹적용</label>
								<label for="chk_all_content_head" class="checkbox"><input type="checkbox" name="chk_all_content_head" id="chk_all_content_head"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
				<div class="row">
					<div class="col col-12">
						<section class="margin-top-10">
					        {=editor_html("bo_content_head", get_text(board.bo_content_head, 0))}
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<section>
							<label for="bo_content_tail" class="label">하단 내용</label>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<div class="inline-group pull-right">
								<label for="chk_grp_content_tail" class="checkbox"><input type="checkbox" name="chk_grp_content_tail" id="chk_grp_content_tail"><i></i>그룹적용</label>
								<label for="chk_all_content_tail" class="checkbox"><input type="checkbox" name="chk_all_content_tail" id="chk_all_content_tail"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
				<div class="row">
					<div class="col col-12">
						<section class="margin-top-10">
					        {=editor_html("bo_content_tail", get_text(board.bo_content_tail, 0))}
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<section>
							<label for="bo_mobile_content_head" class="label">모바일 상단 내용</label>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<div class="inline-group pull-right">
								<label for="chk_grp_content_head" class="checkbox"><input type="checkbox" name="chk_grp_content_head" id="chk_grp_content_head"><i></i>그룹적용</label>
								<label for="chk_all_content_head" class="checkbox"><input type="checkbox" name="chk_all_content_head" id="chk_all_content_head"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
				<div class="row">
					<div class="col col-12">
						<section class="margin-top-10">
					        {=editor_html("bo_mobile_content_head", get_text(board.bo_mobile_content_head, 0))}
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<section>
							<label for="bo_mobile_content_tail" class="label">모바일 하단 내용</label>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<div class="inline-group pull-right">
								<label for="chk_grp_mobile_content_tail" class="checkbox"><input type="checkbox" name="chk_grp_mobile_content_tail" id="chk_grp_mobile_content_tail"><i></i>그룹적용</label>
								<label for="chk_all_mobile_content_tail" class="checkbox"><input type="checkbox" name="chk_all_mobile_content_tail" id="chk_all_mobile_content_tail"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
				<div class="row">
					<div class="col col-12">
						<section class="margin-top-10">
					        {=editor_html("bo_mobile_content_tail", get_text(board.bo_mobile_content_tail, 0))}
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<section>
							<label for="bo_insert_content" class="label">글쓰기 기본 내용</label>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<div class="inline-group pull-right">
								<label for="chk_grp_insert_content" class="checkbox"><input type="checkbox" name="chk_grp_insert_content" id="chk_grp_insert_content"><i></i>그룹적용</label>
								<label for="chk_all_insert_content" class="checkbox"><input type="checkbox" name="chk_all_insert_content" id="chk_all_insert_content"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
				<div class="row">
					<div class="col col-12">
						<section class="margin-top-10">
					        <label class="textarea">
					            <textarea id="bo_insert_content" name="bo_insert_content" rows="5">{board.bo_insert_content}</textarea>
					        </label>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<section class="width-200px">
							<label for="bo_subject_len" class="label">제목 길이</label>
					        <label class="input">
					        	<i class="icon-append">글자</i>
					        	<input type="text" name="bo_subject_len" id="bo_subject_len" value="{board.bo_subject_len}" required class="text-right">
					        </label>
						</section>
						<div class="note margin-bottom-10"><strong>Note:</strong> 목록에서의 제목 글자수. 잘리는 글은 … 로 표시</div>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<div class="inline-group pull-right">
								<label for="chk_grp_subject_len" class="checkbox"><input type="checkbox" name="chk_grp_subject_len" id="chk_grp_subject_len"><i></i>그룹적용</label>
								<label for="chk_all_subject_len" class="checkbox"><input type="checkbox" name="chk_all_subject_len" id="chk_all_subject_len"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<section class="width-200px">
							<label for="bo_mobile_subject_len" class="label">모바일 제목 길이</label>
					        <label class="input">
					        	<i class="icon-append">글자</i>
					        	<input type="text" name="bo_mobile_subject_len" id="bo_mobile_subject_len" value="{board.bo_mobile_subject_len}" required class="text-right">
					        </label>
						</section>
						<div class="note margin-bottom-10"><strong>Note:</strong> 목록에서의 제목 글자수. 잘리는 글은 … 로 표시</div>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<div class="inline-group pull-right">
								<label for="chk_grp_mobile_subject_len" class="checkbox"><input type="checkbox" name="chk_grp_mobile_subject_len" id="chk_grp_mobile_subject_len"><i></i>그룹적용</label>
								<label for="chk_all_mobile_subject_len" class="checkbox"><input type="checkbox" name="chk_all_mobile_subject_len" id="chk_all_mobile_subject_len"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<section class="width-200px">
							<label for="bo_page_rows" class="label">페이지당 목록 수</label>
					        <label class="input">
					        	<i class="icon-append">개</i>
					        	<input type="text" name="bo_page_rows" id="bo_page_rows" value="{board.bo_page_rows}" required class="text-right">
					        </label>
						</section>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<div class="inline-group pull-right">
								<label for="chk_grp_page_rows" class="checkbox"><input type="checkbox" name="chk_grp_page_rows" id="chk_grp_page_rows"><i></i>그룹적용</label>
								<label for="chk_all_page_rows" class="checkbox"><input type="checkbox" name="chk_all_page_rows" id="chk_all_page_rows"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<section class="width-200px">
							<label for="bo_mobile_page_rows" class="label">모바일 페이지당 목록 수</label>
					        <label class="input">
					        	<i class="icon-append">개</i>
					        	<input type="text" name="bo_mobile_page_rows" id="bo_mobile_page_rows" value="{board.bo_mobile_page_rows}" required class="text-right">
					        </label>
						</section>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<div class="inline-group pull-right">
								<label for="chk_grp_mobile_page_rows" class="checkbox"><input type="checkbox" name="chk_grp_mobile_page_rows" id="chk_grp_mobile_page_rows"><i></i>그룹적용</label>
								<label for="chk_all_mobile_page_rows" class="checkbox"><input type="checkbox" name="chk_all_mobile_page_rows" id="chk_all_mobile_page_rows"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<section class="width-200px">
							<label for="bo_gallery_cols" class="label">갤러리 이미지 수</label>
					        <label class="input">
					        	<i class="icon-append">개</i>
					        	<input type="text" name="bo_gallery_cols" id="bo_gallery_cols" value="{board.bo_gallery_cols}" required class="text-right">
					        </label>
						</section>
						<div class="note margin-bottom-10"><strong>Note:</strong> 갤러리 형식의 게시판 목록에서 이미지를 한줄에 몇장씩 보여 줄 것인지를 설정하는 값</div>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<div class="inline-group pull-right">
								<label for="chk_grp_gallery_cols" class="checkbox"><input type="checkbox" name="chk_grp_gallery_cols" id="chk_grp_gallery_cols"><i></i>그룹적용</label>
								<label for="chk_all_gallery_cols" class="checkbox"><input type="checkbox" name="chk_all_gallery_cols" id="chk_all_gallery_cols"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<section class="width-200px">
							<label for="bo_gallery_width" class="label">갤러리 이미지 폭</label>
					        <label class="input">
					        	<i class="icon-append">px</i>
					        	<input type="text" name="bo_gallery_width" id="bo_gallery_width" value="{board.bo_gallery_width}" required class="text-right">
					        </label>
						</section>
						<div class="note margin-bottom-10"><strong>Note:</strong> 갤러리 형식의 게시판 목록에서 썸네일 이미지의 폭을 설정하는 값</div>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<div class="inline-group pull-right">
								<label for="chk_grp_gallery_width" class="checkbox"><input type="checkbox" name="chk_grp_gallery_width" id="chk_grp_gallery_width"><i></i>그룹적용</label>
								<label for="chk_all_gallery_width" class="checkbox"><input type="checkbox" name="chk_all_gallery_width" id="chk_all_gallery_width"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<section class="width-200px">
							<label for="bo_gallery_height" class="label">갤러리 이미지 높이</label>
					        <label class="input">
					        	<i class="icon-append">px</i>
					        	<input type="text" name="bo_gallery_height" id="bo_gallery_height" value="{board.bo_gallery_height}" required class="text-right">
					        </label>
						</section>
						<div class="note margin-bottom-10"><strong>Note:</strong> 갤러리 형식의 게시판 목록에서 썸네일 이미지의 높이를 설정하는 값</div>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<div class="inline-group pull-right">
								<label for="chk_grp_gallery_height" class="checkbox"><input type="checkbox" name="chk_grp_gallery_height" id="chk_grp_gallery_height"><i></i>그룹적용</label>
								<label for="chk_all_gallery_height" class="checkbox"><input type="checkbox" name="chk_all_gallery_height" id="chk_all_gallery_height"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<section class="width-200px">
							<label for="bo_mobile_gallery_width" class="label">모바일 갤러리 이미지 폭</label>
					        <label class="input">
					        	<i class="icon-append">px</i>
					        	<input type="text" name="bo_mobile_gallery_width" id="bo_mobile_gallery_width" value="{board.bo_mobile_gallery_width}" required class="text-right">
					        </label>
						</section>
						<div class="note margin-bottom-10"><strong>Note:</strong> 모바일로 접속시 갤러리 형식의 게시판 목록에서 썸네일 이미지의 폭을 설정하는 값</div>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<div class="inline-group pull-right">
								<label for="chk_grp_mobile_gallery_width" class="checkbox"><input type="checkbox" name="chk_grp_mobile_gallery_width" id="chk_grp_mobile_gallery_width"><i></i>그룹적용</label>
								<label for="chk_all_mobile_gallery_width" class="checkbox"><input type="checkbox" name="chk_all_mobile_gallery_width" id="chk_all_mobile_gallery_width"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<section class="width-200px">
							<label for="bo_mobile_gallery_height" class="label">모바일 갤러리 이미지 높이</label>
					        <label class="input">
					        	<i class="icon-append">px</i>
					        	<input type="text" name="bo_mobile_gallery_height" id="bo_mobile_gallery_height" value="{board.bo_mobile_gallery_height}" required class="text-right">
					        </label>
						</section>
						<div class="note margin-bottom-10"><strong>Note:</strong> 모바일로 접속시 갤러리 형식의 게시판 목록에서 썸네일 이미지의 높이를 설정하는 값</div>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<div class="inline-group pull-right">
								<label for="chk_grp_mobile_gallery_height" class="checkbox"><input type="checkbox" name="chk_grp_mobile_gallery_height" id="chk_grp_mobile_gallery_height"><i></i>그룹적용</label>
								<label for="chk_all_mobile_gallery_height" class="checkbox"><input type="checkbox" name="chk_all_mobile_gallery_height" id="chk_all_mobile_gallery_height"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<section class="width-200px">
							<label for="bo_table_width" class="label">게시판 폭</label>
					        <label class="input">
					        	<i class="icon-append">px</i>
					        	<input type="text" name="bo_table_width" id="bo_table_width" value="{board.bo_table_width}" required class="text-right">
					        </label>
						</section>
						<div class="note margin-bottom-10"><strong>Note:</strong> 100 이하는 %</div>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<div class="inline-group pull-right">
								<label for="chk_grp_table_width" class="checkbox"><input type="checkbox" name="chk_grp_table_width" id="chk_grp_table_width"><i></i>그룹적용</label>
								<label for="chk_all_table_width" class="checkbox"><input type="checkbox" name="chk_all_table_width" id="chk_all_table_width"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<section class="width-200px">
							<label for="bo_image_width" class="label">이미지 폭 크기</label>
					        <label class="input">
					        	<i class="icon-append">px</i>
					        	<input type="text" name="bo_image_width" id="bo_image_width" value="{board.bo_image_width}" required class="text-right">
					        </label>
						</section>
						<div class="note margin-bottom-10"><strong>Note:</strong> 게시판에서 출력되는 이미지의 폭 크기</div>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<div class="inline-group pull-right">
								<label for="chk_grp_image_width" class="checkbox"><input type="checkbox" name="chk_grp_image_width" id="chk_grp_image_width"><i></i>그룹적용</label>
								<label for="chk_all_image_width" class="checkbox"><input type="checkbox" name="chk_all_image_width" id="chk_all_image_width"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<section class="width-200px">
							<label for="bo_new" class="label">새글 아이콘</label>
					        <label class="input">
					        	<i class="icon-append">시간</i>
					        	<input type="text" name="bo_new" id="bo_new" value="{board.bo_new}" required class="text-right">
					        </label>
						</section>
						<div class="note margin-bottom-10"><strong>Note:</strong> 글 입력후 new 이미지를 출력하는 시간. 0을 입력하시면 아이콘을 출력하지 않습니다.</div>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<div class="inline-group pull-right">
								<label for="chk_grp_new" class="checkbox"><input type="checkbox" name="chk_grp_new" id="chk_grp_new"><i></i>그룹적용</label>
								<label for="chk_all_new" class="checkbox"><input type="checkbox" name="chk_all_new" id="chk_all_new"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<section class="width-200px">
							<label for="bo_hot" class="label">인기글 아이콘</label>
					        <label class="input">
					        	<i class="icon-append">회</i>
					        	<input type="text" name="bo_hot" id="bo_hot" value="{board.bo_hot}" required class="text-right">
					        </label>
						</section>
						<div class="note margin-bottom-10"><strong>Note:</strong> 조회수가 설정값 이상이면 hot 이미지 출력. 0을 입력하시면 아이콘을 출력하지 않습니다.</div>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<div class="inline-group pull-right">
								<label for="chk_grp_hot" class="checkbox"><input type="checkbox" name="chk_grp_hot" id="chk_grp_hot"><i></i>그룹적용</label>
								<label for="chk_all_hot" class="checkbox"><input type="checkbox" name="chk_all_hot" id="chk_all_hot"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<div class="row">
							<div class="col col-6">
								<section>
									<label for="bo_reply_order" class="label">답변 달기</label>
							        <label class="select">
										<select id="bo_reply_order" name="bo_reply_order">
						                    <option value="1"{=get_selected(board.bo_reply_order, 1, true)}>나중에 쓴 답변 아래로 달기 (기본)</option>
						                    <option value="0"{=get_selected(board.bo_reply_order, 0)}>나중에 쓴 답변 위로 달기</option>
						                </select><i></i>
							        </label>
								</section>
							</div>
						</div>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<div class="inline-group pull-right">
								<label for="chk_grp_reply_order" class="checkbox"><input type="checkbox" name="chk_grp_reply_order" id="chk_grp_reply_order"><i></i>그룹적용</label>
								<label for="chk_all_reply_order" class="checkbox"><input type="checkbox" name="chk_all_reply_order" id="chk_all_reply_order"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<div class="row">
							<div class="col col-6">
								<section>
									<label for="bo_reply_order" class="label">리스트 정렬 필드</label>
							        <label class="select">
										<select id="bo_sort_field" name="bo_sort_field">
						                    <option value="" {=get_selected(board.bo_sort_field,"")}>wr_num, wr_reply : 기본</option>
						                    <option value="wr_datetime asc" {=get_selected(board.bo_sort_field,"wr_datetime asc")}>wr_datetime asc : 날짜 이전것 부터</option>
						                    <option value="wr_datetime desc" {=get_selected(board.bo_sort_field,"wr_datetime desc")}>wr_datetime desc : 날짜 최근것 부터</option>
						                    <option value="wr_hit asc, wr_num, wr_reply" {=get_selected(board.bo_sort_field,"wr_hit asc, wr_num, wr_reply")}>wr_hit asc : 조회수 낮은것 부터</option>
						                    <option value="wr_hit desc, wr_num, wr_reply" {=get_selected(board.bo_sort_field,"wr_hit desc, wr_num, wr_reply")}>wr_hit desc : 조회수 높은것 부터</option>
						                    <option value="wr_last asc" {=get_selected(board.bo_sort_field,"wr_last asc")}>wr_last asc : 최근글 이전것 부터</option>
						                    <option value="wr_last desc" {=get_selected(board.bo_sort_field,"wr_last desc")}>wr_last desc : 최근글 최근것 부터</option>
						                    <option value="wr_comment asc, wr_num, wr_reply" {=get_selected(board.bo_sort_field,"wr_comment asc, wr_num, wr_reply")}>wr_comment asc : 댓글수 낮은것 부터</option>
						                    <option value="wr_comment desc, wr_num, wr_reply" {=get_selected(board.bo_sort_field,"wr_comment desc, wr_num, wr_reply")}>wr_comment desc : 댓글수 높은것 부터</option>
						                    <option value="wr_good asc, wr_num, wr_reply" {=get_selected(board.bo_sort_field,"wr_good asc, wr_num, wr_reply")}>wr_good asc : 추천수 낮은것 부터</option>
						                    <option value="wr_good desc, wr_num, wr_reply" {=get_selected(board.bo_sort_field,"wr_good desc, wr_num, wr_reply")}>wr_good desc : 추천수 높은것 부터</option>
						                    <option value="wr_nogood asc, wr_num, wr_reply" {=get_selected(board.bo_sort_field,"wr_nogood asc, wr_num, wr_reply")}>wr_nogood asc : 비추천수 낮은것 부터</option>
						                    <option value="wr_nogood desc, wr_num, wr_reply" {=get_selected(board.bo_sort_field,"wr_nogood desc, wr_num, wr_reply")}>wr_nogood desc : 비추천수 높은것 부터</option>
						                    <option value="wr_subject asc, wr_num, wr_reply" {=get_selected(board.bo_sort_field,"wr_subject asc, wr_num, wr_reply")}>wr_subject asc : 제목 오름차순</option>
						                    <option value="wr_subject desc, wr_num, wr_reply" {=get_selected(board.bo_sort_field,"wr_subject desc, wr_num, wr_reply")}>wr_subject desc : 제목 내림차순</option>
						                    <option value="wr_name asc, wr_num, wr_reply" {=get_selected(board.bo_sort_field,"wr_name asc, wr_num, wr_reply")}>wr_name asc : 글쓴이 오름차순</option>
						                    <option value="wr_name desc, wr_num, wr_reply" {=get_selected(board.bo_sort_field,"wr_name desc, wr_num, wr_reply")}>wr_name desc : 글쓴이 내림차순</option>
						                    <option value="ca_name asc, wr_num, wr_reply" {=get_selected(board.bo_sort_field,"ca_name asc, wr_num, wr_reply")}>ca_name asc : 분류명 오름차순</option>
						                    <option value="ca_name desc, wr_num, wr_reply" {=get_selected(board.bo_sort_field,"ca_name desc, wr_num, wr_reply")}>ca_name desc : 분류명 내림차순</option>
						                </select><i></i>
							        </label>
								</section>
							</div>
						</div>
						<div class="note margin-bottom-10"><strong>Note:</strong> 리스트에서 기본으로 정렬에 사용할 필드를 선택합니다. "기본"으로 사용하지 않으시는 경우 속도가 느려질 수 있습니다.</div>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<div class="inline-group pull-right">
								<label for="chk_grp_sort_field" class="checkbox"><input type="checkbox" name="chk_grp_sort_field" id="chk_grp_sort_field"><i></i>그룹적용</label>
								<label for="chk_all_sort_field" class="checkbox"><input type="checkbox" name="chk_all_sort_field" id="chk_all_sort_field"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

		</div>
	</div>

	{ frm_submit }

	<div id="anc_bo_point">
		<div class="pg-anchor">
			{# anc_bo_point}
		</div>

		<div class="adm-form-wrap margin-bottom-30">
			<header><strong><i class="fa fa-caret-right"></i> 게시판 포인트 설정</strong></header>

			<fieldset>
				<div class="row">
					<div class="col col-12">
						<section>
							<label for="bo_reply_order" class="label">기본값으로 설정</label>
					        <label class="checkbox">
								<input type="checkbox" name="chk_grp_point" id="chk_grp_point" onclick="set_point(this.form)"><i></i> 기본값 (환경설정에 입력된 포인트)으로 설정하기
					        </label>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<section class="width-200px">
							<label for="bo_read_point" class="label">글읽기 포인트</label>
					        <label class="input">
					        	<i class="icon-append">점</i>
					        	<input type="text" name="bo_read_point" id="bo_read_point" value="{board.bo_read_point}" required class="text-right">
					        </label>
						</section>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<div class="inline-group pull-right">
								<label for="chk_grp_read_point" class="checkbox"><input type="checkbox" name="chk_grp_read_point" id="chk_grp_read_point"><i></i>그룹적용</label>
								<label for="chk_all_read_point" class="checkbox"><input type="checkbox" name="chk_all_read_point" id="chk_all_read_point"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<section class="width-200px">
							<label for="bo_write_point" class="label">글쓰기 포인트</label>
					        <label class="input">
					        	<i class="icon-append">점</i>
					        	<input type="text" name="bo_write_point" id="bo_write_point" value="{board.bo_write_point}" required class="text-right">
					        </label>
						</section>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<div class="inline-group pull-right">
								<label for="chk_grp_write_point" class="checkbox"><input type="checkbox" name="chk_grp_write_point" id="chk_grp_write_point"><i></i>그룹적용</label>
								<label for="chk_all_write_point" class="checkbox"><input type="checkbox" name="chk_all_write_point" id="chk_all_write_point"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<section class="width-200px">
							<label for="bo_comment_point" class="label">댓글쓰기 포인트</label>
					        <label class="input">
					        	<i class="icon-append">점</i>
					        	<input type="text" name="bo_comment_point" id="bo_comment_point" value="{board.bo_comment_point}" required class="text-right">
					        </label>
						</section>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<div class="inline-group pull-right">
								<label for="chk_grp_comment_point" class="checkbox"><input type="checkbox" name="chk_grp_comment_point" id="chk_grp_comment_point"><i></i>그룹적용</label>
								<label for="chk_all_comment_point" class="checkbox"><input type="checkbox" name="chk_all_comment_point" id="chk_all_comment_point"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-9">
						<section class="width-200px">
							<label for="bo_download_point" class="label">다운로드 포인트</label>
					        <label class="input">
					        	<i class="icon-append">점</i>
					        	<input type="text" name="bo_download_point" id="bo_download_point" value="{board.bo_download_point}" required class="text-right">
					        </label>
						</section>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<div class="inline-group pull-right">
								<label for="chk_grp_download_point" class="checkbox"><input type="checkbox" name="chk_grp_download_point" id="chk_grp_download_point"><i></i>그룹적용</label>
								<label for="chk_all_download_point" class="checkbox"><input type="checkbox" name="chk_all_download_point" id="chk_all_download_point"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>
		</div>
	</div>

	{ frm_submit }

	<div id="anc_bo_extra">
		<div class="pg-anchor">
			{# anc_bo_extra}
		</div>

		<div class="adm-form-wrap margin-bottom-30">
			<header><strong><i class="fa fa-caret-right"></i> 게시판 여분필드 설정</strong></header>

			<!--{@ bo_extra}-->
			<fieldset>
				<div class="row">
					<div class="col col-9">
						<div class="row">
							<div class="col col-6">
								<section>
									<label for="bo_{.key_}_subj" class="label">여분필드 {.key_} 제목</label>
							        <label class="input">
							        	<input type="text" name="bo_{.key_}_subj" id="bo_{.key_}_subj" value="{=get_text(.bo_subject)}">
							        </label>
								</section>
							</div>
							<div class="col col-6">
								<section>
									<label for="bo_{.key_}" class="label">여분필드 {.key_} 값</label>
							        <label class="input">
							        	<input type="text" name="bo_{.key_}" id="bo_{.key_}" value="{=get_text(.bo_value)}">
							        </label>
								</section>
							</div>
						</div>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<div class="inline-group pull-right">
								<label for="chk_grp_{.key_}" class="checkbox"><input type="checkbox" name="chk_grp_{.key_}" id="chk_grp_{.key_}"><i></i>그룹적용</label>
								<label for="chk_all_{.key_}" class="checkbox"><input type="checkbox" name="chk_all_{.key_}" id="chk_all_{.key_}"><i></i>전체적용</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>
			<!--{/}-->
		</div>
	</div>

	{ frm_submit }

	</form>
</div>

<div class="modal fade board-coppy-modal" tabindex="-1" role="dialog" aria-labelledby="boardCopyLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 id="boardCopyLabel" class="modal-title"><strong><i class="fa fa-clone"></i> 게시판 복사</strong></h4>
            </div>
            <div class="modal-body">
                <iframe id="board-coppy-iframe" width="100%" frameborder="0"></iframe>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn-e btn-e-lg btn-e-dark" type="button"><i class="fa fa-close"></i> 닫기</button>
            </div>
        </div>
    </div>
</div>

<script>
$('.pg-anchor a').on('click', function(e) {
	e.stopPropagation();
	var scrollTopSpace;
	if (window.innerWidth >= 1100) {
		scrollTopSpace = 70;
	} else {
		scrollTopSpace = 70;
	}
	var tabLink = $(this).attr('href');
	var offset = $(tabLink).offset().top;
	$('html, body').animate({scrollTop : offset - scrollTopSpace}, 500);
	return false;
});
	
function eb_modal(href) {
    $('.board-coppy-modal').modal('show').on('hidden.bs.modal', function () {
        $("#board-coppy-iframe").attr("src", "");
        $('html').css({overflow: ''});
    });
    $('.board-coppy-modal').modal('show').on('shown.bs.modal', function () {
        $("#board-coppy-iframe").attr("src", href);
        $('#board-coppy-iframe').height(450);
        $('html').css({overflow: 'hidden'});
    });
    return false;
}

$(function() {
    $(".get_theme_galc").on("click", function() {
        if(!confirm("현재 테마의 게시판 이미지 설정을 적용하시겠습니까?"))
            return false;

        $.ajax({
            type: "POST",
            url: "./theme_config_load.php",
            cache: false,
            async: false,
            data: { type: "board" },
            dataType: "json",
            success: function(data) {
                if(data.error) {
                    alert(data.error);
                    return false;
                }

                var field = Array('bo_gallery_cols', 'bo_gallery_width', 'bo_gallery_height', 'bo_mobile_gallery_width', 'bo_mobile_gallery_height', 'bo_image_width');
                var count = field.length;
                var key;

                for(i=0; i<count; i++) {
                    key = field[i];

                    if(data[key] != undefined && data[key] != "")
                        $("input[name="+key+"]").val(data[key]);
                }
            }
        });
    });
});

function board_copy(bo_table) {
    window.open("{C.EYOOM_ADMIN_URL}/?dir=board&amp;pid=board_copy&amp;bo_table="+bo_table, "BoardCopy", "left=10,top=10,width=500,height=200");
}

function set_point(f) {
    if (f.chk_grp_point.checked) {
        f.bo_read_point.value = "{config.cf_read_point}";
        f.bo_write_point.value = "{config.cf_write_point}";
        f.bo_comment_point.value = "{config.cf_comment_point}";
        f.bo_download_point.value = "{config.cf_download_point}";
    } else {
        f.bo_read_point.value     = f.bo_read_point.defaultValue;
        f.bo_write_point.value    = f.bo_write_point.defaultValue;
        f.bo_comment_point.value  = f.bo_comment_point.defaultValue;
        f.bo_download_point.value = f.bo_download_point.defaultValue;
    }
}

function fboardform_submit(f) {
    <!--{=get_editor_js("bo_content_head")}-->
    <!--{=get_editor_js("bo_content_tail")}-->
    <!--{=get_editor_js("bo_mobile_content_head")}-->
    <!--{=get_editor_js("bo_mobile_content_tail")}-->

    if (parseInt(f.bo_count_modify.value) < 0) {
        alert("원글 수정 불가 댓글수는 0 이상 입력하셔야 합니다.");
        f.bo_count_modify.focus();
        return false;
    }

    if (parseInt(f.bo_count_delete.value) < 1) {
        alert("원글 삭제 불가 댓글수는 1 이상 입력하셔야 합니다.");
        f.bo_count_delete.focus();
        return false;
    }

    return true;
}
</script>