<?php if (!defined('_GNUBOARD_')) exit; ?>

<style>
.admin-qa-config .inline-group > span {display:inline-block}
</style>

<div class="admin-qa-config">
	<form name="fqaconfigform" id="fqaconfigform" method="post" action="{_action_url}" onsubmit="return fqaconfigform_submit(this)" enctype="multipart/form-data" class="eyoom-form" autocomplete="off">
	<input type="hidden" name="token" value="">

	<div class="headline">
		<h4><strong>1:1문의 설정</strong></h4>
	</div>
	<div class="margin-bottom-30"></div>

	<div id="qa-config-form">
		<div class="adm-form-wrap margin-bottom-30">
			<header><strong><i class="fa fa-caret-right"></i> 1:1문의 설정</strong></header>

			<fieldset>
				<div class="row">
					<div class="col col-6">
						<section>
							<label for="qa_title" class="label">타이틀</label>
					        <label class="input">
					            <input type="text" name="qa_title" value="{qaconfig.qa_title}" id="qa_title" required>
					        </label>
						</section>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<a href="{C.G5_BBS_URL}/qalist.php" target="_blank" class="btn-e btn-e-md btn-e-dark">1:1문의 바로가기</a>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-12">
						<section>
							<label for="qa_category" class="label">분류</label>
					        <label class="input">
					            <input type="text" name="qa_category" value="{qaconfig.qa_category}" id="qa_category" required>
					        </label>
					        <div class="note margin-bottom-10"><strong>Note:</strong> 분류와 분류 사이는 | 로 구분하세요. (예: 질문|답변) 첫자로 #은 입력하지 마세요. (예: #질문|#답변 [X])</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-3">
						<section>
							<label for="qa_skin" class="label">스킨 디렉토리</label>
							<label class="select">
								{=get_skin_select('qa', 'qa_skin', 'qa_skin', qaconfig.qa_skin, 'required')}<i></i>
							</label>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="qa_mobile_skin" class="label">모바일 스킨 디렉토리</label>
					        <label class="select">
					            {=get_mobile_skin_select('qa', 'qa_mobile_skin', 'qa_mobile_skin', qaconfig.qa_mobile_skin, 'required')}<i></i>
					        </label>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label class="label">이메일 입력</label>
							<div class="inline-group">
					        	<label for="qa_use_email" class="checkbox"><input type="checkbox" name="qa_use_email" value="1" id="qa_use_email" {? qaconfig.qa_use_email}checked{/}><i></i> 보이기</label>
					        	<label for="qa_req_email" class="checkbox"><input type="checkbox" name="qa_req_email" value="1" id="qa_req_email" {? qaconfig.qa_req_email}checked{/}><i></i> 필수입력</label>
							</div>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label class="label">휴대폰 입력</label>
							<div class="inline-group">
					        	<label for="qa_use_hp" class="checkbox"><input type="checkbox" name="qa_use_hp" value="1" id="qa_use_hp" {? qaconfig.qa_use_hp}checked{/}><i></i> 보이기</label>
					        	<label for="qa_req_hp" class="checkbox"><input type="checkbox" name="qa_req_hp" value="1" id="qa_req_hp" {? qaconfig.qa_req_hp}checked{/}><i></i> 필수입력</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-3">
						<section>
							<label for="qa_use_sms" class="label">SMS 알림</label>
					        <label class="select">
				                <select name="qa_use_sms" id="qa_use_sms">
				                    {=option_selected(0, qaconfig.qa_use_sms, '사용안함')}
				                    {=option_selected(1, qaconfig.qa_use_sms, '사용함')}
				                </select><i></i>
					        </label>
						</section>
					</div>
					<div class="col col-9">
						<section class="label-height">
							<div class="note margin-bottom-10"><strong>Note:</strong> 휴대폰 입력을 사용하실 경우 문의글 등록시 등록자가 답변등록시 SMS 알림 수신을 선택할 수 있도록 합니다.<br>SMS 알림을 사용하기 위해서는 기본환경설정 > <a href="{C.EYOOM_ADMIN_URL}/?dir=config&amp;pid=config_form#anc_cf_sms">SMS 설정</a>을 하셔야 합니다.</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-3">
						<section>
							<label for="qa_send_number" class="label">SMS 발신번호</label>
					        <label class="input">
				                <input type="text" name="qa_send_number" value="{qaconfig.qa_send_number}" id="qa_send_number">
					        </label>
					        <div class="note margin-bottom-10"><strong>Note:</strong> SMS 알림 전송시 발신번호로 사용됩니다.</div>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="qa_admin_hp" class="label">관리자 휴대폰번호</label>
					        <label class="input">
				                <input type="text" name="qa_admin_hp" value="{qaconfig.qa_admin_hp}" id="qa_admin_hp">
					        </label>
					        <div class="note margin-bottom-10"><strong>Note:</strong> 관리자 휴대폰번호를 입력하시면 문의글 등록시 등록하신 번호로 SMS 알림이 전송됩니다.<br>SMS 알림을 사용하지 않으시면 알림이 전송되지 않습니다.</div>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="qa_admin_email" class="label">관리자 이메일</label>
					        <label class="input">
				                <input type="text" name="qa_admin_email" value="{qaconfig.qa_admin_email}" id="qa_admin_email">
					        </label>
					        <div class="note margin-bottom-10"><strong>Note:</strong> 관리자 이메일을 입력하시면 문의글 등록시 등록하신 이메일로 알림이 전송됩니다.</div>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="qa_use_editor" class="label">DHTML 에디터 사용</label>
					        <label class="select">
				                <select name="qa_use_editor" id="qa_use_editor">
				                    {=option_selected(0, qaconfig.qa_use_editor, '사용안함')}
				                    {=option_selected(1, qaconfig.qa_use_editor, '사용함')}
				                </select><i></i>
					        </label>
					        <div class="note margin-bottom-10"><strong>Note:</strong> 글작성시 내용을 DHTML 에디터 기능으로 사용할 것인지 설정합니다. 스킨에 따라 적용되지 않을 수 있습니다.</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-3">
						<section>
							<label for="qa_subject_len" class="label">제목 길이</label>
					        <label class="input">
					        	<i class="icon-append">글자</i>
				                <input type="text" name="qa_subject_len" value="{qaconfig.qa_subject_len}" id="qa_subject_len" class="text-right" required>
					        </label>
					        <div class="note margin-bottom-10"><strong>Note:</strong> 목록에서의 제목 글자수</div>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="qa_mobile_subject_len" class="label">모바일 제목 길이</label>
					        <label class="input">
					        	<i class="icon-append">글자</i>
				                <input type="text" name="qa_mobile_subject_len" value="{qaconfig.qa_mobile_subject_len}" id="qa_mobile_subject_len" class="text-right" required>
					        </label>
					        <div class="note margin-bottom-10"><strong>Note:</strong> 목록에서의 제목 글자수</div>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="qa_page_rows" class="label">페이지당 목록 수</label>
					        <label class="input">
					        	<i class="icon-append">개</i>
				                <input type="text" name="qa_page_rows" value="{qaconfig.qa_page_rows}" id="qa_page_rows" class="text-right" required>
					        </label>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="qa_mobile_page_rows" class="label">모바일 페이지당 목록 수</label>
					        <label class="input">
					        	<i class="icon-append">개</i>
				                <input type="text" name="qa_mobile_page_rows" value="{qaconfig.qa_mobile_page_rows}" id="qa_mobile_page_rows" class="text-right" required>
					        </label>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-3">
						<section>
							<label for="qa_image_width" class="label">이미지 폭 크기</label>
					        <label class="input">
					        	<i class="icon-append">px</i>
				                <input type="text" name="qa_image_width" value="{qaconfig.qa_image_width}" id="qa_image_width" class="text-right" required>
					        </label>
					        <div class="note margin-bottom-10"><strong>Note:</strong> 게시판에서 출력되는 이미지의 폭 크기</div>
						</section>
					</div>
					<div class="col col-9">
						<section>
							<label for="qa_upload_size" class="label">파일 업로드 용량</label>
							<div class="inline-group">
								<span>업로드 파일 한개당 </span>
						        <span>
						            <label class="input"><input type="text" name="qa_upload_size" id="qa_upload_size" value="{qaconfig.qa_upload_size}" required class="text-right" style="width:80px;"></label>
						        </span>
						        <span> bytes 이하</span>
							</div>
							<div class="note margin-bottom-10" style="margin-top:10px;"><strong>Note:</strong> 최대 {=ini_get("upload_max_filesize")} 이하 업로드 가능, 1 MB = 1,048,576 bytes</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-6">
						<section>
							<label for="qa_include_head" class="label">상단 파일 경로</label>
					        <label class="input">
				                <input type="text" name="qa_include_head" value="{qaconfig.qa_include_head}" id="qa_include_head">
					        </label>
						</section>
					</div>
					<div class="col col-6">
						<section>
							<label for="qa_include_tail" class="label">하단 파일 경로</label>
					        <label class="input">
				                <input type="text" name="qa_include_tail" value="{qaconfig.qa_include_tail}" id="qa_include_tail">
					        </label>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-12">
						<section>
							<label for="qa_content_head" class="label">상단 내용</label>
					        {=editor_html("qa_content_head", get_text(qaconfig.qa_content_head, 0))}
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-12">
						<section>
							<label for="qa_content_tail" class="label">하단 내용</label>
					        {=editor_html("qa_content_tail", get_text(qaconfig.qa_content_tail, 0))}
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-12">
						<section>
							<label for="qa_mobile_content_head" class="label">모바일 상단 내용</label>
					        {=editor_html("qa_mobile_content_head", get_text(qaconfig.qa_mobile_content_head, 0))}
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-12">
						<section>
							<label for="qa_mobile_content_tail" class="label">모바일 하단 내용</label>
					        {=editor_html("qa_mobile_content_tail", get_text(qaconfig.qa_mobile_content_tail, 0))}
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-12">
						<section>
							<label for="qa_insert_content" class="label">글쓰기 기본 내용</label>
					        <label class="textarea">
					            <textarea id="qa_insert_content" name="qa_insert_content" rows="10">{qaconfig.qa_insert_content}</textarea>
					        </label>
						</section>
					</div>
				</div>
			</fieldset>

		</div>
	</div>

	<div id="qa-config-form">
		<div class="adm-form-wrap margin-bottom-30">
			<header><strong><i class="fa fa-caret-right"></i> 여분필드 설정</strong></header>

			<!--{@ qa_extra}-->
			<fieldset>
				<div class="row">
					<div class="col col-6">
						<section>
							<label for="qa_{.key_}_subj" class="label">여분필드 {.key_} 제목</label>
					        <label class="input">
					        	<input type="text" name="qa_{.key_}_subj" id="qa_{.key_}_subj" value="{=get_text(.qa_subject)}">
					        </label>
						</section>
					</div>
					<div class="col col-6">
						<section>
							<label for="qa_{.key_}" class="label">여분필드 {.key_} 값</label>
					        <label class="input">
					        	<input type="text" name="qa_{.key_}" id="qa_{.key_}" value="{=get_text(.qa_value)}">
					        </label>
						</section>
					</div>
				</div>
			</fieldset>
			<!--{/}-->
		</div>
	</div>

	<div class="text-center margin-top-30 margin-bottom-30">
		<input type="submit" value="확인" id="btn_submit" class="btn-e btn-e-lg btn-e-red" accesskey="s">
	</div>

	</form>
</div>

<script>
function fqaconfigform_submit(f) {
    <!--{=get_editor_js("qa_content_head")}-->
    <!--{=get_editor_js("qa_content_tail")}-->
    <!--{=get_editor_js("qa_mobile_content_head")}-->
    <!--{=get_editor_js("qa_mobile_content_tail")}-->

    return true;
}
</script>