<?php if (!defined('_GNUBOARD_')) exit;
add_javascript('<script src="../../../../../../plugin/oauth/jquery.oauth.login.js"></script>', 10);
?>

<style>
.ol-social-icons {margin-top:15px}
.ol-social-icons ul li {margin:0 2px}
@media (min-width:992px) and (max-width:1199px) {
	.ol-social-icons ul li {margin:0}
}
</style>

<div class="ol-social-icons">
	<ul class="social-icons text-center sns-wrap-over">
		<!--{? defined('G5_FACEBOOK_CLIENT_ID') && C.G5_FACEBOOK_CLIENT_ID}-->
	    <li><a href="{social_oauth_url}facebook" target="_blank" class="social_facebook sns-icon social_oauth sns-fb" title="페이스북 로그인"></a></li>
	    <!--{/}-->
	    <!--{? defined('G5_GOOGLE_CLIENT_ID') && C.G5_GOOGLE_CLIENT_ID}-->
	    <li><a href="{social_oauth_url}google" target="_blank" class="social_google sns-icon social_oauth sns-gg" title="구글 로그인"></a></li>
	    <!--{/}-->
	    <!--{? defined('G5_NAVER_OAUTH_CLIENT_ID') && C.G5_NAVER_OAUTH_CLIENT_ID}-->
	    <li><a href="{social_oauth_url}naver" target="_blank" class="social_naver sns-icon social_oauth sns-naver" title="네이버 로그인"></a></li>
	    <!--{/}-->
	    <!--{? defined('G5_KAKAO_OAUTH_REST_API_KEY') && C.G5_KAKAO_OAUTH_REST_API_KEY}-->
	    <li><a href="{social_oauth_url}kakao" target="_blank" class="social_kakao sns-icon social_oauth sns-kk" title="카카오 로그인"></a></li>
	    <!--{/}-->
	</ul>
</div>