<?php if (!defined('_GNUBOARD_')) exit;
add_stylesheet('<link rel="stylesheet" href="../../../plugins/jsgrid/jsgrid.min.css" type="text/css" media="screen">',0);
add_stylesheet('<link rel="stylesheet" href="../../../plugins/jsgrid/jsgrid-theme.min.css" type="text/css" media="screen">',0);
?>

<div class="admin-mail-list">
	<form name="fmaillist" id="fmaillist" action="{_action_url}" method="post" class="eyoom-form">
	<div class="mail-list">
		<div class="headline">
			<h4><strong>회원 메일 발송</strong></h4>
			<!--{? !_wmode}-->
			<a href="{C.EYOOM_ADMIN_URL}/?dir=member&pid=mail_form" class="btn-e btn-e-purple btn-e-xs pull-right margin-top-5"><i class="fa fa-plus"></i> 메일내용추가</a>
			<!--{/}-->
			<div class="clearfix"></div>
		</div>

		<div class="cont-text-bg">
			<p class="bg-info font-size-12">
				<i class="fa fa-info-circle"></i> <b>테스트</b>는 등록된 최고관리자의 이메일로 테스트 메일을 발송합니다.<br>
				<i class="fa fa-info-circle"></i> 현재 등록된 메일은 총 {=number_format(_total_count)}건입니다.<br>
				<i class="fa fa-info-circle"></i> <strong>주의! 수신자가 동의하지 않은 대량 메일 발송에는 적합하지 않습니다. 수십건 단위로 발송해 주십시오.</strong>
			</p>
		</div>
        <div class="margin-bottom-30"></div>
        <div class="mail_service_info" >
                <div>
                [local_server info] <br>
                local_server set status : {mail_service_info[0].cf_1}<br><br>
                </div>
                <div>
                [mailgun info]<br>
                <a href ="https://mailgun.com">mailgun site</a>
                mailgun set status : {mail_service_info[0].cf_2},   mailgun sending count : {mail_service_info[0].cf_3},   set_use_over_free_cnt : {mail_service_info[0].cf_5}<br><br>
                </div>
                <div>
                [sendgrid info]<br>
                <a href ="https://sendgrid.com">sendgrid site</a>
                sendgrid set status : {mail_service_info[0].cf_6},   send sending count : {mail_service_info[0].cf_7},   set_use_continue : {mail_service_info[0].cf_9}<br><br>
                </div>
                <div>
                [마지막 성공적으로 전송된 사용자 id]<br>
                last_sending_success_id : {mail_service_info[0].cf_10}<br><br>
                </div>
                <div>
                    [에러 메시지]<br>
                    error : {_sending_error_msg}
                </div>
         </div>

        <div style="margin-top: 20px">
             [메일 서비스 리스트]
             <input type="radio" name="mail_service" value="local_server"  style="margin-left: 10px"> local_server
             <input type="radio" name="mail_service" value="mailgun " style="margin-left: 10px"> mailgun
             <input type="radio" name="mail_service" value="sendgrid" style="margin-left: 10px"> sendgrid
             <input type="button" value="서비스 변경" onclick="mail_service_select();" style="margin-left: 15px ">
        </div>

        <div style="margin-top: 20px">
            [mailgun 무료 전송 수가 넘어도 계속 사용할 것인지 여부]
            <input type="radio" name="set_use_over_free_cnt" value="0"  style="margin-left: 10px"> no
            <input type="radio" name="set_use_over_free_cnt" value="1" style="margin-left: 10px"> yes
            <input type="button" value="확인" onclick="mailgun_free_set();" style="margin-left: 15px ">
        </div>

        <div style="margin-top: 20px">
            [mailgun의 무료 전송수가 넘으면 sendgrid의 서비스로 자동 전환할 것인지 여부 ]
            <input type="radio" name="set_use_continue" value="0"  style="margin-left: 10px"> no
            <input type="radio" name="set_use_continue" value="1 " style="margin-left: 10px"> yes
            <input type="button" value="확인" onclick="sendgrid_auto_use_set();" style="margin-left: 15px ">
        </div>
         <div class="margin-bottom-30"></div>

         <!--{? C.G5_IS_MOBILE}-->
		<p class="font-size-11 color-grey text-right margin-bottom-5"><i class="fa fa-info-circle"></i> Note! 좌우스크롤 가능 (<i class="fa fa-arrows-h"></i>)</p>
		<!--{/}-->

		<div id="mail-list"></div>
	</div>
	<div class="margin-top-20">
	    <input type="submit" value="선택삭제" class="btn-e btn-e-dark btn-e-xs">
	</div>
	</form>
</div>

<script src="../../../plugins/jsgrid/jsgrid.min.js"></script>
<script src="../../../js/jsgrid.js"></script>
<script>

function mail_service_select(){

    var mail_info = document.getElementsByName("mail_service");

    for(var i = 0; i < mail_info.length; i++) {
        if(mail_info[i].checked==true) {
            switch(i){
                case 1: window.location.href="{C.G5_URL}/mail_service/update_mail_service.php?set_cond=0&mail_service=mailgun";
                         break;
                case 2: window.location.href="{C.G5_URL}/mail_service/update_mail_service.php?set_cond=0&mail_service=sendgrid";
                         break;
                default: window.location.href="{C.G5_URL}/mail_service/update_mail_service.php?set_cond=0&mail_service=local_server";
            }
            break;
        }
    }
}

function mailgun_free_set(){

    var mail_info = document.getElementsByName("set_use_over_free_cnt");

    for(var i = 0; i < mail_info.length; i++) {
        if(mail_info[i].checked==true) {
            switch(i){
                case 1: window.location.href="{C.G5_URL}/mail_service/update_mail_service.php?set_cond=1&mailgun_free_set=yes";
                    break;
                default: window.location.href="{C.G5_URL}/mail_service/update_mail_service.php?set_cond=1&mailgun_free_set=no";
            }
            break;
        }
    }
}

function sendgrid_auto_use_set(){

    var mail_info = document.getElementsByName("set_use_continue");

    for(var i = 0; i < mail_info.length; i++) {
        if(mail_info[i].checked==true) {
            switch(i){
                case 1: window.location.href="{C.G5_URL}/mail_service/update_mail_service.php?set_cond=2&set_use_continue=yes";
                    break;
                default: window.location.href="{C.G5_URL}/mail_service/update_mail_service.php?set_cond=2&set_use_continue=no";
            }
            break;
        }
    }
}

!function () {

    var db = {
        deleteItem: function (deletingClient) {
            var clientIndex = $.inArray(deletingClient, this.clients);
            this.clients.splice(clientIndex, 1)
        },
        insertItem: function (insertingClient) {
            this.clients.push(insertingClient)
        },
        loadData  : function (filter) {
            return $.grep(this.clients, function (client) {
                return !(filter.No && !(client.No.indexOf(filter.No) > -1) || filter.제목 && !(client.제목.indexOf(filter.제목) > -1))
            })
        },
        updateItem: function (updatingClient) {}
    };
    window.db    = db,
    db.clients   = [
	    <!--{@ mail_list}-->
        {
	        체크: "<div class='eyoom-form'><label for='chk_{.index_}' class='checkbox'><input type='checkbox' name='chk[]' id='chk_{.index_}' value='{.ma_id}'><i></i></label></div>",
	        번호: "{.num}",
	        제목: "<a href='./?dir=member&amp;pid=mail_form&amp;w=u&amp;ma_id={.ma_id}' class='ellipsis'>{.ma_subject}</a>",
	        작성일시: "{.ma_time}",
	        테스트: "<a href='{C.G5_ADMIN_URL}/mail_test.php?ma_id={.ma_id}&selected_mail_service={_mail_service_state}&cnt={_mailgun_sending_count}&over_set={_over_send_set_state}&use_con_set={_set_use_continue}' class='btn-e btn-e-xs btn-e-indigo'>테스트</a>",
	        보내기: "<a href='./?dir=member&amp;pid=mail_select_form&amp;ma_id={.ma_id}' class='btn-e btn-e-xs btn-e-pink'>보내기</a>",
	        미리보기: "<a href='{C.G5_ADMIN_URL}/mail_preview.php?ma_id={.ma_id}' class='btn-e btn-e-xs btn-e-dark' target='_blank'>미리보기</a>"
        },
        <!--{/}-->
    ]
}();

$(function() {

    $("#mail-list").jsGrid({
        filtering      : false,
        editing        : false,
        sorting        : false,
        paging         : true,
        autoload       : true,
        controller     : db,
        deleteConfirm  : "정말로 삭제하시겠습니까?\n한번 삭제된 데이터는 복구할수 없습니다.",
        pageButtonCount: 5,
        pageSize       : 15,
        width          : "100%",
        height         : "auto",
        fields         : [
            { name: "체크", type: "text", width: 40 },
            { name: "번호", type: "text", align: "center", width: 60 },
            { name: "제목", type: "text", width: 200 },
            { name: "작성일시", type: "text", align: "center", width: 130 },
            { name: "테스트", type: "text", align: "center", width: 80 },
            { name: "보내기", type: "text", align: "center", width: 80 },
            { name: "미리보기", type: "text", align: "center", width: 80 },
        ]
    });

	var $chk = $(".jsgrid-table th:first-child");
	if ($chk.text() == '체크') {
		var html = '<label for="chkall" class="checkbox"><input type="checkbox" name="chkall" id="chkall" value="1" onclick="check_all(this.form)"><i></i></label>';
		$chk.html(html);
	}
});
</script>