<?php if (!defined('_GNUBOARD_')) exit; ?>

<div class="admin-member-form">
	<div class="headline">
		<h4><strong>회원 {? _w==''}추가{: _w=='u'}수정{/}</strong></h4>
		<!--{? !_wmode}-->
		<a href="{C.EYOOM_ADMIN_URL}/?dir=member&pid=member_list&qstr={_qstr}" class="btn-e btn-e-purple btn-e-xs pull-right margin-top-5"><i class="fa fa-list"></i> 회원목록 보기</a>
		<!--{/}-->
		<div class="clearfix"></div>
	</div>
	<div class="margin-bottom-30"></div>

	<!--{? _w == 'u'}-->
	{# member_box}
	<!--{/}-->

	<form name="fmember" id="fmember" method="post" action="{_action_url}" onsubmit="return fmember_submit(this);" enctype="multipart/form-data" class="eyoom-form">
	<input type="hidden" name="w" value="{_w}">
	<input type="hidden" name="sfl" value="{_sfl}">
	<input type="hidden" name="stx" value="{_stx}">
	<input type="hidden" name="sst" value="{_sst}">
	<input type="hidden" name="sod" value="{_sod}">
	<input type="hidden" name="page" value="{_page}">
	<input type="hidden" name="token" value="">

	<div class="member-form">
		<div class="adm-form-wrap margin-bottom-30">
			<header><i class="fa fa-caret-right"></i> 회원 정보</strong></header>
			<fieldset>
				<div class="row">
					<div class="col col-3">
						<section>
							<label for="mb_id" class="label"><span class="color-red"><i class="fa fa-check"></i></span> 아이디</label>
							<label class="input input-button">
								<input type="text" name="mb_id" value="{mb.mb_id}" id="mb_id" {_required_mb_id} {? _w=='u'}readonly{/} minlength="3" maxlength="20">
							</label>
						</section>
					</div>
					<!--{? _w=='u'}-->
					<div class="col col-3">
						<section class="label-height">
							<a href="{C.EYOOM_ADMIN_URL}/?dir=board&amp;pid=boardgroupmember_form&amp;mb_id={mb.mb_id}" class="btn-e btn-e-sm btn-e-dark">접근가능그룹보기</a>
						</section>
					</div>
					<!--{/}-->
					<div class="col col-6">
						<div class="row">
							<div class="col col-6">
								<section>
									<!--{? _w==''}-->
									<label for="mb_password" class="label"><span class="color-red"><i class="fa fa-check"></i></span> 비밀번호</label>
									<!--{: _w=='u'}-->
									<label for="mb_password" class="label"><span class="color-dark"><i class="fa fa-circle-o"></i></span> 비밀번호</label>
									<!--{/}-->
							        <label class="input">
							            <input type="text" name="mb_password" id="mb_password" {? _w==''}required{/} value="">
							        </label>
								</section>
							</div>
						</div>
						<!--{? _w==''}-->
				        <div class="note margin-bottom-10"><strong>Note:</strong> 비밀번호를 4글자 이상 입력하십시오.</div>
				        <!--{:}-->
				        <div class="note margin-bottom-10"><strong>Note:</strong> 비밀번호를 변경하고자 한다면 새로운 비밀번호를 4글자 이상 입력하십시오.</div>
				        <!--{/}-->
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-3">
						<section>
							<label for="mb_name" class="label"><span class="color-red"><i class="fa fa-check"></i></span> 이름(실명)</label>
					        <label class="input">
					            <input type="text" name="mb_name" id="mb_name" value="{mb.mb_name}" required maxlength="20">
					        </label>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="mb_nick" class="label"><span class="color-red"><i class="fa fa-check"></i></span> 닉네임</label>
					        <label class="input">
					            <input type="text" name="mb_nick" id="mb_nick" value="{mb.mb_nick}" required maxlength="20">
					        </label>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="mb_level" class="label"><span class="color-red"><i class="fa fa-check"></i></span> 회원권한</label>
							<label class="select">
								<select name="mb_level" id="mb_level">
									<!--{@ array_fill(1,10,'0')}-->
									<option value="{.key_}" {? mb.mb_level}{? mb.mb_level == .key_}selected{/}{:}{? .key_== 2}selected{/}{/} {? mb.mb_level == .key_}selected{/}>{.key_}</option>
									<!--{/}-->
								</select>
								<i></i>
							</label>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="mb_email" class="label">회원포인트</label>
							<label class="input state-disabled">
								<i class="icon-append">점</i>
								<input type="text" value="{=number_format(mb.mb_point)}" class="text-right" disabled>
							</label>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-3">
						<section>
							<label for="mb_email" class="label">이메일</label>
							<label class="input">
								<i class="icon-append fa fa-envelope"></i>
								<input type="text" name="mb_email" id="mb_email" value="{mb.mb_email}">
							</label>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="mb_homepage" class="label">홈페이지</label>
					        <label class="input">
					        	<i class="icon-append fa fa-link"></i>
					            <input type="text" name="mb_homepage" id="mb_homepage" value="{mb.mb_homepage}">
					        </label>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="mb_hp" class="label">휴대폰번호</label>
							<label class="input">
								<i class="icon-append fa fa-tablet"></i>
								<input type="text" name="mb_hp" id="mb_hp" value="{mb.mb_hp}">
							</label>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="mb_tel" class="label">전화번호</label>
					        <label class="input">
					        	<i class="icon-append fa fa-phone"></i>
					            <input type="text" name="mb_tel" id="mb_tel" value="{mb.mb_tel}">
					        </label>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<label class="label">주소</label>
				<div class="row">
					<div class="col col-3">
						<section>
							<label for="mb_zip" class="sound_only">우편번호<strong class="sound_only"> 필수</strong></label>
							<label class="input">
								<i class="icon-append fa fa-question-circle"></i>
		                    	<input type="text" name="mb_zip" value="{mb.mb_zip1}{mb.mb_zip2}" id="mb_zip" maxlength="6" readonly="readonly">
		                    	<b class="tooltip tooltip-top-right">우편번호</b>
							</label>
						</section>
					</div>
					<div class="col col-2">
						<section>
							<button type="button" onclick="win_zip('fmember', 'mb_zip', 'mb_addr1', 'mb_addr2', 'mb_addr3', 'mb_addr_jibeon');" class="btn-e btn-e-purple" style="padding:4px 12px 3px">주소 검색</button>
						</section>
					</div>
				</div>
				<section>
	                <label class="input">
	                	<input type="text" name="mb_addr1" value="{mb.mb_addr1}" id="mb_addr1">
	                </label>
	                <div class="note margin-bottom-10"><strong>Note:</strong> 기본주소</div>
				</section>
				<div class="row">
					<div class="col col-6">
						<section>
			                <label class="input">
			                	<input type="text" name="mb_addr2" value="{mb.mb_addr2}" id="mb_addr2">
			                </label>
			                <div class="note margin-bottom-10"><strong>Note:</strong> 상세주소</div>
						</section>
					</div>
					<div class="col col-6">
						<section>
			                <label class="input">
			                	<input type="text" name="mb_addr3" value="{mb.mb_addr3}" id="mb_addr3">
			                </label>
			                <div class="note margin-bottom-10"><strong>Note:</strong> 참고항목</div>
						</section>
					</div>
					<input type="hidden" name="mb_addr_jibeon" value="{mb.mb_addr_jibeon}">
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-6">
						<section>
							<label for="mb_icon" class="label">회원아이콘</label>
					        <label for="file" class="input input-file">
								<div class="button bg-color-light-grey"><input type="file" id="mb_icon" name="mb_icon" value="파일선택" onchange="this.parentNode.nextSibling.value = this.value">파일선택</div><input type="text" readonly>
							</label>
							<!--{? _icon_url}-->
							<img src="{_icon_url}" alt="">';
							<label for="del_mb_icon" class="checkbox"><input type="checkbox" id="del_mb_icon" name="del_mb_icon" value="1"><i></i> 삭제</label>
							<!--{/}-->
						</section>
						<div class="note margin-bottom-10"><strong>Note:</strong> 이미지 크기는 <strong>넓이 {config.cf_member_icon_width}픽셀 높이 {config.cf_member_icon_height}픽셀</strong>로 해주세요.</div>
					</div>

				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-4">
						<section>
							<label class="label">메일 수신</label>
							<div class="inline-group">
						        <label for="mb_mailling_yes" class="radio"><input type="radio" name="mb_mailling" id="mb_mailling_yes" value="1" {? mb.mb_mailling}checked{/}><i></i> 예</label>
						        <label for="mb_mailling_no" class="radio"><input type="radio" name="mb_mailling" id="mb_mailling_no" value="0" {? !mb.mb_mailling}checked{/}><i></i> 아니오</label>
							</div>
						</section>
					</div>
					<div class="col col-4">
						<section>
							<label class="label">SMS 수신</label>
							<div class="inline-group">
						        <label for="mb_sms_yes" class="radio"><input type="radio" name="mb_sms" id="mb_sms_yes" value="1" {? mb.mb_sms}checked{/}><i></i> 예</label>
						        <label for="mb_sms_no" class="radio"><input type="radio" name="mb_sms" id="mb_sms_no" value="0" {? !mb.mb_sms}checked{/}><i></i> 아니오</label>
							</div>
						</section>
					</div>
					<div class="col col-4">
						<section>
							<label class="label">정보 공개</label>
							<div class="inline-group">
						        <label for="mb_open_yes" class="radio"><input type="radio" name="mb_open" id="mb_open_yes" value="1" {? mb.mb_open}checked{/}><i></i> 예</label>
						        <label for="mb_open_no" class="radio"><input type="radio" name="mb_open" id="mb_open_no" value="0" {? !mb.mb_open}checked{/}><i></i> 아니오</label>
							</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-12">
						<section>
							<label class="label">서명</label>
							<label for="mb_signature" class="textarea">
								<textarea name="mb_signature" id="mb_signature" rows="5">{mb.mb_signature}</textarea>
							</label>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-12">
						<section>
							<label class="label">자기 소개</label>
							<label for="mb_profile" class="textarea">
								<textarea name="mb_profile" id="mb_profile" rows="5">{mb.mb_profile}</textarea>
							</label>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-12">
						<section>
							<label class="label">메모</label>
							<label for="mb_memo" class="textarea">
								<textarea name="mb_memo" id="mb_memo" rows="5">{mb.mb_memo}</textarea>
							</label>
						</section>
					</div>
				</div>
			</fieldset>

			<!--{? _w == 'u'}-->
			<fieldset>
				<div class="row">
					<div class="col col-4">
						<section>
							<label class="label">회원가입일</label>
					        <label class="input state-disabled">
					            <input type="text" value="{mb.mb_datetime}" disabled>
					        </label>
						</section>
					</div>
					<div class="col col-4">
						<section>
							<label class="label">최근접속일</label>
					        <label class="input state-disabled">
					            <input type="text" value="{mb.mb_today_login}" disabled>
					        </label>
						</section>
					</div>
					<div class="col col-4">
						<section>
							<label class="label">IP</label>
					        <label class="input state-disabled">
					            <input type="text" value="{mb.mb_ip}" disabled>
					        </label>
						</section>
					</div>

					<!--{? config.cf_use_email_certify}-->
					<div class="col col-4">
						<section>
							<label class="label">인증일시</label>
							<!--{? mb.mb_email_certify == '0000-00-00 00:00:00'}-->
							<label for="passive_certify" class="checkbox">
								<input type="checkbox" name="passive_certify" id="passive_certify"><i></i> 수동인증
							</label>
							<div class="note margin-bottom-10"><strong>Note:</strong> 회원님이 메일을 수신할 수 없는 경우 등에 직접 인증처리를 하실 수 있습니다.</div>
							<!--{:}-->
					        <label class="input">
					            <input type="text" name="mb_leave_date" id="mb_leave_date" class="color-blue-important" value="{mb.mb_leave_date}">
					        </label>
					        <!--{/}-->
						</section>
					</div>
					<!--{/}-->
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-6">
						<div class="row">
							<div class="col col-6">
								<section>
									<label class="label">탈퇴일자</label>
							        <label for="mb_leave_date" class="input">
							            <input type="text" name="mb_leave_date" id="mb_leave_date" value="{mb.mb_leave_date}" maxlength="8">
							        </label>
								</section>
							</div>
							<div class="col col-6">
								<section style="padding-top: 22px;">
							        <label for="mb_leave_date_set_today" class="checkbox">
							            <input type="checkbox" id="mb_leave_date_set_today" value="{=date('Ymd')}" onclick="if (this.form.mb_leave_date.value==this.form.mb_leave_date.defaultValue) {
this.form.mb_leave_date.value=this.value; } else { this.form.mb_leave_date.value=this.form.mb_leave_date.defaultValue; }"><i></i> 탈퇴일을 오늘로 지정
							        </label>
								</section>
							</div>
						</div>
					</div>
					<div class="col col-6">
						<div class="row">
							<div class="col col-6">
								<section>
									<label class="label">접근차단일자</label>
							        <label for="mb_intercept_date" class="input">
							            <input type="text" name="mb_intercept_date" id="mb_intercept_date" value="{mb.mb_intercept_date}" maxlength="8">
							        </label>
								</section>
							</div>
							<div class="col col-6">
								<section style="padding-top: 22px;">
							        <label for="mb_intercept_date_set_today" class="checkbox">
							            <input type="checkbox" id="mb_intercept_date_set_today" value="{=date('Ymd')}" onclick="if
(this.form.mb_intercept_date.value==this.form.mb_intercept_date.defaultValue) { this.form.mb_intercept_date.value=this.value; } else {
this.form.mb_intercept_date.value=this.form.mb_intercept_date.defaultValue; }"><i></i> 접근차단일을 오늘로 지정
							        </label>
								</section>
							</div>
						</div>
					</div>
				</div>
			</fieldset>
			<!--{/}-->

			<!--{? config.cf_use_recommend}-->
			<fieldset>
				<div class="row">
					<div class="col col-4">
						<section>
							<label class="label">추천인</label>
					        <label class="input">
					            <input type="text" class="color-blue-important" value="{? mb.mb_recommend}{=get_text(mb.mb_recommend)}{:}없음{/}" readonly>
					        </label>
						</section>
					</div>
				</div>
			</fieldset>
			<!--{/}-->

		</div>
	</div>

	<div class="member-form">
		<div class="adm-form-wrap margin-bottom-30">
			<header><strong><i class="fa fa-caret-right"></i> 여분필드</strong></header>

			<!--{@ mb_extra}-->
			<!--{? .index_%2 == 0}-->
			<fieldset>
				<div class="row">
			<!--{/}-->
					<div class="col col-6">
						<section>
							<label for="mb_{.key_}" class="label">여분필드 {.key_}</label>
					        <label class="input">
					        	<input type="text" name="mb_{.key_}" id="mb_{.key_}" value="{.value_}">
					        </label>
						</section>
					</div>
			<!--{? .index_%2 == 1}-->
				</div>
			</fieldset>
			<!--{/}-->
			<!--{/}-->
		</div>
	</div>

	<div class="text-center margin-top-30 margin-bottom-30">
		<input type="submit" id="btn_submit" value="확인" class="btn-e btn-e-lg btn-e-red" accesskey="s">
		<a href="{C.EYOOM_ADMIN_URL}/?dir=member&amp;pid=member_list&amp;{_qstr}" class="btn-e btn-e-lg btn-e-dark">목록</a>
	</div>
	</form>
</div>

<script src="../../../plugins/eyoom-form/plugins/jquery-maskedinput/jquery.maskedinput.min.js"></script>
<script src="../../../plugins/eyoom-form/plugins/jquery-chained/jquery.chained.remote.min.js"></script>

<script>
function fmember_submit(f) {
    if (!f.mb_icon.value.match(/\.gif$/i) && f.mb_icon.value) {
        alert('아이콘은 gif 파일만 가능합니다.');
        return false;
    }

    return true;
}
</script>