<?php if (!defined('_GNUBOARD_')) exit;
add_stylesheet('<link rel="stylesheet" href="../../../plugins/magnific-popup/magnific-popup.min.css" type="text/css" media="screen">',0);
?>

<style>
.admin-shop-bannerform .thumbnail-gallery {max-width:200px}
</style>

<div class="admin-shop-bannerform">
	<form name="fbannerform" method="post" action="{_action_url}" onsubmit="return check_form(this);" enctype="multipart/form-data" class="eyoom-form">
	<input type="hidden" name="w" value="{_w}">
	<input type="hidden" name="bn_id" value="{_bn_id}">

	<div class="headline">
		<h4><strong>배너관리 {? _w==''}입력{: _w=='u'}수정{/}</strong></h4>
		<a href="{C.EYOOM_ADMIN_URL}/?dir=shopetc&pid=bannerlist" class="btn-e btn-e-xs btn-e-purple pull-right"><i class="fa fa-list"></i> 배너목록</a>
		<div class="clearfix"></div>
	</div>
	<div class="margin-bottom-30"></div>

	<div id="admin-form">
		<div class="adm-form-wrap margin-bottom-30">
			<header>
				<strong><i class="fa fa-caret-right"></i> 설정관리</strong>
			</header>

			<fieldset>
				<div class="row">
					<div class="col col-6">
						<section>
							<label for="bn_bimg" class="label">이미지</label>
					        <label for="file" class="input input-file">
								<div class="button bg-color-light-grey"><input type="file" id="bn_bimg" name="bn_bimg" value="이미지선택" onchange="this.parentNode.nextSibling.value = this.value">이미지선택</div><input type="text" readonly>
							</label>
							<div class="note"><i class="fa fa-exclamation-circle"></i> 이미지는 동일한 사이즈로 편집하여 업로드하시기 바랍니다. (가로사이즈 1140px 이상 권장)</div>
							<!--{? _bimg_url}-->
							<label for="bn_bimg_del" class="checkbox"><input type="checkbox" name="bn_bimg_del" value="1" id="bn_bimg_del"><i></i> 삭제</label>
							<div class="thumbnail-gallery">
								<div class="thumbnail">
									<div class="thumb">
										<img src="{_bimg_url}" class="img-responsive">
										<div class="caption-overflow">
											<span>
												<a href="{_bimg_url}" class="btn-e btn-e-default btn-e-lg btn-e-brd"><i class="fa fa-plus color-white"></i></a>
											</span>
										</div>
									</div>
								</div>
							</div>
							<!--{/}-->
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-6">
						<section>
							<label for="bn_bimg" class="label">이미지 설명</label>
							<label class="input">
								<input type="text" name="bn_alt" value="{bn.bn_alt}" id="bn_alt">
							</label>
							<div class="note margin-bottom-10">
				                <strong>Note:</strong> 이벤트 페이지 하단에 업로드 한 이미지를 출력합니다.
			            	</div>
						</section>
					</div>
					<div class="col col-6">
						<section>
							<label for="bn_url" class="label">링크</label>
							<label class="input">
								<input type="text" name="bn_url" value="{bn.bn_url}" id="bn_url">
							</label>
							<div class="note margin-bottom-10">
				                <strong>Note:</strong> 배너클릭시 이동하는 주소입니다.
			            	</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-3">
						<section>
							<label for="bn_device" class="label">접속기기</label>
							<label class="select">
								<select name="bn_device" id="bn_device">
					                <option value="both"{=get_selected(bn.bn_device, 'both', true)}>PC와 모바일</option>
					                <option value="pc"{=get_selected(bn.bn_device, 'pc')}>PC</option>
					                <option value="mobile"{=get_selected(bn.bn_device, 'mobile')}>모바일</option>
					        	</select><i></i>
							</label>
							<div class="note margin-bottom-10">
				                <strong>Note:</strong> 배너를 표시할 접속기기를 선택합니다.
			            	</div>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="bn_position" class="label">출력위치</label>
							<label class="select">
								<select name="bn_position" id="bn_position">
					                <option value="메인"{=get_selected(bn.bn_position, '메인')}>메인</option>
					                <!--{? 0}-->
					                <option value="왼쪽"{=get_selected(bn.bn_position, '왼쪽')}>왼쪽</option>
					                <!--{/}-->
					        	</select>
					        	<i></i>
							</label>
							<div class="note margin-bottom-10">
				                <strong>Note:</strong> 왼쪽 : 쇼핑몰화면 왼쪽에 출력합니다. 메인 : 쇼핑몰 메인화면(index.php)에만 출력합니다.
			            	</div>
						</section>
					</div>
					<!--{? 0}-->
					<div class="col col-3">
						<section>
							<label for="bn_border" class="label">테두리</label>
							<label class="select">
								<select name="bn_border" id="bn_border">
					                <option value="0"{=get_selected(bn.bn_border, '0')}>사용안함</option>
					                <option value="1"{=get_selected(bn.bn_border, '1')}>사용</option>
					        	</select><i></i>
							</label>
							<div class="note margin-bottom-10">
				                <strong>Note:</strong> 배너이미지에 테두리를 넣을지를 설정합니다.
			            	</div>
						</section>
					</div>
					<!--{/}-->
					<div class="col col-3">
						<section>
							<label for="bn_new_win" class="label">새창</label>
							<label class="select">
								<select name="bn_new_win" id="bn_new_win">
					                <option value="0"{=get_selected(bn.bn_new_win, '0')}>사용안함</option>
					                <option value="1"{=get_selected(bn.bn_new_win, '1')}>사용</option>
					        	</select><i></i>
							</label>
							<div class="note margin-bottom-10">
				                <strong>Note:</strong> 배너클릭시 새창을 띄울지를 설정합니다.
			            	</div>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-3">
						<section>
							<label for="bn_begin_time" class="label">시작일시</label>
							<label class="input">
								<input type="text" name="bn_begin_time" value="{bn.bn_begin_time}" id="bn_begin_time" maxlength="19">
							</label>
							<div class="note margin-bottom-10">
				                <strong>Note:</strong> 배너 게시 시작일시를 설정합니다.
			            	</div>
						</section>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<label for="bn_begin_chk" class="checkbox">
								<input type="checkbox" name="bn_begin_chk" value="{=date('Y-m-d 00:00:00', time())}" id="bn_begin_chk" onclick="if (this.checked == true) this.form.bn_begin_time.value=this.form.bn_begin_chk.value; else this.form.bn_begin_time.value = this.form.bn_begin_time.defaultValue;"><i></i> 오늘
							</label>
						</section>
					</div>
					<div class="col col-3">
						<section>
							<label for="bn_end_time" class="label">종료일시</label>
							<label class="input">
								<input type="text" name="bn_end_time" value="{bn.bn_end_time}" id="bn_end_time" maxlength="19">
							</label>
							<div class="note margin-bottom-10">
				                <strong>Note:</strong> 배너 게시 종료일시를 설정합니다.
			            	</div>
						</section>
					</div>
					<div class="col col-3">
						<section class="label-height">
							<label for="bn_end_chk" class="checkbox">
								<input type="checkbox" name="bn_end_chk" value="{=date('Y-m-d 23:59:59', time()+60*60*24*31)}" id="bn_end_chk" onclick="if (this.checked == true) this.form.bn_end_time.value=this.form.bn_end_chk.value; else this.form.bn_end_time.value = this.form.bn_end_time.defaultValue;"><i></i> 오늘 + 31일
							</label>
						</section>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="row">
					<div class="col col-3">
						<section>
							<label for="bn_order" class="label">출력 순서</label>
							<label class="select">
								{=order_select("bn_order", bn.bn_order)}<i></i>
							</label>
							<div class="note margin-bottom-10">
				                <strong>Note:</strong> 배너를 출력할 때 순서를 정합니다. 숫자가 작을수록 먼저 출력됩니다.
			            	</div>
						</section>
					</div>
				</div>
			</fieldset>
		</div>
	</div>

	<div class="text-center margin-top-30 margin-bottom-30">
		<input type="submit" value="확인" id="btn_submit" class="btn-e btn-e-lg btn-e-red" accesskey="s">
		<a href="{C.EYOOM_ADMIN_URL}/?dir=shopetc&amp;pid=bannerlist" class="btn-e btn-e-lg btn-e-dark">목록</a>
	</div>

	</form>
</div>

<script src="../../../plugins/magnific-popup/magnific-popup.min.js"></script>
<script>
$(document).ready(function() {
	$('.thumbnail-gallery').magnificPopup({
		delegate: 'a',
		type: 'image',
		tLoading: '로딩중...',
		mainClass: 'mfp-img-mobile',
		image: {
			tError: '이미지를 불러올수 없습니다.',
			titleSrc: function(item) {
				return item.el.attr('title');
			}
		}
	});
});
</script>