<?php if (!defined('_GNUBOARD_')) exit;
add_stylesheet('<link rel="stylesheet" href="../../../plugins/easyui/themes/default/easyui.css" type="text/css" media="screen">',0);
?>

<style>
.admin-shop-categorylist .easyui-panel {padding:10px 0}
.admin-shop-categorylist .panel {border-right:1px solid #95B8E7;margin-top:-2px}
</style>

<div class="admin-shop-categorylist">
<form class="eyoom-form">
	<div class="headline">
		<h4><strong>상품 카테고리설정</strong></h4>
	</div>
	<div class="margin-bottom-30"></div>
	<div class="row">
		<div class="col col-4">
			<div class="margin-bottom-10">
				<a href="#" class="btn-e btn-e-xs btn-e-dark" onclick="collapseAll()">전체닫기</a>
				<a href="#" class="btn-e btn-e-xs btn-e-indigo" onclick="expandAll()">전체열기</a>
			</div>
			<div class="easyui-panel">
				<ul id="category" class="easyui-tree" data-options="url:'{C.EYOOM_ADMIN_CORE_URL}/shop/categorylist.json.php{? _GET.id}?id={_GET.id}{/}',method:'get',animate:true,lines:true"></ul>
			</div>
		</div>
		<div class="col col-8">
			<h4 class="margin-top-0 margin-bottom-15"><strong class="color-indigo">분류설정</strong></h4>
			<iframe id="ifrm_category" name="ifrm_category" src="{C.EYOOM_ADMIN_URL}/?dir=shop&pid=categoryform&wmode=1{?_GET.id}&id={_GET.id}{/}" scrolling="yes" style="overflow-x:hidden;overflow:auto;width:100%;min-height:1800px" frameborder=0></iframe>
		</div>
	</div>
</form>
</div>

<script src="../../../plugins/easyui/jquery.easyui.min.js"></script>
<script>
$(function() {
	$('#category').tree('expandAll');
	$('#category').tree({
		dnd: false,
		onDrop: function(targetNode, source, point) {
			var targetId = $('#category').tree('getNode', targetNode).id;
			var targetOrder = $('#category').tree('getNode', targetNode).order;
			$.ajax({
				url: '...',
				type: 'post',
				dataType: 'json',
				data: {
					id: source.id,
					targetId: targetId,
					point: point
				}
			});
		},
		onClick: function(source) {
			var url='{C.EYOOM_ADMIN_URL}/?dir=shop&pid=categoryform&wmode=1&id='+source.id;
			document.getElementById("ifrm_category").contentWindow.location.href = url;
		}
	});
});
function collapseAll() {
	$('#category').tree('collapseAll');
}
function expandAll() {
	$('#category').tree('expandAll');
}
</script>