/* 여기에 작업 또는 수정할 당신의 css style을 설정하세요. (customizations) */

.index_img {display: inline-block;}

.index_img .main_top1 {float:left; width: 33%;}
.index_img .main_top2 {margin-left: 5px;float:left; width: 33%;}
.index_img .main_top3 {float:right; width: 33%;}

.index_img div {float:left; width: 100%;}
.index_img div img {width: 100%;}

.index_img .main_top1 img {width: 100%;}
.index_img .main_top2 img {width: 100%;}
.index_img .main_top3 img {width: 100%;}

@media (max-width: 767px) {
    .index_img .main_top2 {margin-left: 3px ;}
    .index_img .iframe {height: 400px;width: 100%;}
}

@media (max-width: 430px) {
    .index_img .main_top2 {margin-left: 2px ;}
    .index_img .iframe {height: 300px;width: 100%;}
}



/*@media (min-width: 768px) and (max-width: 991px) {
    .header-nav .menu-container {width:750px}
}
@media (max-width: 991px) {
    .header-nav .navbar {min-height:70px;padding-top:10px}
    .header-nav {position:static;border-bottom:1px solid #e5e5e5}
    .header-nav .menu-container:before, .header-nav .menu-container:after {content:" ";display:table}
    .header-nav .menu-container:after {clear:both}
    .header-nav .menu-container {margin-left:auto;margin-right:auto;padding-left:15px;padding-right:15px}
    .header-nav > .navbar > .container {width:inherit;margin-left:0;margin-right:0;padding-left:0;padding-right:0}
    .header-nav > .navbar > .container > .navbar-header, .header-nav > .navbar > .container > .navbar-collapse {margin-left:0;margin-right:0}
}*/

/*


@media (min-width: 992px) {
    .header-nav .navbar {position:relative;width:100%;z-index:99;background-color:#fff;border-top:0;border-bottom:1px solid #d0d0d0;white-space:nowrap;height:60px}
    .header-nav .container > .navbar-header, .header-nav .container-fluid > .navbar-header {margin-bottom:-10px}
    .header-nav .navbar-nav {position:relative;float:none;display:flex;justify-content:center}
    .header-nav .navbar-nav .nav-li-divider {color:#e5e5e5;line-height:60px;font-size:30px;font-weight:100;padding-left:5px}
    .header-nav .navbar-nav > li > a {padding:0 15px;line-height:60px;font-size:16px}
    .header-nav .navbar-nav > li > a > .nav-icon-pre {margin-right:15px}
    .header-nav .navbar-nav > li.dropdown > a {padding-right:30px}
    .header-nav .navbar-nav > li > a, .header-nav .navbar-nav > li > a:hover, .header-nav .navbar-nav > li > a:focus, .header-nav .navbar-nav > .active > a, .header-nav .navbar-nav > .active > a:hover, .header-nav .navbar-nav > .active > a:focus {color:#787b90;background:none}
    .header-nav .navbar-nav > .open > a, .header-nav .navbar-nav > .open > a:hover, .header-nav .navbar-nav > .open > a:focus {color:#005cff}
    .header-nav .navbar-nav .dropdown > a:after {top:0;right:15px;font-size:11px;position:absolute;font-weight:normal;color:#b5b5b5;display:inline-block;font-family:FontAwesome;content:"\f0d7"}
    .header-nav .dropdown-menu {border:none;padding:10px;margin-top:0;min-width:180px;border-radius:2px !important;background:#fff;z-index:999 !important;box-shadow:0 1px 8px rgba(0, 0, 0, 0.35)}
    .header-nav .dropdown-menu:before {-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);-webkit-transform:rotate(45deg);transform:rotate(45deg);width:10px;height:10px;background:#fff;border-left:1px solid rgba(255, 255, 255, 0.2);border-top:1px solid rgba(255, 255, 255, 0.2);box-shadow:-2px -2px 0 -1px rgba(0, 0, 0, 0.1);content:"";position:absolute;top:-4px;left:40px}
    .header-nav .dropdown-menu .dropdown-menu:before {-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);transform:rotate(-45deg);top:22px;left:-4px}
    .header-nav .dropdown-menu li a {color:#3D4254;font-size:13px;font-weight:normal;padding:6px 10px}
    .header-nav .dropdown-menu .active > a {color:#1769ff;background:inherit;filter:none !important;-webkit-transition:all 0.1s ease-in-out;-moz-transition:all 0.1s ease-in-out;-o-transition:all 0.1s ease-in-out;transition:all 0.1s ease-in-out}
    .header-nav .dropdown-menu li > a:focus {background:none;filter:none !important}
    .header-nav .navbar-nav > li.dropdown:hover > .dropdown-menu {display:block}
    .header-nav .open > .dropdown-menu {display:none}
    .header-nav .dropdown-menu > li a:hover {background:#007aff;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#0096ff), to(#005dff));background:-webkit-linear-gradient(0% 0%, 0% 100%, from(#0096ff), to(#005dff));background:-moz-linear-gradient(center top, #0096ff, #005dff);background:linear-gradient(#0096ff, #005dff);border-color:#0071e0;color:#fff !important;text-shadow:0 1px 0 rgba(0, 0, 0, 0.3);border-radius:2px !important}
}
/!* Dropdown Submenu *!/
.header-nav .dropdown-submenu {position:relative}
.header-nav .dropdown-submenu > a > .sub-caret {top:5px;left:8px !important;float:right;font-size:11px;font-weight:normal;display:inline-block}
.header-nav .dropdown-submenu > .dropdown-menu {top:-10px;left:100%;margin-left:0px}
.header-nav .dropdown-submenu > .dropdown-menu.submenu-left {left:-100%}
.header-nav .dropdown-submenu:hover > .dropdown-menu {display:block}
.header-nav .dropdown-submenu.pull-left {float:none}
.header-nav .dropdown-submenu.pull-left > .dropdown-menu {left:-100%;margin-left:10px}
.header-nav .dropdown-menu li [class^="fa-"], .header-nav .dropdown-menu li [class*=" fa-"] {left:-3px;width:1.25em;margin-right:1px;position:relative;text-align:center;display:inline-block}
.header-nav .dropdown-menu li [class^="fa-"].fa-lg, .header-nav .dropdown-menu li [class*=" fa-"].fa-lg {width:1.5625em}
@media (min-width: 992px) {
    .header-nav .dropdown-submenu > a > .sub-caret {position:absolute !important;left:inherit !important;right:0;top:11px}
}
@media (max-width: 991px) {
    .header-nav .dropdown-submenu > .dropdown-menu {display:block;margin-left:15px}
}
/!* Header Nav Fixed *!/
@media (min-width: 992px) {
    #header-fixed .header-nav .navbar-nav > li > a {color:#555555;font-weight:400}
    #header-fixed .header-nav .navbar-nav .active > a, #header-fixed .header-nav .navbar-nav li > a:hover, #header-fixed .header-nav .navbar-nav > li.open > a {color:#005cff}
    #header-fixed .header-nav.header-sticky {width:100%;height:auto;z-index:999;position:relative}
    #header-fixed .header-nav.header-fixed-trans {position:fixed;top:48px;left:0}
    #header-fixed .header-nav.header-fixed-trans .navbar-nav > li > a {color:#555555;line-height:60px}
    #header-fixed .header-nav.header-fixed-trans .navbar-nav .active > a, #header-fixed .header-nav.header-fixed-trans .navbar-nav li > a:hover {color:#005cff}
    #header-fixed .header-sticky-space.header-fixed-space-trans {clear:both;margin-bottom:60px}
}
@media (max-width: 991px) {
    #header-fixed .header-nav, #header-fixed .header-nav.header-fixed-trans {height:inherit;position:relative}
}
/!* Fixed Boxed *!/
.boxed-layout#header-fixed .header-nav.header-sticky {left:inherit;width:inherit}

/!*---------- Sidebar Nav ----------*!/
.sidebar .sidebar-member-menu {display:none}
@media (max-width: 991px) {
    .sidebar.left {z-index:999;display:none;position:fixed;top:0;left:0;bottom:0;width:280px;background:#fff}
    .sidebar-left-mask {display:none}
    .sidebar-left-mask.active {display:block;position:fixed;top:0;bottom:0;left:0;right:0;z-index:998;background:#000;opacity:0.5}
    .sidebar .sidebar-left-content {padding-top:48px;padding-bottom:20px}
    .sidebar .sidebar-left-content.active {position:relative;height:100%;width:100%;overflow-y:auto;-webkit-overflow-scrolling:touch}
    .sidebar .sidebar-member-menu {position:relative;display:block;padding:20px 15px 20px;border-bottom:1px solid #e5e5e5}
    .sidebar .sidebar-member-menu .sidebar-lg-btn {margin-bottom:20px}
    .sidebar .sidebar-member-menu .sidebar-member-btn-box {display:inline-block;float:left;width:50%}
    .sidebar .sidebar-member-menu .sidebar-member-btn {position:relative;background:#656565;width:120px;height:40px;line-height:40px;color:#fff;text-align:center;border-radius:2px !important}
    .sidebar .sidebar-member-menu .sidebar-other-btn {position:relative;background:#252525;width:120px;height:30px;line-height:30px;color:#fff;text-align:center;border-radius:2px !important}
    .header-nav .navbar-nav {position:relative;margin:0;float:none}
    .header-nav .navbar-nav > .nav-li-divider {display:none}
    .header-nav .navbar-nav > .nav-li-space {height:44px;border-bottom:none;border-top:1px solid #e5e5e5;background:#f2f2f2}
    .header-nav .navbar-nav > li {float:none}
    .header-nav .navbar-nav > li > a {font-size:13px;padding:12px 15px;color:#000}
    .header-nav .navbar-nav > li a {border-bottom:none;border-top:1px solid #e5e5e5}
    .header-nav .navbar-nav > li a:hover {border-top:1px solid #e5e5e5}
    .header-nav .navbar-nav > li:first-child > a {border-top:1px solid transparent}
    .header-nav .navbar-nav .open .dropdown-menu {border:0;float:none;width:auto;margin:0;padding:0;position:static;box-shadow:none;background-color:transparent}
    .header-nav .navbar-nav .open .dropdown-menu > li > a {color:#757575;line-height:26px;border-top:1px solid #e5e5e5}
    .header-nav .navbar-nav .open .dropdown-menu > li:first-child > a {border-top:1px solid #e5e5e5}
    .header-nav .navbar-nav .open .dropdown-menu > li > a, .header-nav .navbar-nav .open .dropdown-menu .dropdown-header {padding:5px 15px 5px 25px}
    .header-nav .navbar-nav .open .dropdown-menu > li > a:hover, .header-nav .navbar-nav .open .dropdown-menu > li > a:focus {color:#005cff}
    .header-nav .navbar-nav > .open > a, .header-nav .navbar-nav > .open > a:hover, .header-nav .navbar-nav > .open > a:focus {color:#005cff;background:inherit}
    .header-nav .navbar-nav > .active > a, .header-nav .navbar-nav > .active > a:hover, .header-nav .navbar-nav > .active > a:focus {color:#005cff;background:inherit}
    .header-nav .navbar-nav .dropdown .dropdown-submenu > a {font-size:12px;background:#f8f8f8}
    .header-nav .navbar-nav .open .dropdown-menu .dropdown-menu > li > a {color:#757575;line-height:22px;border-top:1px solid #e5e5e5;padding:5px 15px 5px 35px;background:#f8f8f8}
}*/
