/*--------------------------------------
	eyoom (이윰빌더)
--------------------------------------*/

/*---------- Wrapper & Basic Layout & Boxed Layout ----------*/
.wrapper {background:#fff}
.basic-layout {background:#f4f4f4}
.boxed-layout {padding:0;box-shadow:0 0 5px #bbb;margin-left:auto !important;margin-right:auto !important;background:#fff}
@media (min-width: 992px) {
	.boxed-layout .header-nav > .navbar > .container {padding-right:0;padding-left:0}
}

/*---------- Header Topbar ----------*/
.header-topbar {position:fixed;top:0;width:100%;background:#252525;z-index:1000;text-align:center;height:48px}
.header-topbar ul {margin:0}
.header-topbar .topbar-left {position:absolute;top:0;left:0}
.header-topbar .topbar-left .header-logo {position:relative;z-index:100}
.header-topbar .topbar-left .navbar-brand {position:relative;height:48px;font-size:20px;font-weight:bold;padding:15px;color:#fff}
.header-topbar .topbar-left .navbar-brand img {width:auto;height:17px;display:inline-block;vertical-align:middle}
.header-topbar .topbar-center {display:inline-block}
.header-topbar .topbar-center .notice-roll {width:220px;text-align:left;border:0;background:transparent;margin:5px 0}
.header-topbar .topbar-center .notice-roll ul li a {color:#c5c5c5}
.header-topbar .topbar-center .notice-roll ul li a:hover {color:#fff;text-decoration:underline}
.header-topbar .topbar-right {position:absolute;top:0;right:0;text-align:right;padding-right:7px}
.header-topbar .topbar-right .mobile-nav-trigger {display:none}
.header-topbar .topbar-right > .member-menu > li {padding:14px 7px;display:inline-block}
.header-topbar .topbar-right > .member-menu > li > a {font-size:12px;color:#fff}
.header-topbar .topbar-right > .member-menu > li > a:hover {text-decoration:underline}
.header-topbar .topbar-right > .member-menu > li > i {color:#757575}
.header-topbar .topbar-right > .member-menu > li > a:hover i {color:#fff}
.header-topbar .topbar-right > .member-menu > li.topbar-add-menu {position:relative}
.header-topbar .topbar-right > .member-menu > li.topbar-add-menu > ul {left:inherit;right:0;font-size:12px;background:#757575;border:0}
.header-topbar .topbar-right > .member-menu > li.topbar-add-menu > ul > li > a {color:#fff}
.header-topbar .topbar-right > .member-menu > li.topbar-add-menu > ul > li > a:hover {color:#fff;background:#252525}
.header-topbar .topbar-right > .member-menu > li.topbar-add-menu > ul > li.divider {background-color:#858585}
.header-topbar .topbar-right > .member-menu > li.dropdown-extended li {border-left:0;border-right:0;top:0;margin-left:0;position:relative;border:0;text-align:left}
.header-topbar .dropdown-extended .dropdown-menu {float:right;left:inherit;right:0px;margin:0;border:0;background-color:#fff;width:275px;z-index:999;border-radius:4px !important;box-shadow:0 1px 8px rgba(0, 0, 0, 0.35)}
.header-topbar .dropdown-extended .dropdown-menu:before {position:absolute;top:-7px;right:20px;display:inline-block !important;border-right:7px solid transparent;border-bottom:7px solid #fafafa;border-left:7px solid transparent;border-bottom-color:#ccc;content:""}
.header-topbar .dropdown-extended .dropdown-menu:after {position: absolute;top:-6px;right:21px;display:inline-block !important;border-right:6px solid transparent;border-bottom:6px solid #fafafa;border-left:6px solid transparent;content:""}
.header-topbar .dropdown-extended .dropdown-menu > li.external {display:block;overflow:hidden;padding:10px 15px;letter-spacing:0.5px}
.header-topbar .dropdown-extended .dropdown-menu > li.external > h5 {margin:0;padding:0;float:left;font-size:12px;display:inline-block}
.header-topbar .dropdown-extended .dropdown-menu > li.external > a {display:inline-block;padding:0;background:none;clear:inherit;font-size:12px;position:absolute;right:10px;border:0;color:#000;text-decoration:underline}
.header-topbar .dropdown-extended .dropdown-menu > li.external > a:hover {text-decoration:underline;color:#005cff}
.header-topbar .dropdown-extended .dropdown-menu .dropdown-menu-list {padding:0;margin:0;list-style:none;position:relative;width:246px}
.header-topbar .dropdown-extended .dropdown-menu .dropdown-menu-list > li > a {display:block;clear:both;white-space:normal;padding:8px 0 0;text-shadow:none}
@media (max-width: 991px){
	.header-topbar .topbar-right .member-menu {display:none}
	.header-topbar .topbar-right .mobile-nav-trigger {display:block;padding:11px 7px 10px;color:#fff}
}
@media (max-width: 767px){
	.header-topbar .dropdown-extended .dropdown-menu {right:-60px}
	.header-topbar .dropdown-extended .dropdown-menu:before {right:88px}
	.header-topbar .dropdown-extended .dropdown-menu:after {right:89px}
}

/*---------- Header Title ----------*/
/*.header-title {position:relative}
.header-title .header-title-in {position:relative;overflow:hidden;box-sizing:border-box;text-align:center;width:100%;height:100px;color:#fff;z-index:12;margin-top:47px;background:#fff}
.header-title .header-title-in .title-image-center {width:auto;height:40px;margin:30px auto}
.header-title .header-title-in h1 {color:#454545;font-size:26px;line-height:40px;font-weight:bold;margin-top:30px;margin-bottom:30px;display:inline-block}*/
.header-title {position:relative}
.header-title .header-title-in {position:relative;overflow:hidden;box-sizing:border-box;text-align:center;width:100%;height:240px;color:#fff;z-index:12;margin-top:47px;background:#fff}
.header-title .header-title-in .title-image-center {width:auto;height:200px;margin:30px auto 20px;}
.header-title .header-title-in h1 {color:#454545;font-size:26px;line-height:40px;font-weight:bold;margin-top:30px;margin-bottom:30px;display:inline-block}

@media (max-width: 991px) {
	.header-title .header-title-in {position:relative;overflow:hidden;box-sizing:border-box;text-align:center;width:100%;height:140px;color:#fff;z-index:12; ;background:#fff}
	.header-title .header-title-in .title-image-center {width:auto;height:100px;}
}


/*---------- Header Nav ----------*/
.header-nav {position:relative}
.header-nav .navbar {border:none;margin-bottom:0;background-color:#fff;border-top:1px solid #e5e5e5;border-bottom:1px solid #d0d0d0;box-shadow:0 -1px 0px rgba(0, 0, 0, 0.15);white-space:nowrap;height:60px}
.header-nav .navbar-nav > li > a {font-size:12px;letter-spacing:0px}
.header-nav .nav > li > a:hover, .header-nav .nav > li > a:focus {background:inherit}
.header-nav .navbar-nav .dropdown > a:after {top:12px;right:12px;font-size:11px;position:absolute;font-weight:normal;color:#bbb;display:inline-block;font-family:FontAwesome;content:"\f0d7"}
/* Nav In Center */
.header-nav .nav-center {display:inline-block;text-align:center;width:300px;position:absolute;left:50%;margin-left:-150px}
.header-nav .nav-center .notice-roll {width:278px;text-align:left;background:#fbfbfb;margin:1px 0}
@media (max-width: 767px) {
	.header-nav .nav-center {display:inherit;text-align:inherit;width:inherit;position:inherit;left:inherit;margin-left:inherit}
	.header-nav .nav-center .notice-roll {width:inherit;text-align:left;background:#fbfbfb;margin:1px 15px}
}
/* Navbar Nav */
@media (max-width: 991px) {
	.header-nav .navbar {min-height:60px;padding-top:10px}
	.header-nav > .navbar > .container {width:inherit;margin-left:0;margin-right:0;padding-left:0;padding-right:0}
}
@media (min-width: 992px) {
	.header-nav .navbar {position:relative;width:100%;z-index:99;background-color:#fff;border-top:0;border-bottom:1px solid #d0d0d0;white-space:nowrap;height:60px}
	.header-nav .container > .navbar-header, .header-nav .container-fluid > .navbar-header {margin-bottom:-10px}
	.header-nav .navbar-nav {position:relative;float:none;display:flex;justify-content:center}
	.header-nav .navbar-nav .nav-li-divider {color:#e5e5e5;line-height:60px;font-size:30px;font-weight:100;padding-left:5px}
	.header-nav .navbar-nav > li > a {padding:0 15px;line-height:60px;font-size:16px}
	.header-nav .navbar-nav > li > a > .nav-icon-pre {margin-right:15px}
	.header-nav .navbar-nav > li.dropdown > a {padding-right:30px}
	.header-nav .navbar-nav > li > a, .header-nav .navbar-nav > li > a:hover, .header-nav .navbar-nav > li > a:focus, .header-nav .navbar-nav > .active > a, .header-nav .navbar-nav > .active > a:hover, .header-nav .navbar-nav > .active > a:focus {color:#787b90;background:none}
	.header-nav .navbar-nav > .open > a, .header-nav .navbar-nav > .open > a:hover, .header-nav .navbar-nav > .open > a:focus {color:#005cff}
	.header-nav .navbar-nav .dropdown > a:after {top:0;right:15px;font-size:11px;position:absolute;font-weight:normal;color:#b5b5b5;display:inline-block;font-family:FontAwesome;content:"\f0d7"}
	.header-nav .dropdown-menu {border:none;padding:10px;margin-top:0;min-width:180px;border-radius:2px !important;background:#fff;z-index:999 !important;box-shadow:0 1px 8px rgba(0, 0, 0, 0.35)}
	.header-nav .dropdown-menu:before {-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);-webkit-transform:rotate(45deg);transform:rotate(45deg);width:10px;height:10px;background:#fff;border-left:1px solid rgba(255, 255, 255, 0.2);border-top:1px solid rgba(255, 255, 255, 0.2);box-shadow:-2px -2px 0 -1px rgba(0, 0, 0, 0.1);content:"";position:absolute;top:-4px;left:40px}
	.header-nav .dropdown-menu .dropdown-menu:before {-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);transform:rotate(-45deg);top:22px;left:-4px}
	.header-nav .dropdown-menu li a {color:#3D4254;font-size:13px;font-weight:normal;padding:6px 10px}
	.header-nav .dropdown-menu .active > a {color:#1769ff;background:inherit;filter:none !important;-webkit-transition:all 0.1s ease-in-out;-moz-transition:all 0.1s ease-in-out;-o-transition:all 0.1s ease-in-out;transition:all 0.1s ease-in-out}
	.header-nav .dropdown-menu li > a:focus {background:none;filter:none !important}
	.header-nav .navbar-nav > li.dropdown:hover > .dropdown-menu {display:block}
	.header-nav .open > .dropdown-menu {display:none}
	.header-nav .dropdown-menu > li a:hover {background:#007aff;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#0096ff), to(#005dff));background:-webkit-linear-gradient(0% 0%, 0% 100%, from(#0096ff), to(#005dff));background:-moz-linear-gradient(center top, #0096ff, #005dff);background:linear-gradient(#0096ff, #005dff);border-color:#0071e0;color:#fff !important;text-shadow:0 1px 0 rgba(0, 0, 0, 0.3);border-radius:2px !important}
}
/* Dropdown Submenu */
.header-nav .dropdown-submenu {position:relative}
.header-nav .dropdown-submenu > a > .sub-caret {top:5px;left:8px !important;float:right;font-size:11px;font-weight:normal;display:inline-block}
.header-nav .dropdown-submenu > .dropdown-menu {top:-10px;left:100%;margin-left:0px}
.header-nav .dropdown-submenu > .dropdown-menu.submenu-left {left:-100%}
.header-nav .dropdown-submenu:hover > .dropdown-menu {display:block}
.header-nav .dropdown-submenu.pull-left {float:none}
.header-nav .dropdown-submenu.pull-left > .dropdown-menu {left:-100%;margin-left:10px}
.header-nav .dropdown-menu li [class^="fa-"], .header-nav .dropdown-menu li [class*=" fa-"] {left:-3px;width:1.25em;margin-right:1px;position:relative;text-align:center;display:inline-block}
.header-nav .dropdown-menu li [class^="fa-"].fa-lg, .header-nav .dropdown-menu li [class*=" fa-"].fa-lg {width:1.5625em}
@media (min-width: 992px) {
  	.header-nav .dropdown-submenu > a > .sub-caret {position:absolute !important;left:inherit !important;right:0;top:11px}
}
@media (max-width: 991px) {
	.header-nav .dropdown-submenu > .dropdown-menu {display:block;margin-left:15px}
}
/* Header Nav Fixed */
@media (min-width: 992px) {
	#header-fixed .header-nav .navbar-nav > li > a {color:#555555;font-weight:400}
	#header-fixed .header-nav .navbar-nav .active > a, #header-fixed .header-nav .navbar-nav li > a:hover, #header-fixed .header-nav .navbar-nav > li.open > a {color:#005cff}
	#header-fixed .header-nav.header-sticky {width:100%;height:auto;z-index:999;position:relative}
	#header-fixed .header-nav.header-fixed-trans {position:fixed;top:48px;left:0}
	#header-fixed .header-nav.header-fixed-trans .navbar-nav > li > a {color:#555555;line-height:60px}
	#header-fixed .header-nav.header-fixed-trans .navbar-nav .active > a, #header-fixed .header-nav.header-fixed-trans .navbar-nav li > a:hover {color:#005cff}
	#header-fixed .header-sticky-space.header-fixed-space-trans {clear:both;margin-bottom:60px}
}
@media (max-width: 991px) {
	#header-fixed .header-nav, #header-fixed .header-nav.header-fixed-trans {height:inherit;position:relative}
}
/* Fixed Boxed */
.boxed-layout#header-fixed .header-nav.header-sticky {left:inherit;width:inherit}

/*---------- Sidebar Nav ----------*/
.sidebar .sidebar-member-menu {display:none}
@media (max-width: 991px) {
	.sidebar.left {z-index:999;display:none;position:fixed;top:0;left:0;bottom:0;width:280px;background:#fff}
	.sidebar-left-mask {display:none}
	.sidebar-left-mask.active {display:block;position:fixed;top:0;bottom:0;left:0;right:0;z-index:998;background:#000;opacity:0.5}
	.sidebar .sidebar-left-content {padding-top:48px;padding-bottom:20px}
	.sidebar .sidebar-left-content.active {position:relative;height:100%;width:100%;overflow-y:auto;-webkit-overflow-scrolling:touch}
	.sidebar .sidebar-member-menu {position:relative;display:block;padding:20px 15px 20px;border-bottom:1px solid #e5e5e5}
	.sidebar .sidebar-member-menu .sidebar-lg-btn {margin-bottom:20px}
	.sidebar .sidebar-member-menu .sidebar-member-btn-box {display:inline-block;float:left;width:50%}
	.sidebar .sidebar-member-menu .sidebar-member-btn {position:relative;background:#656565;width:120px;height:40px;line-height:40px;color:#fff;text-align:center;border-radius:2px !important}
	.sidebar .sidebar-member-menu .sidebar-other-btn {position:relative;background:#252525;width:120px;height:30px;line-height:30px;color:#fff;text-align:center;border-radius:2px !important}
	.header-nav .navbar-nav {position:relative;margin:0;float:none}
	.header-nav .navbar-nav > .nav-li-divider {display:none}
	.header-nav .navbar-nav > .nav-li-space {height:44px;border-bottom:none;border-top:1px solid #e5e5e5;background:#f2f2f2}
	.header-nav .navbar-nav > li {float:none}
	.header-nav .navbar-nav > li > a {font-size:13px;padding:12px 15px;color:#000}
	.header-nav .navbar-nav > li a {border-bottom:none;border-top:1px solid #e5e5e5}
	.header-nav .navbar-nav > li a:hover {border-top:1px solid #e5e5e5}
	.header-nav .navbar-nav > li:first-child > a {border-top:1px solid transparent}
	.header-nav .navbar-nav .open .dropdown-menu {border:0;float:none;width:auto;margin:0;padding:0;position:static;box-shadow:none;background-color:transparent}
	.header-nav .navbar-nav .open .dropdown-menu > li > a {color:#757575;line-height:26px;border-top:1px solid #e5e5e5}
	.header-nav .navbar-nav .open .dropdown-menu > li:first-child > a {border-top:1px solid #e5e5e5}
	.header-nav .navbar-nav .open .dropdown-menu > li > a, .header-nav .navbar-nav .open .dropdown-menu .dropdown-header {padding:5px 15px 5px 25px}
	.header-nav .navbar-nav .open .dropdown-menu > li > a:hover, .header-nav .navbar-nav .open .dropdown-menu > li > a:focus {color:#005cff}
	.header-nav .navbar-nav > .open > a, .header-nav .navbar-nav > .open > a:hover, .header-nav .navbar-nav > .open > a:focus {color:#005cff;background:inherit}
	.header-nav .navbar-nav > .active > a, .header-nav .navbar-nav > .active > a:hover, .header-nav .navbar-nav > .active > a:focus {color:#005cff;background:inherit}
	.header-nav .navbar-nav .dropdown .dropdown-submenu > a {font-size:12px;background:#f8f8f8}
	.header-nav .navbar-nav .open .dropdown-menu .dropdown-menu > li > a {color:#757575;line-height:22px;border-top:1px solid #e5e5e5;padding:5px 15px 5px 35px;background:#f8f8f8}
}

/*---------- Basic Body ----------*/
.basic-body.page-padding {padding-top:25px;padding-bottom:60px}
.basic-body.ft-padding {padding-bottom:25px}
.basic-body .basic-body-page {position:relative;background:#fff;padding:0 15px;border:1px solid #dadada}
.basic-body .basic-body-page .category-mobile-area {display:none}
.basic-body .basic-body-page .basic-body-main {background:#fff;padding-left:20px;padding-right:20px;padding-top:25px;padding-bottom:25px}
.basic-body .basic-body-main {padding-top:25px;padding-bottom:60px}
.basic-body .basic-body-main.left-main {border-right:1px solid #e5e5e5;padding-left:20px;padding-right:20px;padding-bottom:60px}
.basic-body .basic-body-main.right-main {border-left:1px solid #e5e5e5;padding-left:20px;padding-right:20px;padding-bottom:60px}
.basic-body .basic-body-main.page-padding {padding-bottom:25px}
.basic-body .basic-body-main.ft-padding {padding-bottom:25px}
.basic-body .basic-body-side {padding:25px 0}
.basic-body .basic-body-side.left-side {margin-right:-1px;border-right:1px solid #e5e5e5}
.basic-body .basic-body-side.right-side {margin-left:-1px;border-left:1px solid #e5e5e5}
.basic-body .basic-body-side .side-mobile-area {display:none}
@media (min-width: 992px){
	.basic-body .basic-body-main.col-md-9 {width:73%}
	.basic-body .basic-body-side.col-md-3 {width:27%}
}
@media (max-width: 991px){
	.basic-body .basic-body-page .category-mobile-area {display:block}
	.basic-body .basic-body-main.left-main {border-right:0;padding-left:15px;padding-right:15px}
	.basic-body .basic-body-main.right-main {border-left:0;padding-left:15px;padding-right:15px}
	.basic-body .basic-body-side.left-side {margin-right:0;border-right:0;padding:0}
	.basic-body .basic-body-side.right-side {margin-left:0;border-left:0;padding:0}
	.basic-body .basic-body-side .side-pc-area {display:none}
	.basic-body .basic-body-side .side-mobile-area {display:block;padding:25px 0}
}
@media (max-width: 767px){
	.basic-body.page-padding {padding:0}
	.basic-body .basic-body-page {border:0}
}

/*---------- Footer Top ----------*/
.footer-top {position:relative;width:100%;min-height:100px;background:#454545;margin-bottom:34px}
.footer-top-content {position:relative}
.footer-top-content .footer-top-logo {position:absolute;top:3px;left:0;width:140px;height:auto;overflow:hidden}
.footer-top-content .footer-top-logo h2 {color:#fff;font-weight:bold;margin:0;font-size:22px}
.footer-top-content .footer-top-info {position:relative;margin-top:30px;margin-left:180px;margin-bottom:30px;word-break:keep-all;font-size:12px}
.footer-top-content .footer-top-info strong {color:#d5d5d5}
.footer-top-content .footer-top-info span {color:#959595}
.footer-top-content .footer-top-info span.info-divider {margin-left:5px;margin-right:5px;color:#555555}
.footer-top-content .footer-top-info a {color:#959595;text-decoration:underline}
.footer-top-content .footer-top-info a:hover {color:#d5d5d5}
.footer-top-content .footer-top-info .btn-e-xs {line-height:11px;background:#000;text-decoration:none}
@media (max-width: 767px){
	.footer-top	{margin-bottom:0}
	.footer-top-content .footer-top-logo {position:relative;top:inherit;left:inherit;margin-top:30px}
	.footer-top-content .footer-top-info {margin-left:0}
}

/*---------- Footer ----------*/
.footer {width:100%;height:34px;bottom:0;left:0;position:fixed;z-index:99}
.footer.footer-dark {background:#000}
.footer.footer-dark .footer-left {position:absolute;left:0;background:#000}
.footer.footer-dark .footer-left > ul {margin:0}
.footer.footer-dark .footer-left > ul > li {color:#656565;font-size:11px;line-height:34px;border-right:1px solid #000;box-shadow:1px 0 0 #252525;padding:0 14px}
.footer.footer-dark .footer-left > ul > li:last-child {border-right:0;box-shadow:none}
.footer.footer-dark .footer-left > ul > li:last-child a {margin-right:14px;color:#656565}
.footer.footer-dark .footer-left > ul > li:last-child a:hover {text-decoration:underline}
.footer.footer-dark .footer-left .footer-info-btn {display:inline-block;cursor:pointer}
.footer.footer-dark .footer-left .dropup .dropdown-menu > li > a {font-size:11px}
.footer.footer-dark .footer-right {text-align:right;padding-right:14px;overflow:hidden}
.footer.footer-dark .footer-right p {color:#656565;font-size:11px;line-height:34px;margin-bottom:0}
@media (max-width: 767px){
	.footer	{position:relative}
}

/*---------- Page Title ----------*/
.page-title-wrap {position:relative;background:#e5e5e5;border-bottom:1px solid #d0d0d0;padding:20px 0}
.page-title-wrap h2 {margin:0;padding:0;font-size:22px;color:#454545;font-weight:bold}
.page-title-wrap .breadcrumb {margin:3px 0 0;padding:0;background:none;font-size:12px;color:#656565}
.page-title-wrap .breadcrumb li {color:#656565}
.page-title-wrap .breadcrumb li a {color:#656565}

/*---------- Main Index ----------*/
.main-mobile-content .poll {margin:30px 0 0}

/*---------- Sidebar Tab ----------*/
.sidebar-tab {position:relative;margin:0 20px 30px}
.sidebar-tab .nav-tabs li {width:50%}
.sidebar-tab .nav-tabs li a {text-align:center}
.sidebar-tab .tab-content {position:relative;border:1px solid #e5e5e5;border-top:0;padding:10px;background:#fff;-webkit-border-radius:0 0 3px 3px !important;-moz-border-radius:0 0 3px 3px !important;border-radius:0 0 3px 3px !important}

/*---------- Quick Menu ----------*/
.quick-menu-wrap {position:relative}
.quick-menu {position:absolute;z-index:1;right:-78px;top:0px;width:68px;border:1px solid #dadada;background:#fff;border-radius:2px !important}
.quick-menu.quick-menu-main {top:25px}
.quick-menu .quick-menu-box {position:relative;display:block;text-align:center;padding:10px 0;border-bottom:1px solid #dadada}
.quick-menu .quick-menu-box.heading-current {padding:3px 0;background:#f5f5f5}
.quick-menu .quick-menu-box.current-view {padding:5px;border-bottom:0}
.quick-menu .quick-menu-box a i {color:#757575;font-size:18px}
.quick-menu .quick-menu-box span {display:block;color:#2E3340;font-size:11px;padding-top:2px;letter-spacing:-1px}
.quick-menu .quick-menu-box a:hover i, .quick-menu ul li a:hover span {color:#000}
.quick-menu .quick-menu-box .quick-carousel {width:100%}
.quick-menu .quick-menu-box .item-image img {width:100%;height:auto;background:#fff;margin-bottom:5px}
.quick-menu .quick-menu-box p {width:100%;height:80px;padding-top:20px;letter-spacing:-1px;font-size:11px;background:#fff;margin:0;color:#959595}
.quick-menu .quick-menu-box .quick-carousel .carousel-arrow a {font-size:11px;padding-top:6px}
.quick-menu .quick-menu-box .quick-carousel .carousel-arrow a:hover, .quick-menu .quick-menu-box .quick-carousel .carousel-arrow a:focus {color:#DE2600}
.quick-menu .quick-scroll-btn {background:#252525;text-align:center;color:#d5d5d5;padding:8px 0;margin:-1px;cursor:pointer}
.quick-menu .quick-scroll-btn.top-btn {padding:7px 0 9px}
.quick-menu .quick-scroll-btn.down-btn {border-top:1px solid #656565;border-radius:0 0 2px 2px !important}
.quick-menu .quick-scroll-btn i {display:block;font-size:12px;line-height:1}
.quick-menu .quick-scroll-btn span {display:block;font-size:10px;line-height:1;color:#959595}
@media (max-width:991px){
	.quick-menu {display:none}
}