<?php if (!defined('_GNUBOARD_')) exit; ?>

<div id="fakeloader"></div>

<!--{* ------------- EB 슬라이더 - 메인 영역 시작 ------------- *}-->
{=eb_slider('1516727201')}
<!--{* ------------- EB 슬라이더 - 메인 영역 끝 ------------- *}-->

    <div class="index_img">
    <div class="margin-bottom-5 ">
        <div class="main_top1">
            <a href="{C.G5_URL}/page/?pid=aboutus"><img src="../image/main/main_top1.png"></a>
        </div>
        <div class="main_top2">
            <a href="{C.G5_URL}/page/?pid=brandmt"><img src="../image/main/main_top2.png"></a>
        </div>
        <div class="main_top3">
            <a href="{C.G5_URL}/page/?pid=onlinemt"><img src="../image/main/main_top3.png"></a>
        </div>
    </div>

    <div class="margin-bottom-5 ">
        <div>
            <img src="../image/main/main1_01.jpg">
        </div>
    </div>

    <div class="margin-bottom-5 ">
        <div>
            <img src="../image/main/main1_02.jpg">
        </div>
    </div>

    <div class="margin-bottom-5 ">
        <div>
            <img src="../image/main/main1_03.jpg">
        </div>
    </div>

    <div class="margin-bottom-5 ">
        <div>
            <img src="../image/main/main1_04.jpg">
        </div>
    </div>

    <div class="margin-bottom-5 ">
        <div>
            <img src="../image/main/main1_05.jpg">
        </div>
    </div>

    <div class="margin-bottom-5 ">
        <div>
            <img src="../image/main/main1_06.jpg">
        </div>
    </div>

    <div class="margin-bottom-5 ">
        <div>
            <img src="../image/main/main1_07.jpg">
        </div>
    </div>

    <div class="margin-bottom-5 ">
        <div>
            <img src="../image/main/main1_08.jpg">
        </div>
    </div>

    <div class="margin-bottom-5 ">
        <div>
            <img src="../image/main/main1_09.jpg">
        </div>
    </div>

    <div class="margin-bottom-5 ">
        <div>
            <img src="../image/main/main1_10.jpg">
        </div>
    </div>

    <div class="margin-bottom-5 ">
        <div>
            <a href="{C.G5_URL}/bbs/board.php?bo_table=q_a"><img src="../image/main/contact.png"></a>
        </div>
    </div>

    <div class="margin-bottom-5">
        <!-- <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12654.800189237718!2d126.95667203925568!3d37.53856744162723!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca211f9b4c207%3A0x7fa72c903dfd9f22!2z7ISc7Jq47Yq567OE7IucIOyaqeyCsOq1rCDrsLHrspTroZwgMzI5!5e0!3m2!1sko!2skr!4v1470591948323' width=100% height='600' frameborder='0' style='border:0' allowfullscreen></iframe></div> -->
        <!-- <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: '600'; }</style><div class='embed-container'><iframe src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1581.5470957095627!2d126.8641938798604!3d37.55284456117903!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357c9c0327bd26cf%3A0x833b59c2f9048b4d!2z7ISc7Jq47Yq567OE7IucIOqwleyEnOq1rCDrk7HstIwx64-ZIDY0Ny0yNg!5e0!3m2!1sko!2skr!4v1516797847656' width='800' height='600' frameborder='0' style='border:0' allowfullscreen></iframe></div> -->
        <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3166.9018698613013!2d126.90648634320424!3d37.46303878821668!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b61d20770f53f%3A0x4f63a3547013ad3e!2z64Ko67aA7Jes7ISx67Cc7KCE7IS87YSw!5e0!3m2!1sko!2skr!4v1543234456760' width='800' height='600' frameborder='0' style='border:0' allowfullscreen></iframe></div>
    </div>
</div>

<script src="../plugins/fakeLoader/fakeLoader.min.js"></script>
<script>
    $('#fakeloader').fakeLoader({
        timeToHide:3000,
        zIndex:"11",
        spinner:"spinner6",
        bgColor:"#f4f4f4",
    });

    $(window).load(function(){
        $('#fakeloader').fadeOut(300);
    });
</script>