<?php if (!defined('_GNUBOARD_')) exit; ?>

<div id="fakeloader"></div>

<!--{* ------------- EB 슬라이더 - 메인 영역 시작 ------------- *}-->
{=eb_slider('1501911378')}
<!--{* ------------- EB 슬라이더 - 메인 영역 끝 ------------- *}-->

<!--{* 베스트 최신글 시작 *}-->
<div class="margin-bottom-30">
    {latest->latest_bestset('basic','count=10||cut_subject=50')}
</div>
<!--{* 베스트 최신글 끝 *}-->

<!--{* ------------- Tab Latest Text 영역 시작 ------------- *}-->
<div class="margin-bottom-30">
    <div class="tab-brd tab-brd-default">
        <ul class="nav nav-tabs">
            <!--{* 아래 게시판명을 수정하세요. *}-->
            <li class="active"><a href="#main-tlt-1" data-toggle="tab">게시판명</a></li>
            <li><a href="#main-tlt-2" data-toggle="tab">게시판명</a></li>
            <li class="last"><a href="#main-tlt-3" data-toggle="tab">게시판명</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active in" id="main-tlt-1">
                <div class="tab-content-wrap">
                    <!--{* 아래 bo_table=게시판id 설정 *}-->
                    {latest->latest_eyoom('tab_latest_text','bo_table=게시판id||count=10||cut_subject=50')}
                </div>
            </div>
            <div class="tab-pane fade in" id="main-tlt-2">
                <div class="tab-content-wrap">
                    <!--{* 아래 bo_table=게시판id 설정 *}-->
                    {latest->latest_eyoom('tab_latest_text','bo_table=게시판id||count=10||cut_subject=50')}
                </div>
            </div>
            <div class="tab-pane fade in" id="main-tlt-3">
                <div class="tab-content-wrap">
                    <!--{* 아래 bo_table=게시판id 설정 *}-->
                    {latest->latest_eyoom('tab_latest_text','bo_table=게시판id||count=10||cut_subject=50')}
                </div>
            </div>
        </div>
    </div>
</div>
<!--{* ------------- Tab Latest Text 영역 끝 ------------- *}-->

<!--{* ------------- Tab Latest Image 영역 시작 ------------- *}-->
<div class="margin-bottom-30">
    <div class="tab-brd tab-brd-default">
        <ul class="nav nav-tabs">
            <!--{* 아래 게시판명을 수정하세요. *}-->
            <li class="active"><a href="#main-tli-1" data-toggle="tab">게시판명</a></li>
            <li><a href="#main-tli-2" data-toggle="tab">게시판명</a></li>
            <li class="last"><a href="#main-tli-3" data-toggle="tab">게시판명</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active in" id="main-tli-1">
                <div class="tab-content-wrap">
                    <!--{* 아래 bo_table=게시판id 설정 *}-->
                    {latest->latest_eyoom('tab_latest_image','bo_table=게시판id||count=10||cut_subject=50||img_view=y||bo_direct=n||img_width=300')}
                </div>
            </div>
            <div class="tab-pane fade in" id="main-tli-2">
                <div class="tab-content-wrap">
                    <!--{* 아래 bo_table=게시판id 설정 *}-->
                    {latest->latest_eyoom('tab_latest_image','bo_table=게시판id||count=10||cut_subject=50||img_view=y||bo_direct=n||img_width=300')}
                </div>
            </div>
            <div class="tab-pane fade in" id="main-tli-3">
                <div class="tab-content-wrap">
                    <!--{* 아래 bo_table=게시판id 설정 *}-->
                    {latest->latest_eyoom('tab_latest_image','bo_table=게시판id||count=10||cut_subject=50||img_view=y||bo_direct=n||img_width=300')}
                </div>
            </div>
        </div>
    </div>
</div>
<!--{* ------------- Tab Latest Image 영역 끝 ------------- *}-->

<!--{* ------------- Basic 최신글 영역 시작 ------------- *}-->
<div class="row margin-bottom-30">
    <div class="col-sm-6 md-margin-bottom-30">
        <!--{* 아래 title=게시판명, bo_table=게시판id 설정 *}-->
        {latest->latest_eyoom('basic','title=게시판명||bo_table=게시판id||count=10||cut_subject=50')}
    </div>

    <div class="col-sm-6">
        <!--{* 아래 title=게시판명, bo_table=게시판id 설정 *}-->
        {latest->latest_eyoom('basic','title=게시판명||bo_table=게시판id||count=10||cut_subject=50')}
    </div>
</div>
<!--{* ------------- Basic 최신글 영역 끝 ------------- *}-->

<!--{* ------------- Webzine 최신글 영역 시작 ------------- *}-->
<div class="margin-bottom-30">
    <!--{* 아래 title=게시판명, bo_table=게시판id 설정 *}-->
    {latest->latest_eyoom('webzine','title=게시판명||bo_table=게시판id||count=4||cut_subject=50||img_view=y||img_width=300||content=y||cut_content=100')}
</div>
<!--{* ------------- Webzine 최신글 영역 끝 ------------- *}-->

<!--{* ------------- Gallery 최신글 영역 시작 ------------- *}-->
<div>
    <!--{* 아래 title=게시판명, bo_table=게시판id 설정 *}-->
    {latest->latest_eyoom('gallery','title=게시판명||bo_table=게시판id||count=8||cut_subject=50||img_view=y||img_width=300||content=n||photo=n')}
</div>
<!--{* ------------- Gallery 최신글 영역 끝 ------------- *}-->

<!--{? eyoom.use_shop_itemtype == 'y'}-->
<!--{* 히트상품 시작 *}-->
<!--{? default.de_type1_list_use}-->
<div class="margin-bottom-30">
    <div class="headline">
        <h4><a href="{C.G5_SHOP_URL}/listtype.php?type=1"><strong>히트상품</strong></a></h4>
    </div>
    {hit_goods->set_view('it_img', true)}
    {hit_goods->set_view('it_id', false)}
    {hit_goods->set_view('it_name', true)}
    {hit_goods->set_view('it_basic', true)}
    {hit_goods->set_view('it_cust_price', true)}
    {hit_goods->set_view('it_price', true)}
    {hit_goods->set_view('it_icon', true)}
    {hit_goods->set_view('sns', true)}
    {hit_goods->run()}
</div>
<!--{/}-->
<!--{* 히트상품 끝 *}-->

<!--{* 추천상품 시작 *}-->
<!--{? default.de_type2_list_use}-->
<div class="margin-bottom-30">
    <div class="headline">
        <h4><a href="{C.G5_SHOP_URL}/listtype.php?type=2"><strong>추천상품</strong></a></h4>
    </div>
    {recommend_goods->set_view('it_id', false)}
    {recommend_goods->set_view('it_name', true)}
    {recommend_goods->set_view('it_basic', true)}
    {recommend_goods->set_view('it_cust_price', true)}
    {recommend_goods->set_view('it_price', true)}
    {recommend_goods->set_view('it_icon', true)}
    {recommend_goods->set_view('sns', true)}
    {recommend_goods->run()}
</div>
<!--{/}-->
<!--{* 추천상품 끝 *}-->

<!--{* 최신상품 시작 *}-->
<!--{? default.de_type3_list_use}-->
<div class="margin-bottom-30">
    <div class="headline">
        <h4><a href="{C.G5_SHOP_URL}/listtype.php?type=3"><strong>최신상품</strong></a></h4>
    </div>
    {new_goods->set_view('it_id', false)}
    {new_goods->set_view('it_name', true)}
    {new_goods->set_view('it_basic', true)}
    {new_goods->set_view('it_cust_price', true)}
    {new_goods->set_view('it_price', true)}
    {new_goods->set_view('it_icon', true)}
    {new_goods->set_view('sns', true)}
    {new_goods->run()}
</div>
<!--{/}-->
<!--{* 최신상품 끝 *}-->

<!--{* 인기상품 시작 *}-->
<!--{? default.de_type4_list_use}-->
<div class="margin-bottom-30">
    <div class="headline">
        <h4><a href="{C.G5_SHOP_URL}/listtype.php?type=4"><strong>인기상품</strong></a></h4>
    </div>
    {popular_goods->set_view('it_id', false)}
    {popular_goods->set_view('it_name', true)}
    {popular_goods->set_view('it_basic', true)}
    {popular_goods->set_view('it_cust_price', true)}
    {popular_goods->set_view('it_price', true)}
    {popular_goods->set_view('it_icon', true)}
    {popular_goods->set_view('sns', true)}
    {popular_goods->run()}
</div>
<!--{/}-->
<!--{* 인기상품 끝 *}-->

<!--{* 할인상품 시작 *}-->
<!--{? default.de_type5_list_use}-->
<div class="margin-bottom-30">
    <div class="headline">
        <h4><a href="{C.G5_SHOP_URL}/listtype.php?type=5"><strong>할인상품</strong></a></h4>
    </div>
    {sale_goods->set_view('it_id', false)}
    {sale_goods->set_view('it_name', true)}
    {sale_goods->set_view('it_basic', true)}
    {sale_goods->set_view('it_cust_price', true)}
    {sale_goods->set_view('it_price', true)}
    {sale_goods->set_view('it_icon', true)}
    {sale_goods->set_view('sns', true)}
    {sale_goods->run()}
</div>
<!--{/}-->
<!--{* 할인상품 끝 *}-->
<!--{/}-->

<!--{? C.G5_IS_MOBILE // 모바일에서만 출력}-->
<div class="main-mobile-content visible-xs">
    <!--{* 투표 시작 *}-->
    <!--{? eyoom.use_gnu_poll == 'y' //그누보드 스킨일 경우}-->
    {=poll('basic')}
    <!--{: //이윰 스킨일 경우}-->
    {=eb_poll(eyoom.poll_skin)}
    <!--{/}-->
    <!--{* 투표 끝 *}-->
</div>
<!--{/}-->

<script src="../plugins/fakeLoader/fakeLoader.min.js"></script>
<script>
    $('#fakeloader').fakeLoader({
        timeToHide:3000,
        zIndex:"11",
        spinner:"spinner6",
        bgColor:"#f4f4f4",
    });

    $(window).load(function(){
        $('#fakeloader').fadeOut(300);
    });
</script>