<?php if (!defined('_GNUBOARD_')) exit;
add_stylesheet('<link rel="stylesheet" href="../../../plugins/sweetalert/sweetalert.min.css" type="text/css" media="screen">',0);
?>

<style>
.shop-steps {position:relative;margin-bottom:30px}
.shop-steps .step-indicator {border-collapse:separate;display:table;margin-left:0;position:relative;table-layout:fixed;vertical-align:middle}
.shop-steps .step-indicator li {display:table-cell;float:none;padding:0;width:1%}
.shop-steps .step-indicator li:before {background-color:#d5d5d5;content:"";display:block;height:1px;position:relative;top:25px}
.shop-steps .step-indicator li:first-child:before {left:50%}
.shop-steps .step-indicator li:last-child:before {right:50%}
.shop-steps .step-indicator .step {background-color:#fff;border:2px solid #e5e5e5;color:#e5e5e5;font-size:20px;width:50px;height:50px;line-height:48px;border-radius:25px !important;margin:0 auto;position:relative;z-index:1}
.shop-steps .step-indicator .caption {box-sizing:border-box;color:#e5e5e5;padding:10px 15px;font-size:14px;font-weight:bold}
.shop-steps .step-indicator .active .step {border-color:#2E3340;color:#2E3340}
.shop-steps .step-indicator .active .caption {color:#2E3340}
.shop-steps .step-indicator .complete .step {border-color:#b5b5b5;color:#b5b5b5}
.shop-steps .step-indicator .complete .caption {color:#b5b5b5}
.shop-steps .step-indicator .incomplete .step {border-color:#b5b5b5;color:#b5b5b5}
.shop-steps .step-indicator .incomplete .caption {color:#b5b5b5}
.shop-steps .step-indicator .inactive .caption {color:#b5b5b5}
.shop-steps .alarm-marker .alarm-point {top:3px;right:3px}
.shop-steps .alarm-marker .alarm-effect {top:-7px;right:-7px}
.shop-cart .eyoom-form .radio i,.shop-cart .eyoom-form .checkbox i {top:2px}
.shop-cart .table-list-eb thead {border-top:2px solid #454545}
.shop-cart .table-list-eb .table>thead>tr>th {padding:10px;text-align:center}
.shop-cart .table-list-eb .table>tbody>tr>td {padding:25px 10px}
.shop-cart .table-list-eb .table>tfoot>tr>td {padding:20px 10px}
.shop-cart .table-list-eb td img {display:block;width:100% \9;max-width:100%;height:auto}
.shop-cart .table-list-eb .td-img {text-align:center}
.shop-cart .table-list-eb .td-img .td-img-box {display:inline-block;border:1px solid #e5e5e5;padding:3px;margin-top:5px;width:88px;border-radius:2px !important}
.shop-cart .table-list-eb .td-border {border-left:1px solid #e5e5e5;border-right:1px solid #e5e5e5}
.shop-cart .table-list-eb .td-bg-color {background:#fcfcfc}
.shop-cart .table-list-eb .total-icon {position:absolute;top:50%;left:-11px;margin-top:-11px;display:inline-block;width:20px;height:20px;line-height:20px;text-align:center;background:#f5f5f5;color:#454545;font-size:16px;border:1px solid #b5b5b5}
.shop-cart .table-list-eb .item-name {font-size:14px;border-bottom:1px solid #e5e5e5;padding-bottom:5px;margin-bottom:7px}
.shop-cart .table-list-eb .sod-opt ul {list-style:none;padding:0;margin:0 0 7px}
.shop-cart .table-list-eb .sod-opt ul li {color:#87BA00}
</style>

<div class="shop-steps">
	<ol class="list-inline text-center step-indicator">
		<li class="complete">
			<div class="step"><span class="fa fa-hand-pointer-o"></span></div>
			<div class="caption">상품선택</div>
		</li>
		<li class="active">
			<div class="step">
				<div class="alarm-marker">
					<span class="alarm-effect"></span>
					<span class="alarm-point"></span>
				</div>
				<i class="fa fa-shopping-basket"></i>
			</div>
			<div class="caption">장바구니</div>
		</li>
		<li class="incomplete">
			<div class="step"><i class="fa fa-credit-card"></i></div>
			<div class="caption">주문/결제</div>
		</li>
		<li class="incomplete">
			<div class="step"><i class="fa fa-check"></i></div>
			<div class="caption">주문완료</div>
		</li>
	</ol>
</div>

<div class="shop-cart">
	<form name="frmcartlist" id="sod_bsk_list" method="post" action="{_cart_action_url}" class="eyoom-form">
	<!--{? C.G5_IS_MOBILE}-->
	<p class="text-right font-size-11 margin-bottom-5 color-grey">Note! 좌우 스크롤 (<i class="fa fa-arrows-h"></i>)</p>
	<!--{/}-->
	<div class="table-list-eb margin-bottom-20">
	    <div class="table-responsive">
	        <table class="table">
	            <thead>
	                <tr>
			            <th>
			                <label for="ct_all" class="sound_only">전체선택</label>
			                <label class="checkbox">
			                	<input type="checkbox" name="ct_all" value="1" id="ct_all" checked="checked"><i></i>
			                </label>
			            </th>
			            <th>상품이미지</th>
			            <th>상품정보</th>
			            <th>상품금액</th>
			            <th>포인트</th>
			            <th>배송비</th>
	                </tr>
	            </thead>
	            <tbody>
		            <!--{@ list}-->
		            <tr>
			            <td>
			                <label for="ct_chk_{.key_}" class="sound_only">상품</label>
			                <label class="checkbox">
			                	<input type="checkbox" name="ct_chk[{.key_}]" value="1" id="ct_chk_{.key_}" checked="checked"><i></i>
			                </label>
			            </td>
			            <td class="td-img">
				            <a href="./item.php?it_id={.it_id}" class="td-img-box">{.image}</a>
				        </td>
			            <td class="td-width">
			                <input type="hidden" name="it_id[{.key_}]" value="{.it_id}">
			                <input type="hidden" name="it_name[{.key_}]" value="{.it_name}">
							<div class="item-name"><a href="./item.php?it_id={.it_id}"><strong>{=stripslashes(.it_name)}</strong></a></div>
							<!--{? .it_options}-->
							<div class="sod-opt">{.it_options}</div>
							<div class="pull-left"><button type="button" class="btn-e btn-e-default btn-e-xs rounded mod_options" data-toggle="modal" data-target="#modal_mod_option">선택사항수정</button></div>
							<!--{/}-->

							<div class="pull-right color-grey">
								{=number_format(.ct_price)}원 &#215; {=number_format(.sum_qty)}개
							</div>
							<div class="clearfix"></div>
			            </td>
			            <td class="text-right td-border td-bg-color"><strong id="sell_price_{.key_}">{=number_format(.sell_price)} 원</strong></td>
			            <td class="text-right td-border">{=number_format(.point)}</td>
			            <td class="text-center">{.ct_send_cost}</td>
		            </tr>
		            <!--{/}-->
		            <!--{? _count == 0}-->
		            <tr><td colspan="8" class="text-center"><span class="font-size-13 color-grey"><i class="fa fa-exclamation-circle"></i> 장바구니에 담긴 상품이 없습니다.</span></td></tr>
		            <!--{/}-->
		            </tr>
	            </tbody>
	            <!--{? _tot_price > 0}-->
	            <tfoot>
	            	<tr>
		            	<td colspan="3"><strong>포인트지급</strong></td>
		            	<td colspan="3" class="text-right"><strong>{=number_format(_tot_point)} 점</strong></td>
		            </tr>
	            </tfoot>
	            <!--{/}-->
	        </table>
	    </div>
	</div>

	<!--{? !_count == 0}-->
    <button type="button" onclick="return form_check('seldelete');" class="btn-e btn-e-xs btn-e-dark rounded">선택삭제</button>
    <button type="button" onclick="return form_check('alldelete');" class="btn-e btn-e-xs btn-e-dark rounded">전체삭제</button>
	<!--{/}-->

	<!--{? _tot_price > 0 || _send_cost > 0}-->
	<div class="table-list-eb margin-top-40 margin-bottom-20">
	    <div class="table-responsive">
	        <table class="table">
	            <thead>
	                <tr>
			            <th>총 상품가격</th>
			            <th>총 배송비</th>
			            <th>총 결제 예정금액</th>
	                </tr>
	            </thead>
	            <tbody>
		            <tr>
			        	<td class="text-center position-relative">
				        	<strong class="font-size-17">{=number_format(_tot_sell_price)}</strong> <strong>원</strong>
				        </td>
			        	<td class="text-center position-relative td-border">
				        	<strong class="total-icon">+</strong>
				        	<strong class="font-size-17">{=number_format(_send_cost)}</strong> <strong>원</strong>
				        </td>
			        	<td class="text-center position-relative td-bg-color">
				        	<strong class="total-icon">=</strong>
				        	<strong class="font-size-17 color-red">{=number_format(_tot_price)}</strong> <strong class="color-red">원</strong>
				        </td>
			        </tr>
		        </tbody>
		    </table>
		</div>
	</div>
	<!--{/}-->

    <div class="text-center margin-top-40">
		<!--{? _count == 0}-->
        <a href="{C.G5_SHOP_URL}/" class="btn-e btn-e-xlg btn-e-dark">쇼핑 계속하기</a>
        <!--{:}-->
        <input type="hidden" name="url" value="./orderform.php">
        <input type="hidden" name="records" value="{_count}">
        <input type="hidden" name="act" value="">
        <a href="{C.G5_SHOP_URL}/list.php?ca_id={_continue_ca_id}" class="btn-e btn-e-xlg btn-e-default">쇼핑 계속하기</a>
        <button type="button" onclick="return form_check('buy');" class="btn-e btn-e-xlg btn-e-blue">주문하기</button>
        <!--{? _naverpay_button_js}-->
        <div class="cart-naverpay">{_naverpay_request_js}{_naverpay_button_js}</div>
        <!--{/}-->
        <!--{/}-->
    </div>
	</form>
</div>

<!--{* 선택사항 수정 모달 시작 *}-->
<div id="modal_mod_option" class="modal fade">
	<div class="modal-dialog modal-default">
		<div class="modal-content">
			<div class="modal-header bg-light">
				<button type="button" class="close mod_option_close" data-dismiss="modal">×</button>
				<h4 class="modal-title"><strong>상품 선택사항 수정</strong></h4>
			</div>
			<div class="modal-body"></div>
			<div class="modal-footer">
				<button type="button" class="btn-e btn-e-lg btn-e-dark mod_option_close" data-dismiss="modal"><i class="fa fa-close"></i> 닫기</button>
			</div>
		</div>
	</div>
</div>
<!--{* 선택사항 수정 모달 끝 *}-->

<script src="../../../../../../js/shop.js"></script>
<script src="../../../plugins/sweetalert/sweetalert.min.js"></script>
<script>
$(function() {
    var close_btn_idx;

    // 선택사항수정
    $(".mod_options").click(function() {
        var it_id = $(this).closest("tr").find("input[name^=it_id]").val();
        var $this = $(this);
        close_btn_idx = $(".mod_options").index($(this));

        $.post(
            "./cartoption.php",
            { it_id: it_id },
            function(data) {
                $("#mod_option_frm").remove();
                $("#modal_mod_option .modal-body").html("<div id=\"mod_option_frm\"></div>");
                $("#mod_option_frm").html(data);
                price_calculate();
            }
        );
    });

    // 모두선택
    $("input[name=ct_all]").click(function() {
        if($(this).is(":checked"))
            $("input[name^=ct_chk]").attr("checked", true);
        else
            $("input[name^=ct_chk]").attr("checked", false);
    });

    // 옵션수정 닫기
    $(document).on("click", ".mod_option_close", function() {
        $("#mod_option_frm").remove();
        $(".mod_options").eq(close_btn_idx).focus();
    });

});

function fsubmit_check(f) {
    if($("input[name^=ct_chk]:checked").size() < 1) {
        swal({
            title: "Oops...",
            text: "구매하실 상품을 하나이상 선택해 주십시오.",
            confirmButtonColor: "#FF2900",
            type: "error",
            confirmButtonText: "확인"
        });
        return false;
    }

    return true;
}

function form_check(act) {
    var f = document.frmcartlist;
    var cnt = f.records.value;

    if (act == "buy") {
        if($("input[name^=ct_chk]:checked").size() < 1) {
	        swal({
	            title: "Oops...",
	            text: "주문하실 상품을 하나이상 선택해 주십시오.",
	            confirmButtonColor: "#FF2900",
	            type: "error",
	            confirmButtonText: "확인"
	        });
            return false;
        }

        f.act.value = act;
        f.submit();
    } else if (act == "alldelete") {
        f.act.value = act;
        f.submit();
    } else if (act == "seldelete") {
        if($("input[name^=ct_chk]:checked").size() < 1) {
	        swal({
	            title: "Oops...",
	            text: "삭제하실 상품을 하나이상 선택해 주십시오.",
	            confirmButtonColor: "#FF2900",
	            type: "error",
	            confirmButtonText: "확인"
	        });
            return false;
        }

        f.act.value = act;
        f.submit();
    }

    return true;
}
</script>